<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('carInfoForm.title', $route.query.mode))">
    <div class="box-card">
      <el-row :gutter="20">
        <el-col :lg="18">
          <el-form
            ref="form"
            :model="form"
            status-icon
            :rules="rules"
            label-width="auto"
            class="demo-form"
            label-position="top"
          >
            <el-form-item :label="$t('carInfoForm.typeLabel')" prop="type">
              <el-select v-model="form.type" placeholder="">
                <el-option
                  v-for="item in Object.keys(carInfo)"
                  :key="item.value"
                  :label="$t('carInfo.' + carInfo[item])"
                  :value="item"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item v-if="form.type" :label="$t('carInfoForm.nameLabel')" prop="name">
              <el-input v-model="form.name" type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item
              v-if="form.type == carInfo.partner"
              :label="$t('carInfoForm.driverNameLabel')"
              prop="driverName"
            >
              <el-input v-model="form.driverName" type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item v-if="form.type" :label="$t('carInfoForm.detailLabel')" prop="detail">
              <el-input v-model="form.detail" type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item
              v-if="form.type == carInfo.partner"
              :label="$t('carInfoForm.phoneNumberLabel')"
              prop="phoneNumber"
            >
              <el-input v-model="form.phoneNumber" type="number" autocomplete="off" />
            </el-form-item>

            <el-form-item v-if="form.type" :label="$t('carInfoForm.partnerIdLabel')" prop="partnerId">
              <el-select
                v-model="form.partnerId"
                filterable
                remote
                reserve-keyword
                placeholder="Please enter a keyword"
                :remote-method="remoteMethod"
                :loading="loading"
              >
                <el-option
                  v-for="item in partnerOptions"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>

            <el-form-item>
              <el-button type="primary" @click="submitForm('form')">
                {{ $t($filters.getTranslateByMode('carInfoForm.action', $route.query.mode)) }}
              </el-button>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :lg="6"></el-col>
      </el-row>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { carInfo } from '@/constants/carInfo'

export default {
  data() {
    return {
      carInfo: carInfo,
      form: {
        type: '',
        name: '',
        driverName: '',
        detail: '',
        phoneNumber: '',
        partnerId: '',
        carTypeId: ''
      },
      value: 123,
      partnerOptions: [],
      loading: true,
      query: ''
    }
  },
  computed: {
    rules() {
      return {
        type: [{ required: true, message: this.$t('carInfoForm.typeRequired'), trigger: 'blur' }],
        name: [
          {
            required: true,
            message: this.$t('carInfoForm.nameRequired'),
            trigger: 'blur'
          }
        ],
        driverName: [{ required: true, message: this.$t('carInfoForm.driverNameRequired'), trigger: 'blur' }],
        detail: [
          {
            required: true,
            message: this.$t('carInfoForm.detailRequired'),
            trigger: 'blur'
          }
        ],
        phoneNumber: [
          {
            required: this.form.type == this.carInfo.partner,
            message: this.$t('carInfoForm.driverNameRequired'),
            trigger: 'blur'
          }
        ],
        partnerId: [
          {
            required: true,
            message: this.$t('carInfoForm.partnerIdRequired'),
            trigger: 'blur'
          }
        ]
      }
    }
  },
  watch: {
    'form.type'(newValue) {}
  },
  mounted() {
    this.loadPartnerOptions({})
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('carInfoManager/loadData', this.$route.query.id).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    loadPartnerOptions(options) {
      this.loading = true
      this.$store
        .dispatch('partnerManager/loadPaged', options)
        .then((res) => {
          this.partnerOptions = res.data.results
          this.loading = false
        })
        .catch((res) => {
          this.loading = false
        })
    },
    actionAdd() {
      this.$store
        .dispatch('carInfoManager/addData', this.form)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'carInfoManager' })
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      this.$store.dispatch('carInfoManager/editData', this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'carInfoManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    resetData() {
      this.form.name = ''
      this.form.driverName = ''
      this.form.detail = ''
      this.form.phoneNumber = ''
      this.form.partnerId = ''
    },
    remoteMethod(query) {
      if (query) {
        console.log(query)
        this.loadPartnerOptions({ name: query })
        debounce((e) => {}, 1000)
      } else {
        this.options.value = []
      }
    },
    lpartnerSearchChange(val, cb) {
      if (val) {
        this.onSubmitFilterLocation()
      }
      cb([])
    }
  }
}
</script>
