<template>
  <manager-template-page :title="$t('rank.form.title')">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('rank.form.point')" prop="point">
          <el-input v-model="form.point" type="number" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('rank.form.promotion')" prop="promotion">
          <el-input v-model="form.promotion" type="number" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('rank.form.freeAddress')" prop="freeAddress">
          <el-input v-model="form.freeAddress" type="number" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t('rank.form.submit') }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
export default {
  data() {
    return {
      form: {
        point: '',
        promotion: '',
        freeAddress: ''
      }
    }
  },
  computed: {
    rules() {
      return {
        point: [{ required: true, message: this.$t('rank.form.nameRequired'), trigger: 'blur' }],
        promotion: [{ required: true, message: this.$t('rank.form.descriptionRequired'), trigger: 'blur' }],
        freeAddress: [{ required: true, message: this.$t('rank.form.seatsRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    this.$store.dispatch('rankManager/loadData', this.$route.query.id).then((res) => {
      console.log(res)
      this.form = res.data
    })
  },
  methods: {
    actionAdd() {
      this.$store
        .dispatch('rankManager/addData', this.ruleForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'rankManager' })
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      this.$store.dispatch('rankManager/editData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'rankManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
