<template>
  <manager-template-page title="rankManager.title">
    <data-toolbar :reload-able="true" @reload-event="reloadMethod" />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="data.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('rankManager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rankManager.level')"
        width="120"
        prop="level"
      >
        <template #default="scope">
          {{ $t('rank.' + scope.row.level) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rankManager.point')"
        width="150"
        prop="point"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rankManager.promotion')"
        width="150"
        prop="promotion"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rankManager.freeAddress')"
        width="100"
        prop="freeAddress"
      />
      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'rankEdit', query: { id: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
            disabled
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="data.totalItems > 0"
      :page-size="parseInt($route.query.pageSize)"
      :current-page="parseInt($route.query.pageNumber)"
      :total="data.totalItems"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </manager-template-page>
</template>
<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/pagination/index.vue'
import DataToolbar from '@/components/data-toolbar/index.vue'
import { ElMessage } from 'element-plus'
// import { CAR_TYPE } from '@/constants/rank'

export default {
  components: {
    Pagination,
    DataToolbar
  },
  data() {
    return {
      // rank: CAR_TYPE,
      tableKey: 0,
      listLoading: false
    }
  },
  computed: {
    ...mapGetters({
      data: 'rankManager/dataPaged'
    })
  },
  mounted() {
    this.configDefaultQueries()
  },
  methods: {
    configDefaultQueries() {
      this.$router
        .push({
          query: {
            ...this.$route.query,
            pageSize: this.$route.query.pageSize ? this.$route.query.pageSize : 15,
            pageNumber: this.$route.query.pageNumber ? this.$route.query.pageNumber : 1
          }
        })
        .then(() => {
          this.loadData()
        })
    },
    loadData() {
      this.$store.dispatch('rankManager/loadPaged', {
        ...this.$route.query
      })
    },
    deleteData(id) {
      this.$store
        .dispatch('rankManager/deleteData', id)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.reloadMethod()
        })
        .catch((res) => {})
    },
    reloadMethod() {
      this.loadData()
    },
    filterMethod(value) {
      this.searchKey = value
      this.pageNumber = 1
      this.loadData()
      this.drawerFilter = false
    },
    handleSizeChange(val) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageSize: val } }).then(() => {
        this.loadData()
      })
    },
    handleCurrentChange(val) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageNumber: val } }).then(() => {
        this.loadData()
      })
    }
  }
}
</script>
<style></style>
