<template>
  <manager-template-page title="rentalConditionManager.title">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="true"
      @add-event="addMethod"
      @reload-event="reloadMethod"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="data.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('rentalConditionManager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rentalConditionManager.province')"
        width="250"
        prop="province.name"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rentalConditionManager.section')"
        width="250"
        prop="section"
      >
        <template #default="scope">
          {{ $t('rentalConditionSection.' + rentalConditionSection[scope.row.section]) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rentalConditionManager.value')"
        width="400"
        prop="value"
      />

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link
            :to="{ name: 'rentalConditionForm', query: { mode: 'edit', id: scope.row.id } }"
            class="table-btn-edit"
          >
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="data.totalItems > 0"
      :page-size="parseInt($route.query.pageSize)"
      :current-page="parseInt($route.query.pageNumber)"
      :total="data.totalItems"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('rentalConditionManager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('rentalConditionManager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="handleDataDelete">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('carRentalManager.province')">
            <el-select v-model="filter.provinceId" filterable clearable placeholder="Select">
              <el-option v-for="item in province" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="filterMethod">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer>
  </manager-template-page>
</template>
<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/pagination/index.vue'
import DataToolbar from '@/components/data-toolbar/index.vue'
import { ElMessage } from 'element-plus'
import { rentalConditionSection } from '@/constants/rentalConditionSection'

export default {
  components: {
    Pagination,
    DataToolbar
  },
  data() {
    return {
      rentalConditionSection: rentalConditionSection,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false,
      filter: {
        provinceId: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      data: 'rentalConditionManager/dataPaged'
    })
  },
  mounted() {
    this.configDefaultQueries()
  },
  methods: {
    configDefaultQueries() {
      this.$router
        .push({
          query: {
            ...this.$route.query,
            pageSize: this.$route.query.pageSize ? this.$route.query.pageSize : 15,
            pageNumber: this.$route.query.pageNumber ? this.$route.query.pageNumber : 1
          }
        })
        .then(() => {
          this.loadData()
          this.loadProvince()
        })
    },
    loadProvince() {
      this.$store
        .dispatch('provinceManager/loadPaged', {})
        .then((res) => {
          this.province = res.data.results
        })
        .catch((res) => {})
    },
    loadData() {
      this.$store.dispatch('rentalConditionManager/loadPaged', {
        ...this.$route.query
      })
    },
    addMethod() {
      this.$router.replace({
        name: 'rentalConditionForm',
        query: { mode: 'add' }
      })
    },
    deleteData(id) {
      this.$store
        .dispatch('rentalConditionManager/deleteData', id)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.reloadMethod()
        })
        .catch((res) => {})
    },
    reloadMethod() {
      this.loadData()
    },
    filterMethod(value) {
      this.$router
        .push({ path: this.$route.path, query: { ...this.$route.query, provinceId: this.filter.provinceId } })
        .then(() => {
          this.loadData()
          this.drawerFilter = false
        })
    },
    handleSizeChange(val) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageSize: val } }).then(() => {
        this.loadData()
      })
    },
    handleCurrentChange(val) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageNumber: val } }).then(() => {
        this.loadData()
      })
    },
    handleDataSelected(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    handleDataDelete() {
      this.deleteData(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
