<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('rentalConditionForm.title', $route.query.mode))">
    <div class="box-card">
      {{ form.province }}
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('rentalConditionForm.provinceId')" prop="provinceId" value-key="id">
          <el-select v-model="form.provinceId" placeholder="Select">
            <el-option v-for="item in province" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('rentalConditionForm.section')" prop="section">
          <el-select v-model="form.section" placeholder="">
            <el-option
              v-for="item in Object.keys(rentalConditionSection)"
              :key="item.value"
              :label="$t('rentalConditionSection.' + rentalConditionSection[item])"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('rentalConditionForm.value')" prop="value">
          <el-input v-model="form.value" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($filters.getTranslateByMode('rentalConditionForm.action', $route.query.mode)) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { rentalConditionSection } from '@/constants/rentalConditionSection'
export default {
  data() {
    return {
      rentalConditionSection: rentalConditionSection,
      value: '1',
      ruleForm: {
        name: '',
        charge: 0,
        surcharge: 0,
        carTypeId: null,
        provinceId: null
      },
      form: {
        section: '',
        value: '',
        provinceId: ''
      },
      province: null
    }
  },
  computed: {
    rules() {
      return {
        section: [{ required: true, message: this.$t('rentalConditionForm.sectionRequired'), trigger: 'blur' }],
        value: [{ required: true, message: this.$t('rentalConditionForm.valueRequired'), trigger: 'blur' }],
        provinceId: [{ required: true, message: this.$t('rentalConditionForm.provinceIdRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    this.loadProvince()
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('rentalConditionManager/loadData', this.$route.query.id).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    loadProvince() {
      this.$store
        .dispatch('provinceManager/loadPaged', {})
        .then((res) => {
          console.log(res)
          this.province = res.data.results
          console.log(this.province)
        })
        .catch((res) => {})
    },
    actionAdd() {
      this.$store
        .dispatch('rentalConditionManager/addData', this.form)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          // this.$router.replace({ name: 'rentalConditionManager' })
          this.$router.back()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      this.$store.dispatch('rentalConditionManager/editData', this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.back()
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
