<template>
  <div>
    <el-form
      ref="filters"
      :model="filters"
      :rules="rules"
      label-width="120px"
      class="demo-ruleForm"
      label-position="top"
    >
      <el-form-item :label="$t('calendar.rental.filters.startDate')">
        <el-date-picker
          v-model="filters.startDate"
          type="date"
          :editable="false"
          :format="$system.FORMAT_DATE"
          :value-format="$system.FORMAT_DATE"
          placeholder="Pick a day"
          :shortcuts="true"
        />
      </el-form-item>
      <el-form-item :label="$t('calendar.rental.filters.endDate')">
        <el-date-picker
          v-model="filters.endDate"
          type="date"
          :editable="false"
          :format="$system.FORMAT_DATE"
          :value-format="$system.FORMAT_DATE"
          placeholder="Pick a day"
          :shortcuts="true"
        />
      </el-form-item>
      <el-form-item :label="$t('bookingStatus.title')">
        <el-checkbox-group v-model="filters.status" :min="1">
          <el-checkbox v-for="item in Object.keys(bookingStatus)" :key="item" :label="item">
            <!-- {{ $t('bookingStatus.' + bookingStatus[item]) }} -->
            {{ bookingStatus[item] }}
          </el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <!-- <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button> -->
      <el-button type="primary" @click="onFilterSubmit">{{ $t('common.confirm') }}</el-button>
    </el-form>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { bookingType } from '@/constants/booking'
import { bookingStatus } from '@/constants/booking'
export default {
  emits: ['onFilterSubmitted'],
  data() {
    return {
      bookingType: bookingType,
      bookingStatus: bookingStatus
    }
  },
  computed: {
    ...mapGetters('calendarRental', ['filters'])
  },
  methods: {
    ...mapActions('calendarRental', ['loadPaged']),
    loadData() {
      this.loadPaged()
    },

    reloadMethod() {
      this.loadData()
    },

    onFilterSubmit() {
      this.loadData()
      this.drawerFilter = false
      this.$emit('onFilterSubmitted')
    }
  }
}
</script>
<style></style>
