<template>
  <div class="data-toolbar-container">
    <el-input
      v-if="searchAble"
      v-model="searchValue"
      :placeholder="$t(searchHint)"
      style="width: 200px"
      class="filter-item"
      @keyup.enter="handlerFilterEvent"
    />

    <el-button v-if="reloadAble" class="filter-item" type="primary" @click="handlerReloadEvent">
      <el-icon><svg-icon icon-class="reload" fill="#FFFFFF" /></el-icon>
    </el-button>
    <el-button v-if="addAble" class="filter-item" type="success" @click="handlerAddEvent">
      <el-icon><svg-icon icon-class="add" fill="#FFFFFF" /></el-icon>
    </el-button>
    <el-button v-if="filterAble" class="filter-item" type="success" @click="handlerFilterEvent">
      <el-icon>
        <svg-icon icon-class="filter" fill="#FFFFFF" />
      </el-icon>
    </el-button>
  </div>
</template>
<script>
export default {
  props: {
    searchHint: {
      type: String,
      default() {
        return 'common.searchHint'
      }
    },
    reloadAble: {
      type: Boolean,
      default() {
        return false
      }
    },
    addAble: {
      type: Boolean,
      default() {
        return false
      }
    },
    filterAble: {
      type: Boolean,
      default() {
        return false
      }
    },
    searchAble: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  emits: ['addEvent', 'reloadEvent', 'filterEvent'],
  data() {
    return {
      searchValue: ''
    }
  },
  methods: {
    handlerAddEvent() {
      this.$emit('addEvent')
    },
    handlerReloadEvent() {
      this.$emit('reloadEvent')
    },
    handlerFilterEvent() {
      this.$emit('filterEvent')
    },
    handlerSearchEvent() {
      this.$emit('filterEvent', this.searchValue)
    }
  }
}
</script>
<style lang=""></style>
