<template>
  <manager-template-page title="asking.title">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="true"
      @add-event="addMethod"
      @reload-event="reloadMethod"
      @filter-event="drawerFilter = true"
    />

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="data"
      border
      fit
      highlight-current-row
      style="width: 100%"
      height="75vh"
      :row-class-name="(row, rowIndex) => bookingTypeClass[row.row.type]"
    >
      <!-- <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        align="center"
        type="index"
        :label="$t('asking.order')"
        width="70"
      /> -->
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        align="center"
        :label="$t('asking.timeLeave')"
        width="120"
        fixed
      >
        <template #default="scope">
          {{ scope.row.timeLeave }}
        </template>
      </el-table-column>
      <!-- <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.partnerNotify')"
        width="120"
      >
        <template #default="scope">
        </template>
      </el-table-column> -->
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.type')"
        width="150"
      >
        <template #default="scope">
          {{ $t(bookingType[scope.row.type]) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.seats')"
        width="150"
        prop="carType.name"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.customer')"
        width="150"
        prop="user.userName"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.addressStart')"
        width="250"
      >
        <template #default="scope">
          <p v-for="(item, index) in bookingAddressFilter(scope.row.bookingAddress, 'start')" :key="index">
            - {{ item.detail }}
          </p>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.addressEnd')"
        width="150"
      >
        <template #default="scope">
          <p v-for="(item, index) in bookingAddressFilter(scope.row.bookingAddress, 'end')" :key="index">
            - {{ item.detail }}
          </p>
        </template>
      </el-table-column>
      <el-table-column
        min-width="120"
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.moneyPayment')"
        prop="moneyPayment"
      />
      <el-table-column
        min-width="120"
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.moneyPromotion')"
        prop="moneyPromotion"
      />
      <el-table-column
        min-width="400"
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.outputInfo')"
      >
        <template #default="scope">
          <div
            v-clipboard:copy="$filters.getPartnerMessenger(scope.row)"
            v-clipboard:success="onCopy"
            v-clipboard:error="onError"
            @click="true"
            class="btn-copy"
          >
            {{ $filters.getPartnerMessenger(scope.row) }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="260"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <span class="table-btn-edit">
            <el-button type="primary" size="small" @click="carArrange.dialogVisible = true">
              <el-icon>
                <svg-icon icon-class="car-arranged" />
              </el-icon>
            </el-button>
          </span>
          <span class="table-btn-edit">
            <el-button type="success" size="small" @click="carArrange.dialogVisible = true">
              <el-icon>
                <svg-icon icon-class="money" />
              </el-icon>
            </el-button>
          </span>
          <router-link
            :to="{ name: 'BookingDetail', query: { mode: 'edit', id: scope.row.id } }"
            class="table-btn-edit"
          >
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>set title by slot</h4>
      </template>
      <template #default>
        <el-form
          ref="askingRequest"
          :model="askingRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item label="Instant delivery">
            <el-date-picker
              v-model="askingRequest.date"
              type="date"
              :editable="false"
              :format="$system.FORMAT_DATE"
              :value-format="$system.FORMAT_DATE"
              placeholder="Pick a day"
              :shortcuts="true"
            />
          </el-form-item>
          <el-form-item label="Instant delivery">
            <el-checkbox-group v-model="askingRequest.types" :min="1">
              <el-checkbox v-for="bt in Object.keys(bookingType)" :key="bt" :label="bt">
                {{ $t(bookingType[bt]) }}
              </el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item label="Instant delivery">
            <el-checkbox-group v-model="askingRequest.status" :min="1">
              <el-checkbox v-for="item in Object.keys(bookingStatus)" :key="item" :label="item">
                {{ $t(bookingStatus[item]) }}
              </el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="filterMethod">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer>
  </manager-template-page>
</template>
<script>
import { ElMessage } from 'element-plus'
import { mapGetters } from 'vuex'
import DataToolbar from '@/components/data-toolbar/index.vue'
import { bookingType, bookingTypeClass } from '@/constants/booking'
import { bookingStatus } from '@/constants/booking'

export default {
  components: {
    DataToolbar
  },
  data() {
    return {
      bookingType: bookingType,
      bookingTypeClass: bookingTypeClass,
      bookingStatus: bookingStatus,
      askingRequest: {
        date: new Date().toLocaleDateString('vi-VN'),
        types: Object.keys(bookingType),
        status: Object.keys(bookingStatus)
      },
      drawerFilter: false,
      tableKey: 0,
      listLoading: false,
      pageSize: 15,
      pageNumber: 1,
      searchKey: '',
      dialogVisible: false,
      selectedData: null
    }
  },
  computed: {
    ...mapGetters({
      data: 'asking/dataPaged'
    })
  },
  created() {
    console.log(this.askingRequest)
    this.loadData(this.askingRequest)
  },
  methods: {
    test() {
      console.log(this.askingRequest)
    },
    loadData() {
      this.$store.dispatch('asking/loadPaged', this.askingRequest)
    },

    // deleteData(id) {
    //   this.$store.dispatch('voucherManager/deleteData', id)
    // },
    // addMethod() {
    //   this.$router.replace({
    //     name: 'VoucherForm',
    //     // path: '/system/user/add',
    //     query: { mode: 'add' }
    //   })
    // },
    reloadMethod() {
      this.loadData()
    },
    filterMethod() {
      this.loadData()
      this.drawerFilter = false
    },

    bookingAddressFilter(array, value) {
      var results = array.filter((e) => e.type == value)
      console.log(results)
      return results
    },
    onCopy() {
      ElMessage({ message: 'Copy success', type: 'success' })
    }
  }
}
</script>
<style scoped>
.el-table__row {
  padding: 0;
}
</style>
