<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('priceListForm.title', $route.query.mode))">
    <div class="box-card">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('priceListForm.nameLabel')" prop="name">
          <el-input v-model="ruleForm.name" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('priceListForm.descriptionLabel')" prop="description">
          <el-input v-model="ruleForm.description" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">
            {{ $t($filters.getTranslateByMode('priceListForm.action', $route.query.mode)) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
export default {
  data() {
    return {
      ruleForm: {
        name: '',
        description: '',
        seats: '',
        type: ''
      },
      rules: {
        name: [{ required: true, message: this.$t('priceListForm.nameRequired'), trigger: 'blur' }],
        description: [{ required: true, message: this.$t('priceListForm.descriptionRequired'), trigger: 'blur' }],
        seats: [{ required: true, message: this.$t('priceListForm.seatsRequired'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('priceListForm.typeRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('priceListManager/loadData', this.$route.query.id).then((res) => {
        this.ruleForm = res.data
      })
    }
  },
  methods: {
    actionAdd() {
      this.$store
        .dispatch('priceListManager/addData', this.ruleForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'priceListManager' })
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      this.$store.dispatch('priceListManager/editData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'priceListManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
