<template>
  <manager-template-page title="routeManager.title">
    <data-toolbar :add-able="true" :reload-able="true" @add-event="addMethod" @reload-event="reloadMethod" />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="data.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
      :row-class-name="(row, rowIndex) => bookingTypeClass[row.row.type]"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('routeManager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('routeManager.type')"
        width="120"
      >
        <template #default="scope">
          <div>
            <el-tag type="" size="large">
              {{ $t('bookingType.' + bookingType[scope.row.type]) }}
            </el-tag>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('routeManager.start')"
        min-width="350"
      >
        <template #default="scope">
          <div>
            <el-tag type="" size="large">
              {{ $t('location.' + locationType[scope.row.start.type]) }}
            </el-tag>
            {{ scope.row.start.detail }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('routeManager.end')"
        width="350"
      >
        <template #default="scope">
          <div>
            <el-tag type="" size="large">
              {{ $t('location.' + locationType[scope.row.end.type]) }}
            </el-tag>
            {{ scope.row.end.detail }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('routeManager.carType')"
        width="150"
        prop="carType.name"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('routeManager.estimatedFee')"
        width="200"
      >
        <template #default="scope">
          <div>
            {{ $filters.toVnd(scope.row.estimatedFee) }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'routeForm', query: { mode: 'edit', id: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="data.totalItems > 0"
      :page-size="parseInt($route.query.pageSize)"
      :current-page="parseInt($route.query.pageNumber)"
      :total="data.totalItems"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('routeManager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('routeManager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="handleDataDelete">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
  </manager-template-page>
</template>
<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/pagination/index.vue'
import DataToolbar from '@/components/data-toolbar/index.vue'
import { ElMessage } from 'element-plus'
import { LOCATION_TYPE } from '@/constants/locationType'
import { ROUTE_TYPE } from '@/constants/routeType'
import { bookingType, bookingTypeClass } from '@/constants/booking'

export default {
  components: {
    Pagination,
    DataToolbar
  },
  data() {
    return {
      bookingType: bookingType,
      bookingTypeClass: bookingTypeClass,
      locationType: LOCATION_TYPE,
      routeType: ROUTE_TYPE,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null
    }
  },
  computed: {
    ...mapGetters({
      data: 'routeManager/dataPaged'
    })
  },
  mounted() {
    this.configDefaultQueries()
  },
  methods: {
    configDefaultQueries() {
      this.$router
        .push({
          query: {
            ...this.$route.query,
            pageSize: this.$route.query.pageSize ? this.$route.query.pageSize : 15,
            pageNumber: this.$route.query.pageNumber ? this.$route.query.pageNumber : 1
          }
        })
        .then(() => {
          this.loadData()
          this.loadProvince()
        })
    },
    loadData() {
      this.$store.dispatch('routeManager/loadPaged', {
        ...this.$route.query
      })
    },
    addMethod() {
      this.$router.replace({
        name: 'routeForm',
        query: { mode: 'add' }
      })
    },
    deleteData(id) {
      this.$store
        .dispatch('routeManager/deleteData', id)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.reloadMethod()
        })
        .catch((res) => {})
    },
    reloadMethod() {
      this.loadData()
    },
    filterMethod(value) {
      this.searchKey = value
      this.pageNumber = 1
      this.loadData({
        pageSize: this.pageSize,
        pageNumber: this.pageNumber,
        type: this.type
      })
    },
    handleSizeChange(val) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageSize: val } }).then(() => {
        this.loadData()
      })
    },
    handleCurrentChange(val) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageNumber: val } }).then(() => {
        this.loadData()
      })
    },
    handleDataSelected(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    handleDataDelete() {
      this.deleteData(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    },
    handlerFilterType(value) {
      console.log(value)
      if (this.type != value) {
        this.type = value
        this.reloadMethod()
      }
    }
  }
}
</script>
<style></style>
