<template>
  <manager-template-page title="voucherManager.title">
    <data-toolbar @addEvent="addMethod" @reloadEvent="reloadMethod" @filterEvent="filterMethod" />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="voucherPaged.results"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="id" :label="$t('voucherManager.id')" width="150" label-class-name="table-header-style" />
      <el-table-column
        prop="value"
        sortable
        x
        :label="$t('voucherManager.value')"
        label-class-name="table-header-style"
      />
      <el-table-column prop="remaining" :label="$t('voucherManager.remaining')" label-class-name="table-header-style" />
      <el-table-column :label="$t('voucherManager.startDate')" label-class-name="table-header-style">
        <template #default="scope">
          {{ format_date(scope.row.startDate) }}
        </template>
      </el-table-column>

      <el-table-column :label="$t('voucherManager.endDate')" label-class-name="table-header-style">
        <template #default="scope">
          {{ format_date(scope.row.endDate) }}
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <el-button type="warning" size="small" @click="handleUpdate(scope.row)">
            <el-icon>
              <svg-icon icon-class="edit" />
            </el-icon>
          </el-button>
          <el-button v-if="scope.row.status != 'deleted'" size="small" type="danger">
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="voucherPaged.totalItems > 0"
      :page-size="pageSize"
      :current-page="voucherPaged.CurrentPage"
      :total="voucherPaged.totalItems"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />

    <!-- <el-dialog :title="dialogTitle" v-model="dialogFormVisible" center top="15vh">
      <div>123</div>
    </el-dialog> -->
  </manager-template-page>
</template>
<script>
import moment from 'moment'
import { useStore, mapGetters } from 'vuex'
import Pagination from '@/components/pagination/index.vue'
import DataToolbar from '@/components/data-toolbar/index.vue'

export default {
  // // setup() {
  // //   const store = useStore();
  // //   onMounted(() => {
  // //     store.dispatch("users/loadUsers", {});
  // //     console.log(store.getters.users);
  // //   });
  // //   const nameAndCountry: WritableComputedRef<string> = computed(
  // //     mapGetters({
  // //       users: "users/data",
  // //     })
  // //   );
  // //   return {
  // //     tableKey: 0,
  // //     listLoading: true,
  // //   };
  // // },
  components: {
    Pagination,
    DataToolbar
  },
  data() {
    return {
      tableKey: 0,
      listLoading: false,
      pageSize: 15,
      pageNumber: 1,
      valueSearch: ''
    }
  },
  computed: {
    ...mapGetters({
      voucherPaged: 'voucherManager/voucherPaged'
    })
  },
  created() {
    this.$store.dispatch('voucherManager/loadVouchers', {
      pageSize: this.pageSize,
      pageNumber: this.pageNumber
    })
  },
  methods: {
    addMethod() {
      // console.log("addMethod");
      // this.dialogFormVisible = !this.dialogFormVisible;
      this.$router.replace({
        name: 'VoucherForm',
        // path: '/system/user/add',
        query: { mode: 'edit' }
      })
    },
    reloadMethod() {
      this.$store.dispatch('voucherManager/loadVouchers', {
        pageSize: this.pageSize,
        pageNumber: this.pageNumber,
        id: this.valueSearch
      })
    },
    filterMethod(value) {
      this.valueSearch = value
      this.$store.dispatch('voucherManager/loadVouchers', {
        pageSize: this.pageSize,
        pageNumber: this.pageNumber,
        id: value
      })
    },
    format_date(value) {
      if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
      }
    },
    handleSizeChange(val) {
      this.pageSize = val
      this.$store.dispatch('voucherManager/loadVouchers', {
        pageSize: this.pageSize,
        pageNumber: this.pageNumber
      })
    },
    handleCurrentChange(val) {
      this.pageNumber = val
      this.$store.dispatch('voucherManager/loadVouchers', {
        pageSize: this.pageSize,
        pageNumber: this.pageNumber
      })
    }
  }
}
</script>
<style></style>
