<template>
  <manager-template-page title="voucherForm.titleAdd">
    <el-card class="box-card">
      <el-form ref="ruleFormRef" :model="ruleForm" status-icon :rules="rules" label-width="auto" class="demo-ruleForm">
        <el-form-item :label="$t('user-form.usernameHint')" prop="pass">
          <el-input v-model="ruleForm.pass" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('user-form.passwordHint')" prop="checkPass">
          <el-input v-model="ruleForm.checkPass" type="password" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('user-form.fullNameHint')" prop="checkPass">
          <el-input v-model="ruleForm.checkPass" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary">{{ $t('user-form.submit') }}</el-button>
          <el-button>Reset</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </manager-template-page>
</template>

<script>
export default {
  data() {
    return {
      ruleForm: {
        pass: '',
        checkPass: '',
        age: ''
      },
      rules: {
        pass: [{ validator: this.validatePass, trigger: 'blur' }],
        checkPass: [{ validator: this.validatePass2, trigger: 'blur' }],
        age: [{ validator: this.checkAge, trigger: 'blur' }]
      }
    }
  },
  methods: {
    checkAge(rule, value, callback) {
      if (!value) {
        return callback(new Error('Please input the age'))
      }
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error('Please input digits'))
        } else {
          if (value < 18) {
            callback(new Error('Age must be greater than 18'))
          } else {
            callback()
          }
        }
      }, 1000)
    },
    validatePass(rule, value, callback) {
      if (value === '') {
        callback(new Error('Please input the password'))
      } else {
        if (this.ruleForm.checkPass !== '') {
          if (!this.ruleFormRef.value) return
          this.ruleFormRef.value.validateField('checkPass', () => null)
        }
        callback()
      }
    },
    validatePass2(rule, value, callback) {
      if (value === '') {
        callback(new Error('Please input the password again'))
      } else if (value !== this.ruleForm.pass) {
        callback(new Error("Two inputs don't match!"))
      } else {
        callback()
      }
    }
  }
}
// import { ref, reactive } from "vue";
// More info see https://github.com/element-plus/element-plus/blob/dev/docs/examples/form/utils.ts
// import { resetForm, submitForm } from "./utils";
// import type { ElForm } from "element-plus";

// const ruleFormRef = ref<InstanceType<typeof ElForm>>();

// const checkAge = (rule: any, value: any, callback: any) => {
//   if (!value) {
//     return callback(new Error("Please input the age"));
//   }
//   setTimeout(() => {
//     if (!Number.isInteger(value)) {
//       callback(new Error("Please input digits"));
//     } else {
//       if (value < 18) {
//         callback(new Error("Age must be greater than 18"));
//       } else {
//         callback();
//       }
//     }
//   }, 1000);
// };

// const validatePass = (rule: any, value: any, callback: any) => {
//   if (value === "") {
//     callback(new Error("Please input the password"));
//   } else {
//     if (ruleForm.checkPass !== "") {
//       if (!ruleFormRef.value) return;
//       ruleFormRef.value.validateField("checkPass", () => null);
//     }
//     callback();
//   }
// };
// const validatePass2 = (rule: any, value: any, callback: any) => {
//   if (value === "") {
//     callback(new Error("Please input the password again"));
//   } else if (value !== ruleForm.pass) {
//     callback(new Error("Two inputs don't match!"));
//   } else {
//     callback();
//   }
// };

// const ruleForm = reactive({
//   pass: "",
//   checkPass: "",
//   age: "",
// });

// const rules = reactive({
//   pass: [{ validator: validatePass, trigger: "blur" }],
//   checkPass: [{ validator: validatePass2, trigger: "blur" }],
//   age: [{ validator: checkAge, trigger: "blur" }],
// });
</script>
