.filter-item {
  margin-right: 10px;
}

.box-card {
  background: white;
  padding: 30px 20px;
  border: 1px solid lightgrey;
}

.booking-form-section-title {
  font-size: 20px;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-copy {
  cursor: pointer;
}

.input-money {
  border: 1px solid lightgrey;
  padding: 6px;
  border-radius: 5px;
  color: black;
  font-size: 12px;
}

.input-money:focus,
.input-money:focus {
  border: 1px solid lightblue;
  outline: none;
}

.image-selected-container {
  margin: 10px 0 0 0;
  display: flex;
}
.image-selected {
  width: 240px;
  aspect-ratio: 16/9;
}

.calendar-info-field {
  padding: 0 0 10px 0;
}

.calendar-info-field-title {
  width: 50%;
  max-width: 300px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px 0 0;
  text-transform: uppercase;
}

.calendar-info-field-text {
  font-size: 16px;
}

.calendar-info-field-sub {
  font-size: 16px;
  margin: 5px 0 5px 0;
}

.calendar-menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.calendar-menu-btn {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px 20px;
  background: rgb(79, 167, 235);
  cursor: pointer;
}
.calendar-menu-btn:hover {
  background: rgb(34, 145, 230);
}
