@import './variables.scss';
@import './transition.scss';
@import './scss-suger.scss';
@import './reset-style.scss';
@import './elemenet-style-overflow.scss';
@import './data-toolbar.scss';
@import './table.scss';
@import './custom-form.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
// * {
//   font-family: 'Inter', sans-serif;
// }
.sidebar-menu {
  font-family: 'Archivo Narrow', sans-serif;
}
//scroll
@mixin main-show-wh() {
  /* css 声明 */
  height: calc(100vh - #{$navBarHeight} - #{$tagViewHeight} - #{$appMainPadding * 2});
  width: 100%;
}
.scroll-y {
  @include main-show-wh();
  overflow-y: auto;
}
.scroll-x {
  @include main-show-wh();
  overflow-x: auto;
}
.scroll-xy {
  @include main-show-wh();
  overflow: auto;
}

.manager-title {
  color: white;
  font-size: 24px;
  margin: 15px 0;
}
