.table-header-style {
  color: $primaryColor;
  font-size: 12px;
}
.table-row-style {
  color: black;
  font-size: 12px;
}
.table-btn-edit {
  margin-right: 10px;
}
.table-no-data-column {
  background-color: rgb(231, 231, 231);
}
.table-test {
  padding: 0;
}

.airport-row {
  background-color: #59acff !important;
}

.home-airport-row {
  background-color: #82c0ff !important;
}

.airport-home-row {
  background-color: #ff7171 !important;
}

.province-row {
  background-color: #c284fb !important;
}

.compound-row {
  background-color: #8e7c7c !important;
}
.rental-row {
  background-color: #4db6ac !important;
}
