<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('locationForm.title', $route.query.mode))">
    <div class="box-card">
      <el-form
        ref="locationForm"
        :model="locationForm"
        status-icon
        :rules="locationFormRules"
        label-width="auto"
        class="demo-locationForm"
        label-position="top"
      >
        <el-form-item :label="$t('locationForm.typeLabel')" prop="type">
          <el-select v-model="locationForm.type" placeholder="" :disabled="$route.query.mode == 'edit'">
            <el-option
              v-for="item in Object.keys(locationType)"
              :key="item.value"
              :label="$t('location.' + locationType[item])"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          v-if="locationForm.type == locationType.airport"
          :label="$t('locationForm.airportLabel')"
          prop="airport"
        >
          <el-input v-model="locationForm.airport" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item v-if="locationForm.type" :label="$t('locationForm.provinceLabel')" prop="province">
          <el-select
            v-model="locationTempForm.province"
            filterable
            :placeholder="locationForm.province"
            value-key="code"
            clearable
          >
            <el-option v-for="item in option.province" :key="item.code" :label="item.name" :value="item" />
          </el-select>
        </el-form-item>

        <el-form-item
          v-if="locationForm.type == locationType.airport"
          :label="$t('locationForm.promotionValueLabel')"
          prop="promotionValue"
        >
          <money3 v-model="locationForm.promotionValue" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
        <el-form-item
          v-if="locationForm.type == locationType.location"
          :label="$t('locationForm.districtLabel')"
          prop="district"
        >
          <el-select
            v-model="locationTempForm.district"
            filterable
            :placeholder="locationForm.district"
            value-key="code"
            clearable
          >
            <el-option v-for="item in option.district" :key="item.code" :label="item.name" :value="item" />
          </el-select>
        </el-form-item>
        <el-form-item
          v-if="locationForm.type == locationType.location"
          :label="$t('locationForm.communeLabel')"
          prop="commune"
        >
          <el-select
            v-model="locationTempForm.commune"
            filterable
            :placeholder="locationForm.commune"
            value-key="code"
            clearable
          >
            <el-option v-for="item in option.ward" :key="item.code" :label="item.name" :value="item" />
          </el-select>
        </el-form-item>
        <el-form-item
          v-if="locationForm.type == locationType.location"
          :label="$t('locationForm.routeLabel')"
          prop="route"
        >
          <el-input v-model="locationForm.route" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('locationForm')">
            {{ $t($filters.getTranslateByMode('locationForm.action', $route.query.mode)) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { LOCATION_TYPE } from '@/constants/locationType'

export default {
  data() {
    return {
      locationType: LOCATION_TYPE,
      locationTempForm: {
        province: null,
        district: null,
        commune: null
      },
      locationForm: {
        type: '',
        airport: '',
        promotionValue: '',
        province: null,
        district: null,
        commune: null
      },
      option: {
        province: null,
        district: null,
        ward: null
      },
      optionSelected: {}
    }
  },
  computed: {
    locationFormRules() {
      return {
        type: [{ required: true, message: this.$t('locationForm.typeRequired'), trigger: 'blur' }],
        airport: [
          {
            required: this.locationForm.type == this.locationType.airport,
            message: this.$t('locationForm.airportRequired'),
            trigger: 'blur'
          }
        ],
        province: [{ required: true, message: this.$t('locationForm.provinceRequired'), trigger: 'blur' }],
        promotionValue: [
          {
            required: this.locationForm.type == this.locationType.airport,
            message: this.$t('locationForm.promotionValueRequired'),
            trigger: 'blur'
          }
        ],
        district: [{ required: true, message: this.$t('locationForm.districtRequired'), trigger: 'blur' }]
      }
    }
  },
  watch: {
    'locationForm.type'(newValue) {},
    'locationTempForm.province'(newVal) {
      this.locationForm.province = newVal.name
      this.locationForm.district = null
      this.locationForm.commune = null
      this.loadDistrict()
    },
    'locationTempForm.district'(newVal) {
      console.log(newVal)
      this.loadWard()
      this.locationForm.district = newVal.name
    },
    'locationTempForm.commune'(newVal) {
      console.log(newVal)
      this.loadWard()
      this.locationForm.commune = newVal.name
    }
  },
  mounted() {
    this.loadProvince()
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('locationManager/loadData', this.$route.query.id).then((res) => {
        this.locationForm = res.data
      })
    }
  },
  methods: {
    loadProvince() {
      this.$store
        .dispatch('vnCadastral/loadProvince')
        .then((res) => {
          this.option.province = res.data
        })
        .catch((err) => {})
    },
    loadDistrict() {
      this.$store
        .dispatch('vnCadastral/loadDistrict', { provinceCode: this.locationTempForm.province.code })
        .then((res) => {
          this.option.district = res.data
        })
        .catch((err) => {})
    },
    loadWard() {
      this.$store
        .dispatch('vnCadastral/loadWard', { districtCode: this.locationTempForm.district.code })
        .then((res) => {
          console.log(res)
          this.option.ward = res.data
        })
        .catch((err) => {})
    },
    actionAdd() {
      var request = null

      this.$store
        .dispatch('locationManager/addData', this.locationForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'LocationManager' })
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      console.log(this.locationForm)
      this.$store.dispatch('locationManager/editData', this.locationForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'LocationManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    resetData() {
      this.locationForm.airport = ''
      this.locationForm.province = ''
      this.locationForm.promotionValue = ''
      this.locationForm.district = ''
      this.locationForm.commune = ''
    }
  }
}
</script>
