<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('configForm.title', $route.query.mode))">
    <div class="box-card">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('configForm.sectionLabel')" prop="section">
          <el-input
            :placeholder="$t('config.' + systemConfig[ruleForm.section])"
            type="text"
            autocomplete="off"
            disabled
          />
        </el-form-item>
        <el-form-item :label="$t('configForm.valueLabel')" prop="value">
          <el-input v-if="ruleForm.type == 'double'" v-model="ruleForm.value" type="text" autocomplete="off" />
          <editor
            v-if="ruleForm.type == 'html'"
            api-key="0gpeo35zc43uii5xh88oibonokhnvt29wl1tx55wprbnfd69"
            v-model="ruleForm.value"
            :init="{
              height: 500,
              menubar: 'insert',
              plugins: ['lists link image code paste help wordcount'],
              a11y_advanced_options: true,
              selector: 'textarea',
              automatic_uploads: true,
              file_picker_types: 'image',
              toolbar:
                'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help',
              images_upload_url: 'postAcceptor.php'
            }"
          />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">
            {{ $t($filters.getTranslateByMode('configForm.action', $route.query.mode)) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { SYSTEM_CONFIG } from '@/constants/systemConfig'
import ClassicEditor from '@ckeditor/ckeditor5-editor-classic/src/classiceditor'
import EssentialsPlugin from '@ckeditor/ckeditor5-essentials/src/essentials'
import ParagraphPlugin from '@ckeditor/ckeditor5-paragraph/src/paragraph'
import Base64UploadAdapter from '@ckeditor/ckeditor5-upload/src/adapters/base64uploadadapter'
import Editor from '@tinymce/tinymce-vue'

export default {
  components: {
    editor: Editor
  },
  data() {
    return {
      systemConfig: SYSTEM_CONFIG,
      ruleForm: {
        section: '',
        value: ''
      },
      rules: {
        section: [{ required: true, message: this.$t('configForm.nameRequired'), trigger: 'blur' }],
        value: [{ required: true, message: this.$t('configForm.descriptionRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('configManager/loadData', this.$route.query.id).then((res) => {
        this.ruleForm = res.data
      })
    }
  },
  methods: {
    actionAdd() {
      this.$store
        .dispatch('configManager/addData', this.ruleForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'configManager' })
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      this.$store.dispatch('configManager/editData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'configManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
