<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="false"
      @add-event="$router.replace({ name: 'AreaAdd' })"
      @reload-event="loadAreas"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="areas.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('area.manager.order')"
        width="70"
      />

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('area.manager.name')"
        prop="name"
        min-width="140"
      />

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('area.manager.rentalSurcharge')"
        width="140"
      >
        <template #default="scope">
          {{ $filters.toVnd(scope.row.rentalSurcharge) }}
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
        fixed="right"
      >
        <template #default="scope">
          <router-link :to="{ name: 'AreaEdit', params: { areaId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            disabled
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="areas.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="areas.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('area.manager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('area.manager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('areaStore', ['areas', 'pageSize', 'pageNumber'])
  },
  watch: {
    areaFilters: {
      handler(val) {
        console.log(val)
        this.changeAreaFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadAreas()
  },
  methods: {
    ...mapActions('areaStore', ['changeSize', 'changeNumber', 'loadAreas', 'deleteArea']),
    onFilterClicked() {
      this.loadAreas()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteArea(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
