<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('area.form.name')" prop="name" value-key="code">
          <el-select v-model="form.name" filterable placeholder="Select">
            <el-option v-for="item in loaded.provinces" :key="item.code" :label="item.name" :value="item.name" />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('area.form.rentalSurcharge')" prop="rentalSurcharge">
          <money3 v-model="form.rentalSurcharge" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { getProvinceReq } from '@/api/vnCadastralApi'

export default {
  data() {
    return {
      form: {
        name: '',
        rentalSurcharge: ''
      },
      loaded: {
        provinces: []
      }
    }
  },
  computed: {
    rules() {
      return {
        name: [{ required: true, message: this.$t('area.form.nameRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    this.loadProvinces()
    if (this.$route.params.areaId) {
      this.loadArea(this.$route.params.areaId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('areaStore', ['loadArea', 'addArea', 'editArea']),
    loadProvinces() {
      getProvinceReq().then((res) => {
        this.loaded.provinces = res.data
      })
    },
    submitAdd() {
      this.addArea(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'AreaManager' })
      })
    },
    submitEdit() {
      this.editArea({ id: this.$route.params.areaId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'AreaManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.areaId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
