<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="false"
      @add-event="$router.replace({ name: 'BankAccountAdd' })"
      @reload-event="loadBankAccounts"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="bankAccounts.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('bankAccount.manager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('bankAccount.manager.number')"
        width="250"
        prop="number"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('bankAccount.manager.bankName')"
        width="400"
        prop="bankName"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('bankAccount.manager.holder')"
        width="100"
        prop="holder"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('bankAccount.manager.content')"
        width="150"
        prop="content"
      />

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link
            :to="{ name: 'BankAccountEdit', params: { bankAccountId: scope.row.id } }"
            class="table-btn-edit"
          >
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="bankAccounts.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="bankAccounts.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('bankAccount.manager.delete.title') }}</b>
      </template>
      <span>
        {{ $t('bankAccount.manager.delete.message') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null
    }
  },
  computed: {
    ...mapGetters('bankAccountStore', ['bankAccounts', 'bankAccountFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    bankAccountFilters: {
      handler(val) {
        console.log(val)
        this.changeBankAccountFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadBankAccounts()
  },
  methods: {
    ...mapActions('bankAccountStore', [
      'changeSize',
      'changeNumber',
      'changeBankAccountFilters',
      'loadBankAccounts',
      'deleteBankAccount'
    ]),
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteBankAccount(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
