<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('bankAccount.form.number')" prop="number">
          <el-input v-model="form.number" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bankAccount.form.bankName')" prop="bankName">
          <el-input v-model="form.bankName" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bankAccount.form.holder')" prop="holder">
          <el-input v-model="form.holder" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bankAccount.form.content')" prop="content">
          <el-input v-model="form.content" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      form: {
        number: null,
        bankName: null,
        holder: null,
        content: null
      }
    }
  },
  computed: {
    rules() {
      return {
        number: [{ required: true, message: this.$t('bankAccount.form.numberRequired'), trigger: 'blur' }],
        bankName: [{ required: true, message: this.$t('bankAccount.form.bankNameRequired'), trigger: 'blur' }],
        holder: [{ required: true, message: this.$t('bankAccount.form.holderRequired'), trigger: 'blur' }],
        content: [{ required: true, message: this.$t('bankAccount.form.contentRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.bankAccountId) {
      this.loadBankAccount(this.$route.params.bankAccountId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('bankAccountStore', ['loadBankAccount', 'addBankAccount', 'editBankAccount']),
    submitAdd() {
      this.addBankAccount(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'BankAccountManager' })
      })
    },
    submitEdit() {
      this.editBankAccount({ id: this.$route.params.bankAccountId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'BankAccountManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.bankAccountId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
