<template>
  <manager-template-page :title="$t($route.meta.title)">
    >
    <div class="box-card">
      <el-form status-icon label-width="auto" class="demo-ruleForm" label-position="top">
        <div>
          <div class="booking-form-section-title">
            {{ $t('bookingForm.infoSection') }}
          </div>
          <el-form-item :label="$t('bookingForm.typeLabel')">
            <el-button plain>{{ $t('bookingType.' + bookingType[result.type]) }}</el-button>
          </el-form-item>
          <el-form-item v-if="result.carType" :label="$t('bookingForm.carTypeLabel')">
            <el-button plain>{{ result.carType.name }}</el-button>
          </el-form-item>

          <el-row :gutter="10">
            <el-col :xs="24" :md="12">
              <el-form-item :label="$t('bookingForm.timeLeaveLabel')">
                <el-button plain>{{ result.timeLeave }}</el-button>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :md="12">
              <el-form-item :label="$t('bookingForm.timeReturnLabel')">
                <el-button plain>{{ result.timeReturn }}</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :xs="24" :md="12">
              <el-form-item :label="$t('bookingForm.twoWayLabel')">
                <el-switch v-model="result.twoWay" disabled />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :md="12">
              <el-form-item :label="$t('bookingForm.highQualityLabel')">
                <el-switch v-model="result.highQuality" disabled />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :xs="24" :md="12">
              <el-form-item :label="$t('bookingForm.startLabel')">
                <div v-for="item in filterBookingAddress('start')" :key="item.id" class="mb-1">
                  <el-button plain>{{ item.detail }}</el-button>
                </div>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :md="12">
              <el-form-item :label="$t('bookingForm.endLabel')">
                <div v-for="item in filterBookingAddress('end')" :key="item.id" class="mb-1">
                  <el-button plain>{{ item.detail }}</el-button>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
        <el-divider></el-divider>
        <div v-if="result.request == 'booking'">
          <div class="booking-form-section-title">
            {{ $t('bookingForm.carInfoSection') }}
            <el-button type="warning" @click="carArrangeDialogVisible = true">
              {{ $t('bookingForm.carInfoSectionEdit') }}
            </el-button>
          </div>
          <div v-if="result.bookingCarInfo">
            <el-form-item :label="$t('bookingForm.carInfoNameLabel')">
              <el-input :placeholder="result.bookingCarInfo.name" disabled type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item :label="$t('bookingForm.carInfoDriverNameLabel')">
              <el-input :placeholder="result.bookingCarInfo.driverName" disabled type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item :label="$t('bookingForm.carInfoDetailLabel')">
              <el-input :placeholder="result.bookingCarInfo.detail" disabled type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item :label="$t('bookingForm.carInfoPhoneNumberLabel')">
              <el-input :placeholder="result.bookingCarInfo.phoneNumber" disabled type="text" autocomplete="off" />
            </el-form-item>
          </div>
        </div>
        <el-divider></el-divider>
        <div>
          <div class="booking-form-section-title">
            {{ $t('bookingForm.moneySection') }}
            <span>
              <el-button type="warning" @click="moneyRouteDialogVisible = true">
                {{ $t('bookingForm.moneyRouteEdit') }}
              </el-button>
              <el-button type="warning" @click="moneyDepositedDialogVisible = true">
                {{ $t('bookingForm.moneyDepositedEdit') }}
              </el-button>
              <el-button type="warning" @click="moneyTransferredDialogVisible = true">
                {{ $t('bookingForm.moneyTransferredEdit') }}
              </el-button>
            </span>
          </div>

          <el-form-item :label="$t('bookingForm.moneyRouteLabel')">
            <el-button plain>{{ $filters.toVnd(result.moneyBase) }}</el-button>
          </el-form-item>
          <el-form-item :label="$t('bookingForm.moneyPromotionLabel')">
            <el-button plain>{{ $filters.toVnd(result.moneyPromotion) }}</el-button>
          </el-form-item>
          <el-form-item :label="$t('bookingForm.moneyDepositedLabel')">
            <el-button plain>{{ $filters.toVnd(result.moneyDeposited) }}</el-button>
          </el-form-item>
          <el-form-item :label="$t('bookingForm.moneyTransferredLabel')">
            <el-button plain>{{ $filters.toVnd(result.moneyTransferred) }}</el-button>
          </el-form-item>
          <el-form-item :label="$t('bookingForm.moneyPaymentLabel')">
            <el-button plain>{{ $filters.toVnd(result.moneyPayment) }}</el-button>
          </el-form-item>
        </div>
        <el-divider></el-divider>
        <div v-if="result.vatInvoice">
          <div class="booking-form-section-title">
            {{ $t('bookingForm.vatSection') }}
          </div>
          <el-form-item :label="$t('bookingForm.vatNameLabel')">
            <el-input :placeholder="result.vatName" disabled type="text" autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('bookingForm.vatAddressLabel')">
            <el-input :placeholder="result.vatAddress" disabled type="text" autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('bookingForm.vatTaxNumberLabel')">
            <el-input :placeholder="result.vatTaxNumber" disabled type="text" autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('bookingForm.vatEmailLabel')">
            <el-input :placeholder="result.vatEmail" disabled type="text" autocomplete="off" />
          </el-form-item>
        </div>
      </el-form>
    </div>
    <el-dialog v-model="carArrangeDialogVisible" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('carInfoManager.deleteTitle') }}</b>
      </template>
      <el-form
        ref="carArrangeForm"
        :model="carArrangeForm"
        status-icon
        :rules="carArrangeRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('bookingForm.carInfoNameLabel')" prop="name">
          <el-input v-model="carArrangeForm.name" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bookingForm.carInfoDriverNameLabel')" prop="driverName">
          <el-input v-model="carArrangeForm.driverName" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bookingForm.carInfoDetailLabel')" prop="detail">
          <el-input v-model="carArrangeForm.detail" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bookingForm.carInfoPhoneNumberLabel')" prop="phoneNumber">
          <el-input v-model="carArrangeForm.phoneNumber" type="number" autocomplete="off" />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="carArrangeDialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitCarArrange('carArrangeForm')">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="moneyRouteDialogVisible" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('bookingForm.moneyRouteEdit') }}</b>
      </template>
      <el-row :gutter="10">
        <el-col :xs="24" :md="12">
          <el-form status-icon label-width="auto" class="demo-ruleForm" label-position="left">
            <el-form-item :label="$t('bookingForm.moneyRouteLabel')">
              <el-button plain>{{ $filters.toVnd(result.moneyBase) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('bookingForm.moneyAddressLabel')">
              <el-button plain>{{ $filters.toVnd(result.chargeAddress) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('bookingForm.moneyHighQualityLabel')">
              <el-button plain>{{ $filters.toVnd(result.chargeHighQuality) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('bookingForm.moneyPromotionLabel')">
              <el-button plain>-{{ $filters.toVnd(result.moneyPromotion) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('bookingForm.moneyDepositedLabel')">
              <el-button plain>-{{ $filters.toVnd(result.moneyDeposited) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('bookingForm.moneyTransferredLabel')">
              <el-button plain>-{{ $filters.toVnd(result.moneyTransferred) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('bookingForm.moneyPaymentLabel')">
              <el-button plain>{{ $filters.toVnd(result.moneyPayment) }}</el-button>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :xs="24" :md="12">
          <el-form
            ref="moneyRouteForm"
            :model="moneyRouteForm"
            status-icon
            :rules="moneyRouteRules"
            label-width="auto"
            class="demo-ruleForm"
            label-position="top"
          >
            <el-form-item :label="$t('bookingForm.moneyRouteLabel')" prop="chargeRoute">
              <money3 v-model="moneyRouteForm.chargeRoute" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>

      <template #footer>
        <span class="dialog-footer">
          <el-button @click="moneyRouteDialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitMoneyRoute('moneyRouteForm')">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="moneyDepositedDialogVisible" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('bookingForm.moneyDepositedEdit') }}</b>
      </template>
      <el-form
        ref="moneyDepositedForm"
        :model="moneyDepositedForm"
        status-icon
        :rules="moneyDepositedRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('bookingForm.moneyDepositedLabel')" prop="moneyDeposited">
          <money3 v-model="moneyDepositedForm.moneyDeposited" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="moneyDepositedDialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitMoneyDepositedUpdate('moneyDepositedForm')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="moneyTransferredDialogVisible" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('bookingForm.moneyDepositedEdit') }}</b>
      </template>
      <el-form
        ref="moneyTransferredForm"
        :model="moneyTransferredForm"
        status-icon
        :rules="moneyTransferredRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('bookingForm.moneyTransferredEdit')" prop="moneyTransferred">
          <money3
            v-model="moneyTransferredForm.moneyTransferred"
            v-bind="$system.CURRENCY_FORMAT"
            class="input-money"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="moneyTransferredDialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitMoneyTransferredUpdate('moneyTransferredForm')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { bookingType } from '@/constants/booking'
import { ElMessageBox } from 'element-plus'
export default {
  data() {
    return {
      bookingType: bookingType,
      result: {
        moneyPayment: 0
      },
      carArrangeForm: {
        bookingId: '',
        name: '',
        driverName: '',
        detail: '',
        phoneNumber: ''
      },
      carArrangeRules: {
        name: [{ required: true, message: this.$t('bookingForm.nameRequired'), trigger: 'blur' }],
        driverName: [{ required: true, message: this.$t('bookingForm.descriptionRequired'), trigger: 'blur' }],
        detail: [{ required: true, message: this.$t('bookingForm.seatsRequired'), trigger: 'blur' }],
        phoneNumber: [{ required: true, message: this.$t('bookingForm.typeRequired'), trigger: 'blur' }]
      },
      carArrangeDialogVisible: false,
      moneyRouteForm: {
        bookingId: '',
        chargeRoute: ''
      },
      moneyRouteRules: {
        chargeRoute: [{ required: true, message: this.$t('bookingForm.moneyRouteRequired'), trigger: 'blur' }]
      },
      moneyRouteDialogVisible: false,
      moneyDepositedForm: {
        bookingId: '',
        moneyDeposited: ''
      },

      moneyDepositedDialogVisible: false,
      moneyTransferredForm: {
        bookingId: '',
        moneyTransferred: ''
      },
      moneyTransferredDialogVisible: false
    }
  },
  computed: {
    moneyDepositedRules() {
      return {
        moneyDeposited: [
          { required: true, message: this.$t('bookingForm.moneyDepositedRequired'), trigger: 'blur' }
          // {
          //   type: 'number',
          //   min: 1,
          //   max: 100000,
          //   message: this.$t('bookingForm.moneyDepositedRange'),
          //   trigger: 'blur'
          // }
        ]
      }
    },
    moneyTransferredRules() {
      return {
        moneyTransferred: [
          { required: true, message: this.$t('bookingForm.moneyTransferredRequired'), trigger: 'blur' }
          // {
          //   type: 'number',
          //   min: 1,
          //   max: 100000,
          //   message: this.$t('bookingForm.moneyTransferredRange'),
          //   trigger: 'blur'
          // }
        ]
      }
    }
  },
  mounted() {
    if (this.$route.query.mode == 'edit') {
      this.loadData()
    }
  },
  methods: {
    loadData() {
      this.$store.dispatch('bookingManager/loadData', this.$route.query.id).then((res) => {
        this.result = res.data
        console.log(this.result)
        this.carArrangeForm.bookingId = res.data.id
        if (res.data.bookingCarInfo) {
          this.carArrangeForm = res.data.bookingCarInfo
        }

        this.moneyRouteForm.bookingId = res.data.id
        this.moneyRouteForm.chargeRoute = res.data.chargeRoute

        console.log(this.result.moneyPayment)

        this.moneyDepositedForm.bookingId = res.data.id
        this.moneyDepositedForm.moneyDeposited = res.data.moneyDeposited

        this.moneyTransferredForm.bookingId = res.data.id
        this.moneyTransferredForm.moneyTransferred = res.data.moneyTransferred
      })
    },
    filterBookingAddress(type) {
      if (this.result.bookingAddress)
        return this.result.bookingAddress
          .filter((e) => e.type == type)
          .sort(function (a, b) {
            return a.order - b.order
          })
    },
    actionCarArrange() {
      this.$store
        .dispatch('bookingManager/carArrange', this.carArrangeForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.loadData()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionMoneyRouteUpdate() {
      this.$store
        .dispatch('bookingManager/moneyRouteUpdate', this.moneyRouteForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.loadData()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionMoneyDepositedUpdate() {
      this.$store
        .dispatch('bookingManager/moneyDepositedUpdate', this.moneyDepositedForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.loadData()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionMoneyTransferredUpdate() {
      this.$store
        .dispatch('bookingManager/moneyTransferredUpdate', this.moneyTransferredForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.loadData()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    submitCarArrange(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          this.actionCarArrange()
        } else {
          console.log('error submit!')
          return false
        }
      })
      this.carArrangeDialogVisible = false
    },
    submitMoneyRoute(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          this.actionMoneyRouteUpdate()
        } else {
          console.log('error submit!')
          return false
        }
      })
      this.moneyRouteDialogVisible = false
    },
    submitMoneyDepositedUpdate(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          this.actionMoneyDepositedUpdate()
          this.moneyDepositedDialogVisible = false
        } else {
          return false
        }
      })
    },
    submitMoneyTransferredUpdate(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          this.actionMoneyTransferredUpdate()
        } else {
          console.log('error submit!')
          return false
        }
      })
      this.moneyTransferredDialogVisible = false
    }
  }
}
</script>
