<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('voucher.form.image')" prop="images">
          <el-button class="filter-item" type="success" @click="imageGalleryVisible = true">
            <el-icon><svg-icon icon-class="add" fill="#FFFFFF" /></el-icon>
          </el-button>
          <div class="image-selected-container">
            <div v-for="(item, index) in ruleForm.images" :key="index">
              <img class="image-selected" :src="item.path" alt="" />
            </div>
          </div>
        </el-form-item>
        <el-form-item :label="$t('voucher.form.name')" prop="name">
          <el-input v-model="ruleForm.name" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('voucher.form.description')" prop="description">
          <el-input v-model="ruleForm.description" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      ruleForm: {
        images: [],
        name: '',
        description: '',
        seats: '',
        type: ''
      }
    }
  },
  computed: {
    rules() {
      return {
        images: [{ required: true, message: this.$t('voucher.form.imageRequired'), trigger: 'blur' }],
        name: [{ required: true, message: this.$t('voucher.form.nameRequired'), trigger: 'blur' }],
        description: [{ required: true, message: this.$t('voucher.form.descriptionRequired'), trigger: 'blur' }],
        seats: [{ required: true, message: this.$t('voucher.form.seatsRequired'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('voucher.form.typeRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    console.log(this.$route)
    if (this.$route.params.voucherId) {
      this.loadCarType(this.$route.params.voucherId).then((res) => {
        this.ruleForm = res.data
      })
    }
  },
  methods: {
    ...mapActions('voucherStore', ['loadCarType', 'addCarType', 'editCarType']),
    submitAdd() {
      this.addCarType(this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'CarTypeManager' })
      })
    },
    submitEdit() {
      this.editCarType({ id: this.$route.params.voucherId, data: this.ruleForm }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'CarTypeManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.voucherId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
