<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="false"
      :reload-able="true"
      :filter-able="true"
      @add-event="$router.replace({ name: 'CalendarAdd' })"
      @reload-event="loadCalendars"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="calendars.results"
      border
      fit
      highlight-current-row
      style="width: 100%"
      height="75vh"
      :row-class-name="(row, rowIndex) => bookingTypeClass[row.row.type]"
    >
      <!-- <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        align="center"
        type="index"
        :label="$t('asking.order')"
        width="70"
      /> -->
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.timeLeave')"
        width="120"
        prop="timeLeave"
        fixed
      />
      <!-- <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.partnerNotify')"
        width="120"
      >
        <template #default="scope">
        </template>
      </el-table-column> -->
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.type')"
        width="150"
      >
        <template #default="scope">
          {{ $t('booking.type.' + scope.row.type) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.seats')"
        width="150"
        prop="carType.name"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.customer')"
        width="150"
        prop="user.userName"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.addressStart')"
        width="250"
      >
        <template #default="scope">
          <p v-for="(item, index) in scope.row.bookingAddress.filter((e) => e.type == 'start')" :key="index">
            - {{ item.detail }}
          </p>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.addressEnd')"
        width="150"
      >
        <template #default="scope">
          <p v-for="(item, index) in scope.row.bookingAddress.filter((e) => e.type == 'end')" :key="index">
            - {{ item.detail }}
          </p>
        </template>
      </el-table-column>
      <el-table-column
        min-width="120"
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.moneyPayment')"
        prop="moneyPayment"
      >
        <template #default="scope">
          {{ $filters.toVnd(scope.row.moneyPayment) }}
        </template>
      </el-table-column>
      <el-table-column
        min-width="120"
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.moneyPromotion')"
        prop="moneyPromotion"
      >
        <template #default="scope">
          {{ $filters.toVnd(scope.row.moneyPromotion) }}
        </template>
      </el-table-column>
      <el-table-column
        min-width="400"
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('asking.outputInfo')"
      >
        <template #default="scope">
          <div
            v-clipboard:copy="$filters.getPartnerMessenger(scope.row)"
            v-clipboard:success="onCopy"
            v-clipboard:error="onError"
            @click="true"
            class="btn-copy"
          >
            {{ $filters.getPartnerMessenger(scope.row) }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="260"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
        fixed="right"
      >
        <template #default="scope">
          <span class="table-btn-edit">
            <el-button type="primary" size="small" @click="onChangeRequestClicked(scope.row)">
              <el-icon>
                <svg-icon icon-class="car-arranged" />
              </el-icon>
            </el-button>
          </span>
          <span class="table-btn-edit">
            <el-button
              type="success"
              size="small"
              @click="
                () => {
                  moneyRoute.calendar = scope.row
                  moneyRoute.form.chargeRoute = moneyRoute.calendar.chargeRoute
                  moneyRoute.dialog = true
                }
              "
            >
              <el-icon>
                <svg-icon icon-class="money" />
              </el-icon>
            </el-button>
          </span>
          <router-link :to="{ name: 'CalendarEdit', params: { calendarId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="calendars.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="calendars.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />
    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="askingRequest"
          :model="askingRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('calendar.manager.filters.type')">
            <el-checkbox-group v-model="filters.types" :min="1">
              <el-checkbox v-for="item in calendarAskingType" :key="item" :label="item">
                {{ $t('booking.type.' + item) }}
              </el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item :label="$t('calendar.manager.filters.status')">
            <el-checkbox-group v-model="filters.status" :min="1">
              <el-checkbox v-for="item in calendarAskingStatus" :key="item" :label="item">
                {{ $t('booking.status.' + item) }}
              </el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button
            type="primary"
            @click="
              () => {
                loadCalendars()
                drawerFilter = false
              }
            "
          >
            {{ $t('common.confirm') }}
          </el-button>
        </el-form>
      </template>
    </el-drawer>
    <el-dialog v-model="moneyRoute.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('calendar.moneyRoute.title') }}</b>
      </template>
      <div>
        <el-form
          ref="moneyRoute.form"
          :model="moneyRoute.form"
          status-icon
          :rules="moneyRouteRules"
          label-width="auto"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('calendar.moneyRoute.chargeRoute')" prop="chargeRoute">
            <money3
              v-model="moneyRoute.calendar.chargeRoute"
              v-bind="$system.CURRENCY_FORMAT"
              class="input-money"
              disabled
            />
          </el-form-item>
          <el-form-item :label="$t('calendar.moneyRoute.form.chargeRoute')" prop="chargeRoute">
            <money3 v-model="moneyRoute.form.chargeRoute" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
          </el-form-item>
        </el-form>
      </div>

      <template #footer>
        <span class="dialog-footer">
          <el-button @click="moneyRoute.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitMoneyRoute('moneyRoute.form')">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { calendarAskingType, calendarAskingStatus, bookingTypeClass } from '@/constants/booking'
import { ElMessage } from 'element-plus'
import { putBookingRequestReq, putBookingMoneyRouteReq } from '@/api/bookingApi'

export default {
  data() {
    return {
      calendarAskingType: calendarAskingType,
      calendarAskingStatus: calendarAskingStatus,
      bookingTypeClass: bookingTypeClass,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false,
      moneyRoute: {
        dialog: false,
        calendar: null,
        form: {
          chargeRoute: null
        }
      }
    }
  },
  computed: {
    ...mapGetters('calendarAskingStore', ['calendars', 'filters', 'pageSize', 'pageNumber']),
    moneyRouteRules() {
      return {
        chargeRoute: [{ required: true, message: this.$t('moneyRoute.form.chargeRouteRequired'), trigger: 'blur' }]
      }
    }
  },
  watch: {
    filters: {
      handler(val) {
        console.log(val)
        this.changeCalendarDayFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadCalendars()
  },
  methods: {
    ...mapActions('calendarAskingStore', [
      'changeSize',
      'changeNumber',
      'changeCalendarDayFilters',
      'loadCalendars',
      'deleteCalendar'
    ]),
    onFilterClicked() {
      this.loadCalendars()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteCalendar(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    },
    onChangeRequestClicked(calendar) {
      putBookingRequestReq(calendar.id, { request: 'booking' }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.loadCalendars()
      })
    },
    submitMoneyRoute(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          putBookingMoneyRouteReq(this.moneyRoute.calendar.id, this.moneyRoute.form).then((res) => {
            this.loadCalendars()
          })
          this.moneyRoute.dialog = false
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
<style></style>
