<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="calendar-menu-container">
      <div class="calendar-menu-btn" @click="bookingCarInfo.dialog = true">
        {{ $t('calendar.bookingCarInfo.title') }}
      </div>
      <div class="calendar-menu-btn" @click="status.dialog = true">
        {{ $t('calendar.status.title') }}
      </div>
      <div class="calendar-menu-btn" @click="moneyRoute.dialog = true">
        {{ $t('calendar.moneyRoute.title') }}
      </div>
      <div class="calendar-menu-btn" @click="moneyDeposited.dialog = true">
        {{ $t('calendar.moneyDeposited.title') }}
      </div>
      <div class="calendar-menu-btn" @click="moneyTransferred.dialog = true">
        {{ $t('calendar.moneyTransferred.title') }}
      </div>
      <div class="calendar-menu-btn" @click="bookingAddress.dialog = true">
        {{ $t('calendar.bookingAddress.title') }}
      </div>
      <div class="calendar-menu-btn" @click="timeLeave.dialog = true">
        {{ $t('calendar.timeLeave.title') }}
      </div>
      <div
        class="calendar-menu-btn"
        @click="
          () => {
            loadCarTypes()
            carType.dialog = true
          }
        "
      >
        {{ $t('calendar.carType.title') }}
      </div>
    </div>
    <div class="box-card">
      <el-form status-icon label-width="auto" class="demo-ruleForm" label-position="top" v-if="calendar">
        <ul>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.createdAt') }}</span>
            <span class="calendar-info-field-value">{{ calendar.createdAt }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.type') }}</span>
            <span class="calendar-info-field-value">{{ $t('booking.type.' + calendar.type) }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.request') }}</span>
            <span class="calendar-info-field-value">{{ $t('booking.request.' + calendar.request) }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.status') }}</span>
            <span class="calendar-info-field-value">{{ $t('booking.status.' + calendar.status) }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.platform') }}</span>
            <span class="calendar-info-field-value">{{ $t('booking.platform.' + calendar.platform) }}</span>
          </li>

          <li v-if="calendar.user" class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.user.title') }}</span>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.user.userName') }} - {{ calendar.user.userName }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.user.fullName') }} - {{ calendar.user.fullName }}
            </div>
          </li>

          <li v-if="calendar.bookingCarInfo" class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.bookingCarInfo.title') }}</span>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.bookingCarInfo.name') }} - {{ calendar.bookingCarInfo.name }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.bookingCarInfo.driverName') }} - {{ calendar.bookingCarInfo.driverName }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.bookingCarInfo.number') }} - {{ calendar.bookingCarInfo.number }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.bookingCarInfo.phoneNumber') }} - {{ calendar.bookingCarInfo.phoneNumber }}
            </div>
          </li>

          <div v-if="calendarType.filter((e) => e == calendar.type).length > 0">
            <li v-if="calendar.carType" class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.carType.title') }}:</span>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.carType.name') }} - {{ calendar.carType.name }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.carType.description') }} - {{ calendar.carType.description }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.carType.seats') }} - {{ calendar.carType.seats }}
              </div>
            </li>
            <li class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.bookingAddress.title') }}:</span>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.bookingAddress.start') }}
                <p v-for="(item, index) in calendar.bookingAddress.filter((e) => e.type == 'start')" :key="index">
                  - {{ item.detail }} ({{ item.order }})
                </p>
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.bookingAddress.end') }}
                <p v-for="(item, index) in calendar.bookingAddress.filter((e) => e.type == 'end')" :key="index">
                  - {{ item.detail }} ({{ item.order }})
                </p>
              </div>
            </li>
            <li class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.timeLeave') }}:</span>
              <span class="calendar-info-field-value">{{ calendar.timeLeave }}</span>
            </li>

            <li class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.timeReturn') }}</span>
              <span class="calendar-info-field-value">{{ calendar.timeReturn }}</span>
            </li>
            <li class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.flightCode') }}</span>
              <span class="calendar-info-field-value">{{ calendar.flightCode }}</span>
            </li>
            <li class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.twoWay') }}</span>
              <span class="calendar-info-field-value">
                {{ calendar.twoWay ? $t('calendar.form.true') : $t('calendar.form.false') }}
              </span>
            </li>
          </div>
          <div v-if="calendarRentalType.filter((e) => e == calendar.type).length > 0">
            <li v-if="calendar.carRental" class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.carRental.title') }}:</span>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.carRental.name') }} - {{ calendar.carRental.name }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.carRental.carType') }} - {{ calendar.carRental.carType.name }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.carRental.charge') }} - {{ $filters.toVnd(calendar.carRental.charge) }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.carRental.surcharge') }} - {{ $filters.toVnd(calendar.carRental.surcharge) }}
              </div>
            </li>
            <li class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.timeLeave') }}:</span>
              <span class="calendar-info-field-value">{{ calendar.rentalDateStart }}</span>
            </li>
            <li class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.rentalDateEnd') }}:</span>
              <span class="calendar-info-field-value">{{ calendar.rentalDateEnd }}</span>
            </li>
            <li class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.rentalLocation') }}:</span>
              <span class="calendar-info-field-value">{{ calendar.rentalLocation }}</span>
            </li>
          </div>

          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.paymentMethod') }}</span>
            <span class="calendar-info-field-value">{{ $t('booking.paymentMethod.' + calendar.paymentMethod) }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.note') }}</span>
            <span class="calendar-info-field-value">{{ calendar.note }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.highQuality') }}</span>
            <span class="calendar-info-field-value">
              {{ calendar.highQuality ? $t('calendar.form.true') : $t('calendar.form.false') }}
            </span>
          </li>
          <div v-if="calendar.rating">
            <li class="calendar-info-field">
              <span class="calendar-info-field-title">{{ $t('calendar.form.rating.title') }}</span>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.rating.point') }} - {{ calendar.rating.point }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.rating.note') }} - {{ calendar.rating.note }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.rating.feedbacks') }}
                <div v-for="(item, index) in calendar.rating.feedbacks" :key="index">- {{ item.text }}</div>
              </div>
            </li>
          </div>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.vatInvoice') }}</span>
            <span class="calendar-info-field-value">
              {{ calendar.vatInvoice ? $t('calendar.form.true') : $t('calendar.form.false') }}
            </span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.vatStatus') }}</span>
            <!-- <span class="calendar-info-field-value">
              {{ $t('booking.vatStatus.' + calendar.vatStatus) }}
            </span>  -->
            <el-checkbox
              v-model="a"
              :label="$t('booking.vatStatus.' + calendar.vatStatus)"
              size="large"
              @change="
                (val) => {
                  submitVatStatus(val)
                }
              "
            />
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.vat.title') }}</span>
            <div class="calendar-info-field-sub">{{ $t('calendar.form.vatName') }} - {{ calendar.vatName }}</div>
            <div class="calendar-info-field-sub">{{ $t('calendar.form.vatAddress') }} - {{ calendar.vatAddress }}</div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.vatTaxNumber') }} - {{ calendar.vatTaxNumber }}
            </div>
            <div class="calendar-info-field-sub">{{ $t('calendar.form.vatEmail') }} - {{ calendar.vatEmail }}</div>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.charge.title') }}</span>
            <div v-if="calendarType.filter((e) => e == calendar.type).length > 0">
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.charge.route') }} - {{ $filters.toVnd(calendar.chargeRoute) }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.charge.time') }} - {{ $filters.toVnd(calendar.chargeTime) }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.charge.address') }} - {{ $filters.toVnd(calendar.chargeAddress) }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.charge.highQuality') }} - {{ $filters.toVnd(calendar.chargeHighQuality) }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.charge.promotionWallet') }} - {{ $filters.toVnd(calendar.chargePromotionWallet) }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.charge.promotionRankAddress') }} -
                {{ $filters.toVnd(calendar.chargePromotionRankAddress) }}
              </div>
            </div>
            <div v-if="calendarRentalType.filter((e) => e == calendar.type).length > 0">
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.charge.rental') }} - {{ $filters.toVnd(calendar.chargeRental) }}
              </div>
              <div class="calendar-info-field-sub">
                {{ $t('calendar.form.charge.surchargeRental') }} - {{ $filters.toVnd(calendar.surchargeRental) }}
              </div>
            </div>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('calendar.form.money.title') }}</span>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.money.total') }} - {{ $filters.toVnd(calendar.moneyTotal) }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.money.payment') }} - {{ $filters.toVnd(calendar.moneyPayment) }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.money.promotion') }} - {{ $filters.toVnd(calendar.moneyPromotion) }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.money.deposited') }} - {{ $filters.toVnd(calendar.moneyDeposited) }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.money.transferred') }} - {{ $filters.toVnd(calendar.moneyTransferred) }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.money.owed') }} -
              {{ $filters.toVnd(calendar.moneyOwed) }}
            </div>
          </li>
        </ul>
      </el-form>
    </div>

    <el-dialog
      v-model="bookingCarInfo.dialog"
      width="90%"
      :close-on-click-modal="false"
      :show-close="false"
      :fullscreen="false"
    >
      <template #title>
        <b>{{ $t('calendar.bookingCarInfo.title') }}</b>
      </template>
      <div>
        <div v-if="calendar.bookingCarInfo" class="calendar-info-field">
          <div class="calendar-info-field-title">{{ $t('calendar.form.bookingCarInfo.title') }}</div>
          <span class="calendar-info-field-sub">
            {{ $t('calendar.form.bookingCarInfo.name') }} - {{ calendar.bookingCarInfo.name }}
          </span>
          <span class="mr-2"></span>
          <span class="calendar-info-field-sub">
            {{ $t('calendar.form.bookingCarInfo.driverName') }} - {{ calendar.bookingCarInfo.driverName }}
          </span>
          <span class="mr-2"></span>
          <span class="calendar-info-field-sub">
            {{ $t('calendar.form.bookingCarInfo.number') }} - {{ calendar.bookingCarInfo.number }}
          </span>
          <span class="mr-2"></span>
          <span class="calendar-info-field-sub">
            {{ $t('calendar.form.bookingCarInfo.phoneNumber') }} - {{ calendar.bookingCarInfo.phoneNumber }}
          </span>
        </div>
        <el-row :gutter="20">
          <el-col :span="bookingCarInfo.partner.type == 'partner' ? 12 : 24">
            <el-form
              ref="bookingCarInfo.form"
              :model="bookingCarInfo.form"
              status-icon
              :rules="bookingCarInfoRules"
              label-width="auto"
              class="demo-ruleForm"
              label-position="top"
            >
              <el-form-item :label="$t('calendar.bookingCarInfo.form.partner')" prop="partner">
                <el-input v-model="x" type="text" autocomplete="off" disabled>
                  <template #append>
                    <el-select
                      v-model="bookingCarInfo.partner.type"
                      @change="
                        (val) => {
                          bookingCarInfo.partner.id = null
                          bookingCarInfo.form.carInfoId = null
                        }
                      "
                      placeholder="Select"
                      style="width: 115px"
                    >
                      <el-option
                        v-for="item in partnerType"
                        :key="item"
                        :label="$t('partnerType.' + item)"
                        :value="item"
                      />
                    </el-select>
                  </template>
                </el-input>
              </el-form-item>
              <el-form-item :label="$t('calendar.bookingCarInfo.form.driverName')" prop="driverName">
                <el-input v-model="bookingCarInfo.form.driverName" type="text" autocomplete="off" />
              </el-form-item>
              <el-form-item :label="$t('calendar.bookingCarInfo.form.name')" prop="name">
                <el-input v-model="bookingCarInfo.form.name" type="text" autocomplete="off" />
              </el-form-item>
              <el-form-item :label="$t('calendar.bookingCarInfo.form.number')" prop="number">
                <el-input v-model="bookingCarInfo.form.number" type="text" autocomplete="off" />
              </el-form-item>
              <el-form-item :label="$t('calendar.bookingCarInfo.form.phoneNumber')" prop="phoneNumber">
                <el-input v-model="bookingCarInfo.form.phoneNumber" type="text" autocomplete="off" />
              </el-form-item>
            </el-form>
          </el-col>
          <el-col :span="12" v-if="bookingCarInfo.partner.type == 'partner'">
            <el-form label-position="top">
              <el-form-item :label="$t('calendar.bookingCarInfo.form.partnerName')" prop="partner">
                <el-select
                  v-model="bookingCarInfo.partner.id"
                  filterable
                  remote
                  reserve-keyword
                  placeholder=""
                  :remote-method="onPartnerNameChanged"
                  :loading="loading"
                  value-key="id"
                >
                  <el-option
                    v-for="item in bookingCarInfo.partner.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                    @click="loadCarInfos()"
                  />
                </el-select>
              </el-form-item>

              <el-form-item :label="$t('calendar.bookingCarInfo.form.partnerCar')" prop="partner">
                <el-select
                  v-model="bookingCarInfo.form.carInfoId"
                  filterable
                  reserve-keyword
                  placeholder=""
                  :loading="loading"
                  value-key="id"
                >
                  <el-option
                    v-for="item in bookingCarInfo.partner.carInfos"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                    @click="
                      () => {
                        bookingCarInfo.form.carInfoId = item.id
                        bookingCarInfo.form.name = item.name
                        bookingCarInfo.form.driverName = item.driverName
                        bookingCarInfo.form.number = item.number
                        bookingCarInfo.form.phoneNumber = item.phoneNumber
                      }
                    "
                  />
                </el-select>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
      </div>

      <!-- <el-form
        ref="carArrangeForm"
        :model="carArrangeForm"
        status-icon
        :rules="carArrangeRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('bookingForm.carInfoNameLabel')" prop="name">
          <el-input v-model="carArrange.form.name" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bookingForm.carInfoDriverNameLabel')" prop="driverName">
          <el-input v-model="carArrange.form.driverName" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bookingForm.carInfoDetailLabel')" prop="detail">
          <el-input v-model="carArrange.form.detail" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bookingForm.carInfoPhoneNumberLabel')" prop="phoneNumber">
          <el-input v-model="carArrange.form.phoneNumber" type="number" autocomplete="off" />
        </el-form-item>
      </el-form> -->

      <template #footer>
        <span class="dialog-footer">
          <el-button @click="bookingCarInfo.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitCarArrange('bookingCarInfo.form')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="status.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('calendar.status.title') }}</b>
      </template>
      <el-form
        ref="status.form"
        :model="status.form"
        status-icon
        :rules="statusRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('calendar.status.status')">
          <el-select v-model="calendar.status" placeholder="Select" disabled>
            <el-option
              v-for="item in bookingStatus"
              :key="item.id"
              :label="$t('booking.status.' + item)"
              :value="item"
            />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('calendar.status.form.status')" prop="status">
          <el-select v-model="status.form.status" placeholder="Select">
            <el-option
              v-for="item in bookingStatus"
              :key="item.id"
              :label="$t('booking.status.' + item)"
              :value="item"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="status.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitStatus('status.form')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="moneyRoute.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('calendar.moneyRoute.title') }}</b>
      </template>
      <div>
        <el-form
          ref="moneyRoute.form"
          :model="moneyRoute.form"
          status-icon
          :rules="moneyRouteRules"
          label-width="auto"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('calendar.moneyRoute.chargeRoute')" prop="chargeRoute">
            <money3 v-model="calendar.chargeRoute" v-bind="$system.CURRENCY_FORMAT" class="input-money" disabled />
          </el-form-item>
          <el-form-item :label="$t('calendar.moneyRoute.form.chargeRoute')" prop="chargeRoute">
            <money3 v-model="moneyRoute.form.chargeRoute" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
          </el-form-item>
        </el-form>
      </div>

      <template #footer>
        <span class="dialog-footer">
          <el-button @click="moneyRoute.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitMoneyRoute('moneyRoute.form')">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="moneyDeposited.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('calendar.moneyDeposited.title') }}</b>
      </template>
      <el-form
        ref="moneyDeposited.form"
        :model="moneyDeposited.form"
        status-icon
        :rules="moneyDepositedRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('calendar.moneyDeposited.moneyDeposited')">
          <money3 v-model="calendar.moneyDeposited" v-bind="$system.CURRENCY_FORMAT" class="input-money" disabled />
        </el-form-item>
        <el-form-item :label="$t('calendar.moneyDeposited.form.moneyDeposited')" prop="moneyDeposited">
          <money3 v-model="moneyDeposited.form.moneyDeposited" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="moneyDeposited.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitMoneyDeposited('moneyDeposited.form')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="moneyTransferred.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('calendar.moneyTransferred.title') }}</b>
      </template>
      <el-form
        ref="moneyTransferred.form"
        :model="moneyTransferred.form"
        status-icon
        :rules="moneyTransferredRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('calendar.moneyTransferred.moneyTransferred')">
          <money3 v-model="calendar.moneyTransferred" v-bind="$system.CURRENCY_FORMAT" class="input-money" disabled />
        </el-form-item>
        <el-form-item :label="$t('calendar.moneyTransferred.form.moneyTransferred')" prop="moneyTransferred">
          <money3
            v-model="moneyTransferred.form.moneyTransferred"
            v-bind="$system.CURRENCY_FORMAT"
            class="input-money"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="moneyTransferred.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitMoneyTransferred('moneyTransferred.form')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="bookingAddress.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('calendar.bookingAddress.title') }}</b>
      </template>
      <el-form
        ref="bookingAddress.form"
        :model="bookingAddress.form"
        status-icon
        :rules="bookingAddressRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('calendar.bookingAddress.bookingAddress')">
          <div>
            <div>
              {{ $t('calendar.form.bookingAddress.start') }}
              <span v-for="(item, index) in calendar.bookingAddress.filter((e) => e.type == 'start')" :key="index">
                - {{ item.detail }} ({{ item.order }})
                <span></span>
              </span>
            </div>
            <div>
              {{ $t('calendar.form.bookingAddress.end') }}
              <span v-for="(item, index) in calendar.bookingAddress.filter((e) => e.type == 'end')" :key="index">
                - {{ item.detail }} ({{ item.order }})
                <span></span>
              </span>
            </div>
          </div>
        </el-form-item>
        <el-form
          ref="bookingAddress.addForm"
          :model="bookingAddress.addForm"
          status-icon
          :rules="addFormRules"
          label-width="auto"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('calendar.bookingAddress.add.form.type')" prop="type">
            <el-select v-model="bookingAddress.addForm.type" placeholder="Select">
              <el-option
                v-for="item in bookingAddressType"
                :key="item.id"
                :label="$t('booking.address.type.' + item)"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('calendar.bookingAddress.add.form.order')" prop="order">
            <el-input v-model="bookingAddress.addForm.order" type="number" autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('calendar.bookingAddress.add.form.detail')" prop="detail">
            <el-input v-model="bookingAddress.addForm.detail" type="text" autocomplete="off" />
          </el-form-item>
          <el-button type="primary" @click="submitBookingAddressAddForm('bookingAddress.addForm')">
            {{ $t('common.confirm') }}
          </el-button>
        </el-form>
        <el-form-item :label="$t('calendar.bookingAddress.form.bookingAddress')" prop="bookingAddress">
          <div v-if="bookingAddress.form.bookingAddress">
            <div class="mt-1">
              {{ $t('calendar.form.bookingAddress.start') }}
            </div>
            <div
              class="mt-1"
              v-for="(item, index) in bookingAddress.form.bookingAddress.filter((e) => e.type == 'start')"
              :key="index"
            >
              <el-input :placeholder="`${item.detail}(${item.order})`" disabled>
                <template #append>
                  <el-button @click="deleteAddress(item)">Delete</el-button>
                </template>
              </el-input>
            </div>
            <div class="mt-1">
              {{ $t('calendar.form.bookingAddress.end') }}
            </div>
            <div
              class="mt-1"
              v-for="(item, index) in bookingAddress.form.bookingAddress.filter((e) => e.type == 'end')"
              :key="index"
            >
              <el-input :placeholder="`${item.detail}(${item.order})`" disabled>
                <template #append>
                  <el-button @click="deleteAddress(item)">Delete</el-button>
                </template>
              </el-input>
            </div>
          </div>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="bookingAddress.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitBookingAddress('bookingAddress.form')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="timeLeave.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('calendar.timeLeave.title') }}</b>
      </template>
      <el-form
        ref="timeLeave.form"
        :model="timeLeave.form"
        status-icon
        :rules="timeLeaveRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('calendar.timeLeave.timeLeave')">
          <el-date-picker
            v-model="calendar.timeLeave"
            type="datetime"
            prefix-icon="el-icon-date"
            class="grow mr-2"
            placeholder=""
            @change="dateChangedHandle"
            :format="$system.FORMAT_DATE_TIME"
            :value-format="$system.FORMAT_DATE_TIME"
            :picker-options="datePickerOptions"
            disabled
          />
        </el-form-item>
        <el-form-item :label="$t('calendar.timeLeave.form.timeLeave')" prop="timeLeave">
          <el-date-picker
            v-model="timeLeave.form.timeLeave"
            type="datetime"
            prefix-icon="el-icon-date"
            class="grow mr-2"
            placeholder=""
            @change="dateChangedHandle"
            :format="$system.FORMAT_DATE_TIME"
            :value-format="$system.FORMAT_DATE_TIME"
            :picker-options="datePickerOptions"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="timeLeave.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitTimeLeave('timeLeave.form')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="carType.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('calendar.carType.title') }}</b>
      </template>
      <el-form
        ref="carType.form"
        :model="carType.form"
        status-icon
        :rules="carTypeRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <div v-if="calendarType.filter((e) => e == calendar.type).length > 0">
          <!-- <el-form-item :label="$t('calendar.carType.carType')">
            <el-select v-model="calendar.carType.id" placeholder="Select" disabled>
              <el-option
                v-for="carType in carType.carTypes"
                :key="carType.id"
                :label="carType.name"
                :value="carType.id"
              />
            </el-select>
          </el-form-item> -->
          <div>
            <span class="calendar-info-field-title">{{ $t('calendar.form.carType.title') }}:</span>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.carType.name') }} - {{ calendar.carType.name }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.carType.description') }} - {{ calendar.carType.description }}
            </div>
            <div class="calendar-info-field-sub">
              {{ $t('calendar.form.carType.seats') }} - {{ calendar.carType.seats }}
            </div>
          </div>
          <el-form-item :label="$t('calendar.carType.form.carType')" prop="carType">
            <el-select v-model="carType.form.carType" placeholder="Select">
              <el-option
                v-for="carType in carType.carTypes"
                :key="carType.id"
                :label="carType.name"
                :value="carType.id"
              />
            </el-select>
          </el-form-item>
        </div>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="carType.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitCarType('carType.form')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { calendarType, calendarRentalType, bookingStatus, bookingAddressType } from '@/constants/booking'
import { partnerType } from '@/constants/carInfo'
import { ElMessageBox } from 'element-plus'
import {
  getBookingReq,
  putBookingCarInfo,
  putBookingStatusReq,
  putBookingMoneyRouteReq,
  putBookingMoneyDepositedReq,
  putBookingMoneyTransferredReq,
  putChangeBookingAddressReq,
  putChangeBookingTimeReq,
  putBookingCarTypeReq,
  putBookingVatStatusReq
} from '@/api/bookingApi'
import { getCarTypesReq } from '@/api/carTypeApi'
import { getPartnersReq } from '@/api/partnerApi'
import { getCarInfosReq } from '@/api/carInfoApi'

export default {
  data() {
    return {
      calendarType: calendarType,
      calendarRentalType: calendarRentalType,
      bookingStatus: bookingStatus,
      bookingAddressType: bookingAddressType,
      partnerType: partnerType,
      calendar: null,
      result: {
        moneyPayment: 0
      },
      bookingCarInfo: {
        dialog: false,
        form: {
          bookingId: '',
          carInfoId: null,
          name: '',
          driverName: '',
          detail: '',
          phoneNumber: ''
        },
        partner: {
          list: [],
          id: null,
          type: partnerType.partner,
          carInfos: []
        }
      },
      status: {
        dialog: false,
        form: {
          status: null
        }
      },
      moneyRoute: {
        dialog: false,
        form: {
          chargeRoute: null
        }
      },
      moneyDeposited: {
        dialog: false,
        form: {
          moneyDeposited: ''
        }
      },
      moneyTransferred: {
        dialog: false,
        form: {
          moneyTransferred: ''
        }
      },
      timeLeave: {
        dialog: false,
        form: {
          timeLeave: null
        }
      },
      bookingAddress: {
        dialog: false,
        addForm: {},
        form: {
          bookingAddress: null
        }
      },
      carType: {
        dialog: false,
        carTypes: null,
        form: {
          carType: null
        }
      }

      // carArrangeRules: {
      //   name: [{ required: true, message: this.$t('bookingForm.nameRequired'), trigger: 'blur' }],
      //   driverName: [{ required: true, message: this.$t('bookingForm.descriptionRequired'), trigger: 'blur' }],
      //   detail: [{ required: true, message: this.$t('bookingForm.seatsRequired'), trigger: 'blur' }],
      //   phoneNumber: [{ required: true, message: this.$t('bookingForm.typeRequired'), trigger: 'blur' }]
      // },
      // carArrangeDialogVisible: false,

      // moneyRouteDialogVisible: false,

      // moneyDepositedDialogVisible: false,
      // moneyTransferredForm: {
      //   bookingId: '',
      //   moneyTransferred: ''
      // },
      // moneyTransferredDialogVisible: false
    }
  },
  computed: {
    bookingCarInfoRules() {
      return {
        // driverName: [
        //   { required: true, message: this.$t('calendar.bookingCarInfo.form.driverNameRequired'), trigger: 'blur' }
        // ],
        name: [{ required: true, message: this.$t('calendar.bookingCarInfo.form.nameRequired'), trigger: 'blur' }],
        number: [{ required: true, message: this.$t('calendar.bookingCarInfo.form.numberRequired'), trigger: 'blur' }]
        // phoneNumber: [
        //   { required: true, message: this.$t('calendar.bookingCarInfo.form.phoneNumberRequired'), trigger: 'blur' }
        // ]
      }
    },
    statusRules() {
      return {
        status: [{ required: true, message: this.$t('calendar.status.form.statusRequired'), trigger: 'blur' }]
      }
    },
    moneyRouteRules() {
      return {
        chargeRoute: [{ required: true, message: this.$t('moneyRoute.form.chargeRouteRequired'), trigger: 'blur' }]
      }
    },
    moneyDepositedRules() {
      return {
        moneyDeposited: [
          { required: true, message: this.$t('bookingForm.moneyDepositedRequired'), trigger: 'blur' }
          // {
          //   type: 'number',
          //   min: 1,
          //   max: 100000,
          //   message: this.$t('bookingForm.moneyDepositedRange'),
          //   trigger: 'blur'
          // }
        ]
      }
    },
    moneyTransferredRules() {
      return {
        moneyTransferred: [
          { required: true, message: this.$t('bookingForm.moneyTransferredRequired'), trigger: 'blur' }
          // {
          //   type: 'number',
          //   min: 1,
          //   max: 100000,
          //   message: this.$t('bookingForm.moneyTransferredRange'),
          //   trigger: 'blur'
          // }
        ]
      }
    },
    timeLeaveRules() {
      return {
        timeLeave: [{ required: true, message: this.$t('calendar.timeLeave.form.timeLeaveRequired'), trigger: 'blur' }]
      }
    },
    addFormRules() {
      return {
        type: [{ required: true, message: this.$t('calendar.bookingAddress.add.form.typeRequired'), trigger: 'blur' }],
        order: [
          { required: true, message: this.$t('calendar.bookingAddress.add.form.orderRequired'), trigger: 'blur' }
        ],
        detail: [
          { required: true, message: this.$t('calendar.bookingAddress.add.form.detailRequired'), trigger: 'blur' }
        ]
      }
    },
    bookingAddressRules() {
      return {
        bookingAddress: [
          { required: true, message: this.$t('calendar.bookingAddress.form.bookingAddressRequired'), trigger: 'blur' }
        ]
      }
    },
    carTypeRules() {
      return {
        carType: [{ required: true, message: this.$t('calendar.carType.form.carTypeRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    this.loadCalendar()
  },
  methods: {
    loadCalendar() {
      getBookingReq(this.$route.params.calendarId).then((res) => {
        this.calendar = res.data
      })
    },
    loadCarTypes() {
      if (this.calendar.carType) {
        getCarTypesReq({ type: this.calendar.carType.type }).then((res) => {
          this.carType.carTypes = res.data.results
        })
      }
    },
    loadPartners(name) {
      getPartnersReq({ name: name }).then((res) => {
        this.bookingCarInfo.partner.list = res.data.results
      })
    },
    loadCarInfos() {
      getCarInfosReq({ partnerId: this.bookingCarInfo.partner.id }).then((res) => {
        this.bookingCarInfo.partner.carInfos = res.data.results
      })
    },
    onPartnerNameChanged(val) {
      if (val) {
        setTimeout(() => {
          this.loadPartners(val)
        }, 200)
      }
    },
    submitCarArrange(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          putBookingCarInfo(this.calendar.id, this.bookingCarInfo.form).then((res) => {
            this.loadCalendar()
            this.bookingCarInfo.dialog = false
          })
        } else {
          console.log('error submit!')
          return false
        }
      })
      this.carArrangeDialogVisible = false
    },
    submitStatus(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          putBookingStatusReq(this.calendar.id, this.status.form).then((res) => {
            this.loadCalendar()
          })
          this.status.dialog = false
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    submitMoneyRoute(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          putBookingMoneyRouteReq(this.calendar.id, this.moneyRoute.form).then((res) => {
            this.loadCalendar()
          })
          this.moneyRoute.dialog = false
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    submitMoneyDeposited(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          putBookingMoneyDepositedReq(this.calendar.id, this.moneyDeposited.form).then((res) => {
            this.loadCalendar()
          })
          this.moneyDeposited.dialog = false
        } else {
          return false
        }
      })
    },
    submitMoneyTransferred(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          putBookingMoneyTransferredReq(this.calendar.id, this.moneyTransferred.form).then((res) => {
            this.loadCalendar()
          })
          this.moneyTransferred.dialog = false
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    submitBookingAddress(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          putChangeBookingAddressReq(this.calendar.id, this.bookingAddress.form).then((res) => {
            this.loadCalendar()
          })
          this.bookingAddress.dialog = false
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    submitTimeLeave(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          putChangeBookingTimeReq(this.calendar.id, this.timeLeave.form).then((res) => {
            this.loadCalendar()
          })
          this.timeLeave.dialog = false
        } else {
          console.log('error submit!')
          return false
        }
      })
    },

    submitBookingAddressAddForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          // console.log(this.bookingAddress.addForm)
          // this.bookingAddress.addForm.
          if (this.bookingAddress.form.bookingAddress == null) {
            this.bookingAddress.form.bookingAddress = []
          }
          this.bookingAddress.form.bookingAddress.push({
            type: this.bookingAddress.addForm.type,
            order: this.bookingAddress.addForm.order,
            detail: this.bookingAddress.addForm.detail
          })
          this.bookingAddress.addForm = {}
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    deleteAddress(item) {
      this.bookingAddress.form.bookingAddress = this.bookingAddress.form.bookingAddress.filter((e) => e != item)
      console.log(item.order)
      console.log(this.bookingAddress.form.bookingAddress.filter((e) => e.order != item.order))
    },
    submitCarType(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          putBookingCarTypeReq(this.calendar.id, { carTypeId: this.carType.form.carType }).then((res) => {
            this.loadCalendar()
          })
          this.carType.dialog = false
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    submitVatStatus(val) {
      console.log(val)
      putBookingVatStatusReq(this.calendar.id, { vatStatus: val ? 'completed' : 'incompleted' }).then((res) => {
        this.loadCalendar()
      })
    }
  }
}
</script>

<style scoped>
ul {
  list-style-type: square;
  padding: 0;
}
</style>
