<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="false"
      :reload-able="true"
      :filter-able="true"
      @add-event="null"
      @reload-event="loadCalendars"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="calendars.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
      height="75vh"
      :row-class-name="(row, rowIndex) => bookingTypeClass[row.row.type]"
      @cell-dblclick="(row, column, cell, event) => onTableDoubleClicked(row)"
    >
      <!-- <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        align="center"
        type="index"
        :label="$t('calendar.rental.order')"
        width="70"
      /> -->
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        align="center"
        :label="$t('calendar.rental.rentalDateStart')"
        width="120"
        fixed
      >
        <template #default="scope">
          {{ scope.row.rentalDateStart }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        align="center"
        :label="$t('calendar.rental.rentalDateEnd')"
        width="120"
      >
        <template #default="scope">
          {{ scope.row.rentalDateEnd }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.rental.fullName')"
        width="250"
        prop="fullName"
      >
        <template #default="scope">
          <div v-if="scope.row.platform == 'mobile_app'">
            <div>
              {{ scope.row.user.fullName }} - {{ scope.row.user.userName }} ({{
                $t('booking.platform.' + scope.row.platform)
              }})
            </div>
            <div>{{ scope.row.user.phoneNumber }}</div>
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.rental.rentalLocation')"
        width="250"
        prop="rentalLocation"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.rental.moneyPayment')"
        min-width="120"
        prop="moneyPayment"
      >
        <template #default="scope">
          {{ $filters.toVnd(scope.row.moneyPayment) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.rental.partner')"
        min-width="120"
      >
        <template #default="scope">
          {{ $filters.toVnd(scope.row.moneyPayment) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.rental.carRental')"
        min-width="250"
      >
        <template #default="scope">
          <div>{{ scope.row.carRental.name }} - {{ scope.row.carRental.carType.name }}</div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.rental.carInfo')"
        min-width="250"
      >
        <template #default="scope">
          {{ scope.row.carRental.name }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.rental.note')"
        min-width="250"
        prop="note"
      />

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.rental.status')"
        min-width="120"
      >
        <template #default="scope">
          {{ $t('booking.status.' + scope.row.status) }}
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
        fixed="right"
      >
        <!-- fixed="right" -->
        <template #default="scope">
          <span class="table-btn-edit">
            <el-button type="primary" size="small" @click="carArrange.dialogVisible = true">
              <el-icon>
                <svg-icon icon-class="car-arranged" />
              </el-icon>
            </el-button>
          </span>

          <router-link :to="{ name: 'CalendarEdit', params: { calendarId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="calendars.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="calendars.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('calendar.manager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('calendar.manager.deleteMessage') }}
        <i></i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="filters"
          :model="filters"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('calendar.manager.filters.startDate')">
            <el-date-picker
              v-model="filters.startDate"
              type="date"
              :editable="false"
              :format="$system.FORMAT_DATE"
              :value-format="$system.FORMAT_DATE"
              placeholder="Pick a day"
              :shortcuts="true"
            />
          </el-form-item>
          <el-form-item :label="$t('calendar.manager.filters.endDate')">
            <el-date-picker
              v-model="filters.endDate"
              type="date"
              :editable="false"
              :format="$system.FORMAT_DATE"
              :value-format="$system.FORMAT_DATE"
              placeholder="Pick a day"
              :shortcuts="true"
            />
          </el-form-item>
          <el-form-item :label="$t('calendar.manager.filters.status')">
            <el-checkbox-group v-model="filters.status" :min="1">
              <el-checkbox v-for="item in calendarRentalStatus" :key="item" :label="item">
                {{ $t('booking.status.' + item) }}
              </el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <!-- <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button> -->
          <el-button type="primary" @click="onFilterSubmit">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer>
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { calendarRentalType, calendarRentalStatus, bookingTypeClass } from '@/constants/booking'

export default {
  data() {
    return {
      calendarRentalType: calendarRentalType,
      calendarRentalStatus: calendarRentalStatus,
      bookingTypeClass: bookingTypeClass,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('calendarRentalStore', ['calendars', 'filters', 'pageSize', 'pageNumber'])
  },
  watch: {
    filters: {
      handler(val) {
        console.log(val)
        this.changeCalendarDayFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadCalendars()
  },
  methods: {
    ...mapActions('calendarRentalStore', [
      'changeSize',
      'changeNumber',
      'changeCalendarDayFilters',
      'loadCalendars',
      'deleteCalendar'
    ]),
    onFilterClicked() {
      this.loadCalendars()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteCalendar(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
