<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="false"
      :reload-able="true"
      :filter-able="true"
      @add-event="$router.replace({ name: 'CalendarAdd' })"
      @reload-event="loadCalendars"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="calendars.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
      :row-class-name="(row, rowIndex) => bookingTypeClass[row.row.type]"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.timeLeave')"
        width="120"
        prop="timeLeave"
        fixed
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.status')"
        width="120"
      >
        <template #default="scope">
          {{ $t('booking.status.' + scope.row.status) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.area')"
        width="120"
      >
        <template #default="scope"></template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.type')"
        width="100"
      >
        <template #default="scope">
          {{ $t('booking.type.' + scope.row.type) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.carType')"
        width="150"
      >
        <template #default="scope">
          <div v-if="scope.row.carType">
            {{ scope.row.carType.name }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.customer')"
        width="150"
      >
        <template #default="scope">
          <div v-if="scope.row.platform == 'mobile_app'">
            <div>
              {{ scope.row.user.fullName }} - {{ scope.row.user.userName }} ({{
                $t('booking.platform.' + scope.row.platform)
              }})
            </div>
            <div>{{ scope.row.user.phoneNumber }}</div>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.addressStart')"
        width="250"
      >
        <template #default="scope">
          <p v-for="(item, index) in scope.row.bookingAddress.filter((e) => e.type == 'start')" :key="index">
            - {{ item.detail }}
          </p>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.addressEnd')"
        width="250"
      >
        <template #default="scope">
          <p v-for="(item, index) in scope.row.bookingAddress.filter((e) => e.type == 'end')" :key="index">
            - {{ item.detail }}
          </p>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.moneyPayment')"
        width="150"
      >
        <template #default="scope">
          {{ $filters.toVnd(scope.row.moneyPayment) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.moneyPromotion')"
        width="150"
      >
        <template #default="scope">
          {{ $filters.toVnd(scope.row.moneyPromotion) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.paymentMethod')"
        width="150"
      >
        <template #default="scope">
          {{ $t('booking.paymentMethod.' + scope.row.paymentMethod) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.carInfo')"
        width="200"
      >
        <template #default="scope">
          <div v-if="scope.row.bookingCarInfo">
            <div>{{ scope.row.bookingCarInfo.name }} - {{ scope.row.bookingCarInfo.number }}</div>
            <div>{{ scope.row.bookingCarInfo.driverName }} - {{ scope.row.bookingCarInfo.phoneNumber }}</div>
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('calendar.manager.outputInfo')"
        width="300"
      >
        <template #default="scope">
          <div
            v-clipboard:copy="$filters.getPartnerMessenger(scope.row)"
            v-clipboard:success="onCopy"
            v-clipboard:error="onError"
            @click="true"
            class="btn-copy"
          >
            {{ $filters.getPartnerMessenger(scope.row) }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
        fixed="right"
      >
        <template #default="scope">
          <router-link :to="{ name: 'CalendarEdit', params: { calendarId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="calendars.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="calendars.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('calendar.manager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('calendar.manager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="filters"
          :model="filters"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('calendar.manager.filters.timeLeave')">
            <el-date-picker
              v-model="filters.timeLeave"
              type="date"
              :editable="false"
              :format="$system.FORMAT_DATE"
              :value-format="$system.FORMAT_DATE"
              placeholder="Pick a day"
              :shortcuts="true"
            />
          </el-form-item>
          <el-form-item :label="$t('calendar.manager.filters.type')">
            <el-checkbox-group v-model="filters.types" :min="1">
              <el-checkbox v-for="item in calendarType" :key="item" :label="item">
                {{ $t('booking.type.' + item) }}
              </el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item :label="$t('calendar.manager.filters.status')">
            <el-checkbox-group v-model="filters.status" :min="1">
              <el-checkbox v-for="item in calendarStatus" :key="item" :label="item">
                {{ $t('booking.status.' + item) }}
              </el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <!-- <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button> -->
          <el-button
            type="primary"
            @click="
              () => {
                loadCalendars()
                drawerFilter = false
              }
            "
          >
            {{ $t('common.confirm') }}
          </el-button>
        </el-form>
      </template>
    </el-drawer>
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { calendarType, calendarStatus, bookingTypeClass } from '@/constants/booking'
import { ElMessage } from 'element-plus'

export default {
  data() {
    return {
      calendarType: calendarType,
      calendarStatus: calendarStatus,
      bookingTypeClass: bookingTypeClass,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('calendarStore', ['calendars', 'filters', 'pageSize', 'pageNumber'])
  },
  watch: {
    filters: {
      handler(val) {
        console.log(val)
        this.changeCalendarDayFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadCalendars()
  },
  methods: {
    ...mapActions('calendarStore', [
      'changeSize',
      'changeNumber',
      'changeCalendarDayFilters',
      'loadCalendars',
      'deleteCalendar'
    ]),
    onFilterClicked() {
      this.loadCalendars()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteCalendar(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    },
    onCopy() {
      ElMessage({ message: 'Đã chép dữ liệu', type: 'success' })
    }
  }
}
</script>
<style></style>
