<template>
  <el-dialog v-model="dialogVisible" width="90%" :close-on-click-modal="false" :show-close="false" :fullscreen="false">
    <template #title>
      <b>{{ $t('carInfoManager.deleteTitle') }}</b>
    </template>
    <!-- <el-form
        ref="carArrangeForm"
        :model="carArrangeForm"
        status-icon
        :rules="carArrangeRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('bookingForm.carInfoNameLabel')" prop="name">
          <el-input v-model="carArrange.form.name" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bookingForm.carInfoDriverNameLabel')" prop="driverName">
          <el-input v-model="carArrange.form.driverName" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bookingForm.carInfoDetailLabel')" prop="detail">
          <el-input v-model="carArrange.form.detail" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('bookingForm.carInfoPhoneNumberLabel')" prop="phoneNumber">
          <el-input v-model="carArrange.form.phoneNumber" type="number" autocomplete="off" />
        </el-form-item>
      </el-form> -->
    <el-row :gutter="20">
      <el-col :span="partner.type == partnerType.partner ? 12 : 24">
        <el-form
          ref="form"
          :model="form"
          status-icon
          :rules="rules"
          label-width="auto"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('carArrange.partner')" prop="partner">
            <el-input v-model="form.name" type="text" autocomplete="off" disabled>
              <template #append>
                <el-select v-model="partner.type" placeholder="Select" style="width: 115px">
                  <el-option
                    v-for="item in Object.keys(partnerType)"
                    :key="item"
                    :label="$t('partnerType.' + item)"
                    :value="item"
                  />
                </el-select>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item :label="$t('carArrange.driverName')" prop="driverName">
            <el-input v-model="form.driverName" type="text" autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('carArrange.name')" prop="name">
            <el-input v-model="form.detail" type="text" autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('carArrange.number')" prop="number">
            <el-input v-model="form.phoneNumber" type="text" autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('carArrange.phoneNumber')" prop="phoneNumber">
            <el-input v-model="form.phoneNumber" type="text" autocomplete="off" />
          </el-form-item>
        </el-form>
      </el-col>
      <el-col :span="12" v-if="partner.type == partnerType.partner">
        <el-form label-position="top">
          <el-form-item :label="$t('carArrange.partnerName')" prop="partner">
            <el-autocomplete
              v-model="partner.name"
              :fetch-suggestions="partnerNameChanged"
              debounce="1000"
              @select="handleSelect"
            />
          </el-form-item>
          <el-scrollbar height="150px">
            <div v-for="(item, index) in 100" :key="index">Đối tác {{ index + 1 }}</div>
          </el-scrollbar>
          <el-form-item :label="$t('carArrange.partnerCar')" prop="partner">
            <el-autocomplete
              v-model="partner.name"
              :fetch-suggestions="partnerNameChanged"
              debounce="1000"
              @select="handleSelect"
            />
          </el-form-item>
          <el-scrollbar height="150px">
            <div v-for="(item, index) in 100" :key="index">Xe đối tác {{ index + 1 }}</div>
          </el-scrollbar>
        </el-form>
      </el-col>
    </el-row>

    <template #footer>
      <span class="dialog-footer">
        <el-button @click="(e) => $emit('onClosed')">{{ $t('common.cancel') }}</el-button>
        <el-button type="primary" @click="submitCarArrange('carArrangeForm')">{{ $t('common.confirm') }}</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>
import { partnerType } from '@/constants/carInfo'
export default {
  emits: ['onClosed'],
  props: ['dialogVisible'],
  data() {
    return {
      partnerType: partnerType,
      form: {
        id: '',
        name: '',
        driverName: '',
        detail: '',
        phoneNumber: ''
      },
      partner: {
        name: '',
        type: partnerType.partner
      }
    }
  },
  watch: {
    // 'partner.name'(val) {
    //   console.log(val)
    // }
  },
  computed: {
    rules() {
      return {
        name: [{ required: true, message: this.$t('bookingForm.nameRequired'), trigger: 'blur' }],
        driverName: [{ required: true, message: this.$t('bookingForm.descriptionRequired'), trigger: 'blur' }],
        detail: [{ required: true, message: this.$t('bookingForm.seatsRequired'), trigger: 'blur' }],
        phoneNumber: [{ required: true, message: this.$t('bookingForm.typeRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {},
  methods: {
    partnerNameChanged(val, cb) {
      console.log(val)
      if (val) {
        // this.onSubmitFilterLocation()
      }
      // setTimeout(() => {
      //   cb([])
      // }, 1000 * Math.random())
      cb([])
    }
  }
}
</script>
