<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('carType.form.image')" prop="images">
          <el-button class="filter-item" type="success" @click="imageGalleryVisible = true">
            <el-icon><svg-icon icon-class="add" fill="#FFFFFF" /></el-icon>
          </el-button>
          <!-- <div class="image-selected-container">
            <div v-for="(item, index) in ruleForm.images" :key="index">
              <img class="image-selected" :src="item.path" alt="" />
            </div>
          </div> -->

          <el-carousel v-if="ruleForm.images.length > 0" type="card" height="200px">
            <el-carousel-item v-for="(item, index) in ruleForm.images" :key="index">
              <img class="image-selected" :src="item.path" alt="" />
            </el-carousel-item>
          </el-carousel>
        </el-form-item>
        <el-form-item :label="$t('carType.form.name')" prop="name">
          <el-input v-model="ruleForm.name" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('carType.form.description')" prop="description">
          <el-input v-model="ruleForm.description" type="text" autocomplete="off" />
        </el-form-item>

        <el-row :gutter="10">
          <el-col :xs="24" :md="12">
            <el-form-item :label="$t('carType.form.seats')" prop="seats">
              <el-input v-model="ruleForm.seats" type="number" autocomplete="off" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :md="12">
            <el-form-item :label="$t('carType.form.type')" prop="type">
              <el-select v-model="ruleForm.type" placeholder="">
                <el-option
                  v-for="item in Object.keys(carType)"
                  :key="item.value"
                  :label="$t('carType.type.' + carType[item])"
                  :value="item"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <el-dialog v-if="imageGalleryVisible" v-model="imageGalleryVisible" width="80%">
      <template #title>
        <b>{{ $t('carType.manager.deleteTitle') }}</b>
      </template>
      <image-gallery @onImageSubmitted="onImageSubmitted" :max-page-capacity="1"></image-gallery>
    </el-dialog>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { carType } from '@/constants/carType'
export default {
  data() {
    return {
      carType: carType,
      imageGalleryVisible: false,
      ruleForm: {
        images: [],
        name: '',
        description: '',
        seats: '',
        type: ''
      }
    }
  },
  computed: {
    rules() {
      return {
        images: [{ required: true, message: this.$t('carType.form.imageRequired'), trigger: 'blur' }],
        name: [{ required: true, message: this.$t('carType.form.nameRequired'), trigger: 'blur' }],
        seats: [{ required: true, message: this.$t('carType.form.seatsRequired'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('carType.form.typeRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    console.log(this.$route)
    if (this.$route.params.carTypeId) {
      this.loadCarType(this.$route.params.carTypeId).then((res) => {
        this.ruleForm = res.data
      })
    }
  },
  methods: {
    ...mapActions('carTypeStore', ['loadCarType', 'addCarType', 'editCarType']),
    onImageSubmitted(val) {
      this.ruleForm.images = val
      this.imageGalleryVisible = false
    },
    submitAdd() {
      this.addCarType(this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'CarTypeManager' })
      })
    },
    submitEdit() {
      this.editCarType({ id: this.$route.params.carTypeId, data: this.ruleForm }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'CarTypeManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.carTypeId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
