<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('carRental.form.name')" prop="name">
          <el-input v-model="form.name" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('carRental.form.charge')" prop="charge">
          <money3 v-model="form.charge" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
        <el-form-item :label="$t('carRental.form.surcharge')" prop="surcharge">
          <money3 v-model="form.surcharge" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
        <el-form-item :label="$t('carRental.form.carTypeId')" prop="carTypeId">
          <el-select v-model="form.carTypeId" filterable placeholder="Select">
            <el-option v-for="item in loaded.carTypes" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('carRental.form.areaId')" prop="areaId">
          <el-select v-model="form.areaId" filterable placeholder="Select">
            <el-option v-for="item in loaded.areas" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { carType } from '@/constants/carType'
import { getCarTypesReq } from '@/api/carTypeApi'
import { getAreaPagedReq } from '@/api/areaApi'

export default {
  data() {
    return {
      form: {
        name: '',
        charge: '',
        surcharge: '',
        carTypeId: '',
        areaId: ''
      },
      loaded: {
        carTypes: [],
        areas: []
      }
    }
  },
  computed: {
    rules() {
      return {
        name: [{ required: true, message: this.$t('carRental.form.nameRequired'), trigger: 'blur' }],
        charge: [{ required: true, message: this.$t('carRental.form.chargeRequired'), trigger: 'blur' }],
        carTypeId: [{ required: true, message: this.$t('carRental.form.carTypeIdRequired'), trigger: 'blur' }],
        areaId: [{ required: true, message: this.$t('carRental.form.areaIdRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    this.loadAreas()
    this.loadCarTypes()
    if (this.$route.params.carRentalId) {
      this.loadCarRental(this.$route.params.carRentalId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('carRentalStore', ['loadCarRental', 'addCarRental', 'editCarRental']),
    loadCarTypes() {
      getCarTypesReq({ type: carType.rental }).then((res) => {
        this.loaded.carTypes = res.data.results
      })
    },
    loadAreas() {
      getAreaPagedReq().then((res) => {
        this.loaded.areas = res.data.results
      })
    },
    submitAdd() {
      this.addCarRental(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'CarRentalManager' })
      })
    },
    submitEdit() {
      this.editCarRental({ id: this.$route.params.carRentalId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'CarRentalManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.carRentalId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
