<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="true"
      @add-event="$router.replace({ name: 'CarTypeAdd' })"
      @reload-event="loadCarTypes"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="carTypes.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('carType.manager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('carType.manager.name')"
        width="250"
        prop="name"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('carType.manager.description')"
        width="400"
        prop="description"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('carType.manager.seats')"
        width="100"
        prop="seats"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('carType.manager.type')"
        width="150"
        prop="type"
      >
        <template #default="scope">
          {{ $t('carType.type.' + carType[scope.row.type]) }}
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
        fixed="right"
      >
        <template #default="scope">
          <router-link :to="{ name: 'CarTypeEdit', params: { carTypeId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="carTypes.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="carTypes.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('carType.manager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('carType.manager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('carType.manager.type')">
            <el-select v-model="carTypeFilters.type" filterable clearable placeholder="Select">
              <el-option v-for="item in carType" :key="item.id" :label="$t('carType.type.' + item)" :value="item" />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer>
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { carType } from '@/constants/carType'

export default {
  data() {
    return {
      carType: carType,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('carTypeStore', ['carTypes', 'carTypeFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    carTypeFilters: {
      handler(val) {
        console.log(val)
        this.changeCarTypeFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadCarTypes()
  },
  methods: {
    ...mapActions('carTypeStore', [
      'changeSize',
      'changeNumber',
      'changeCarTypeFilters',
      'loadCarTypes',
      'deleteCarType'
    ]),
    onFilterClicked() {
      this.loadCarTypes()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteCarType(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
