<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-row :gutter="20">
        <el-col :lg="18">
          <el-form
            ref="form"
            :model="form"
            status-icon
            :rules="rules"
            label-width="auto"
            class="demo-form"
            label-position="top"
          >
            <el-form-item :label="$t('carInfo.form.type')" prop="type">
              <el-select v-model="form.type" placeholder="">
                <el-option
                  v-for="item in Object.keys(carInfoType)"
                  :key="item.value"
                  :label="$t('carInfo.type.' + carInfoType[item])"
                  :value="item"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('carInfo.form.partnerId')" prop="partnerId">
              <el-select
                v-model="form.partnerId"
                filterable
                remote
                reserve-keyword
                placeholder="Please enter a keyword"
                :remote-method="remoteMethod"
                :loading="loading"
              >
                <el-option
                  v-for="item in loaded.partners"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('carInfo.form.name')" prop="name">
              <el-input v-model="form.name" type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item :label="$t('carInfo.form.driverName')" prop="driverName">
              <el-input v-model="form.driverName" type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item :label="$t('carInfo.form.number')" prop="number">
              <el-input v-model="form.number" type="text" autocomplete="off" />
            </el-form-item>
            <el-form-item :label="$t('carInfo.form.phoneNumber')" prop="phoneNumber">
              <el-input v-model="form.phoneNumber" type="number" autocomplete="off" />
            </el-form-item>

            <el-form-item>
              <el-button type="primary" @click="submitForm('form')">
                {{ $t($route.meta.title) }}
              </el-button>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :lg="6"></el-col>
      </el-row>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { carInfoType } from '@/constants/carInfo'
import { getPartnersReq } from '@/api/partnerApi'
export default {
  data() {
    return {
      carInfoType: carInfoType,
      form: {
        type: '',
        name: '',
        driverName: null,
        number: '',
        phoneNumber: null,
        partnerId: null,
        carTypeId: null
      },
      loaded: {
        partners: []
      }
    }
  },
  computed: {
    rules() {
      return {
        type: [{ required: true, message: this.$t('carInfo.form.typeRequired'), trigger: 'blur' }],
        name: [{ required: true, message: this.$t('carInfo.form.nameRequired'), trigger: 'blur' }],
        driverName: [
          {
            required: carInfoType.partner ? true : false,
            message: this.$t('carInfo.form.driverNameRequired'),
            trigger: 'blur'
          }
        ],
        number: [{ required: true, message: this.$t('carInfo.form.numberRequired'), trigger: 'blur' }],
        phoneNumber: [
          {
            required: carInfoType.partner ? true : false,
            message: this.$t('carInfo.form.phoneNumberRequired'),
            trigger: 'blur'
          }
        ],
        partnerId: [{ required: true, message: this.$t('carInfo.form.partnerIdRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    this.loadPartner()
    if (this.$route.params.carInfoId) {
      this.loadCarInfo(this.$route.params.carInfoId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('carInfoStore', ['loadCarInfo', 'addCarInfo', 'editCarInfo']),
    loadPartner() {
      getPartnersReq({ pageSize: 1000 }).then((res) => {
        this.loaded.partners = res.data.results
      })
    },
    submitAdd() {
      this.addCarInfo(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'CarInfoManager' })
      })
    },
    submitEdit() {
      this.editCarInfo({ id: this.$route.params.carInfoId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'CarInfoManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.carInfoId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
