<template>
  <div class="container-fluid px-0">
    <div class="title ms-3 mt-3 mb-5">
      <h2 class="text-white">{{ $t('changePassword.title') }}</h2>
    </div>
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('changePassword.password.title')" prop="password">
          <el-input
            v-model="form.password"
            type="text"
            autocomplete="off"
            :placeholder="$t('changePassword.password.hint')"
          />
        </el-form-item>
        <el-form-item :label="$t('changePassword.newPassword.title')" prop="newPassword">
          <el-input
            v-model="form.newPassword"
            type="text"
            autocomplete="off"
            :placeholder="$t('changePassword.newPassword.hint')"
          />
        </el-form-item>
        <el-form-item :label="$t('changePassword.confirmPassword.title')" prop="confirmPassword">
          <el-input
            v-model="form.confirmPassword"
            type="text"
            autocomplete="off"
            :placeholder="$t('changePassword.confirmPassword.hint')"
          />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" class="py-2 px-3" @click="handleEditPassword('form')">
            {{ $t('changePassword.action') }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data() {
    return {
      form: {
        password: null,
        newPassword: null,
        confirmPassword: null
      }
    }
  },
  computed: {
    rules() {
      return {
        password: [{ required: true, message: this.$t('changePassword.form.passwordRequired'), trigger: 'blur' }],
        newPassword: [{ required: true, message: this.$t('changePassword.form.newPasswordRequired'), trigger: 'blur' }],
        confirmPassword: [
          {
            required: true,
            message: this.$t('changePassword.form.confirmPasswordRequired'),
            trigger: 'blur'
          },
          {
            validator: this.matchPassword,
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    ...mapActions('profile', ['editPassword']),
    handleEditPassword(ref) {
      this.$refs[ref].validate((valid) => {
        if (valid) {
          this.editPassword(this.form)
        } else {
          return false
        }
      })
    },
    matchPassword(rule, value, callback) {
      console.log(value, this.form.newPassword)
      if (value !== this.form.newPassword) {
        callback(new Error(this.$t('changePassword.form.confirmPasswordMatched')))
      } else {
        callback()
      }
    }
  }
}
</script>

<style lang="scss">
.content-wrapper {
  background: #e9ecef;
  height: 100%;
}
</style>
