<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="false"
      :reload-able="true"
      :filter-able="false"
      @add-event="$router.replace({ name: 'ConfigAdd' })"
      @reload-event="loadConfigs"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="configs.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('config.manager.order')"
        width="70"
      />

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('config.manager.key')"
        width="200"
      >
        <template #default="scope">
          {{ $t('config.key.' + scope.row.key) }}
        </template>
      </el-table-column>

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('config.manager.section')"
        width="200"
      >
        <template #default="scope">
          {{ $t('config.section.' + scope.row.section) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('config.manager.value')"
      >
        <template #default="scope">
          <div v-if="scope.row.dataType == 'money'">{{ $filters.toVnd(scope.row.value) }}</div>
          <div v-else-if="scope.row.dataType == 'percent'">{{ scope.row.value }}%</div>
          <div v-else>{{ scope.row.value }}</div>
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'ConfigEdit', params: { configId: scope.row.key } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
            disabled
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="configs.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="configs.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('config.manager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('config.manager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <!-- <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('config.manager.type')">
            <el-select v-model="configFilters.type" filterable clearable placeholder="Select">
              <el-option
                v-for="item in Object.keys(config)"
                :key="item.id"
                :label="$t('config.type.' + config[item])"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer> -->
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
// import { CAR_TYPE } from '@/constants/config'

export default {
  data() {
    return {
      // config: CAR_TYPE,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('configStore', ['configs', 'configFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    configFilters: {
      handler(val) {
        console.log(val)
        this.changeConfigFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadConfigs()
  },
  methods: {
    ...mapActions('configStore', ['changeSize', 'changeNumber', 'changeConfigFilters', 'loadConfigs', 'deleteConfig']),
    onFilterClicked() {
      this.loadConfigs()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteConfig(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
