<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('config.form.section')" prop="section">
          <el-input :placeholder="$t('config.section.' + form.section)" type="text" autocomplete="off" disabled />
        </el-form-item>
        <el-form-item :label="$t('config.form.key')" prop="key">
          <el-input :placeholder="$t('config.key.' + form.key)" type="text" autocomplete="off" disabled />
        </el-form-item>
        <el-form-item :label="$t('config.form.value')" prop="value">
          <!-- <el-input v-if="form.type == 'double'" v-model="form.value" type="text" autocomplete="off" />
          <editor
            v-if="form.type == 'html'"
            api-key="0gpeo35zc43uii5xh88oibonokhnvt29wl1tx55wprbnfd69"
            v-model="form.value"
            :init="{
              height: 500,
              menubar: 'insert',
              plugins: ['lists link image code paste help wordcount'],
              a11y_advanced_options: true,
              selector: 'textarea',
              automatic_uploads: true,
              file_picker_types: 'image',
              toolbar:
                'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help',
              images_upload_url: 'postAcceptor.php'
            }"
          /> -->
          <money3
            v-if="form.dataType == 'money'"
            v-model="form.value"
            v-bind="$system.CURRENCY_FORMAT"
            class="input-money"
          />
          <el-input v-else v-model="form.value" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      form: {
        section: null,
        key: null,
        value: null
      }
    }
  },
  computed: {
    rules() {
      return {
        section: [{ required: true, message: this.$t('config.form.sectionRequired'), trigger: 'blur' }],
        key: [{ required: true, message: this.$t('config.form.keyRequired'), trigger: 'blur' }],
        value: [{ required: true, message: this.$t('config.form.valueRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.configId) {
      this.loadConfig(this.$route.params.configId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('configStore', ['loadConfig', 'addConfig', 'editConfig']),
    submitAdd() {
      this.addConfig(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'ConfigManager' })
      })
    },
    submitEdit() {
      this.editConfig({ id: this.$route.params.configId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'ConfigManager' })
      })
    },
    submitForm(formEl) {
      console.log(this.time)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.configId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
