<template>
  <div class="toolbar-container">
    <el-button class="filter-item" type="primary" @click="loadPaged">
      <el-icon><svg-icon icon-class="reload" fill="#FFFFFF" /></el-icon>
    </el-button>
    <el-button class="filter-item" type="success" @click="addFile">
      <input
        id="fileUpload"
        type="file"
        accept="image/png, image/gif, image/jpeg"
        hidden
        ref="file"
        @change="fileChanged"
      />
      <el-icon><svg-icon icon-class="add" fill="#FFFFFF" /></el-icon>
    </el-button>
    <el-button v-if="selected.length > 0" class="filter-item" type="success" @click="onImageSubmit">
      <span>Đã chọn {{ selected.length }}</span>
      <el-icon>
        <svg-icon icon-class="check" fill="#FFFFFF" />
      </el-icon>
    </el-button>
  </div>
  <div class="gallery-container">
    <el-row :gutter="2">
      <el-col
        class="gallery-item-container"
        :xs="12"
        :sm="8"
        :md="8"
        :lg="6"
        :xl="4"
        v-for="(item, index) in dataPaged.results"
        :key="index"
      >
        <div class="img-overlay">
          <el-button type="success" circle @click="selectImage(item)" v-if="maxPageReached">
            <svg-icon icon-class="add" />
          </el-button>
          <el-button type="danger" circle @click="deleteImageExtension(item.id)">
            <svg-icon icon-class="delete" />
          </el-button>
        </div>
        <div v-if="selectedFilter(item).length > 0" class="img-overlay-selected">
          <div class="overlay-btn" circle @click="selectImage(item)">
            {{ selected.indexOf(selectedFilter(item)[0]) + 1 }}
          </div>
        </div>
        <div class="image-container">
          <img class="" :src="item.path" alt="" />
        </div>
      </el-col>
    </el-row>
  </div>
  <pagination
    v-show="dataPaged.totalItems > 0"
    :page-size="pageSize"
    :current-page="pageNumber"
    :total="dataPaged.totalItems"
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
  />
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { ElMessage, ElMessageBox } from 'element-plus'
export default {
  props: {
    maxPageCapacity: Number
  },
  emits: ['onImageSubmitted'],
  data() {
    return {
      files: [],
      currentCapacity: 0
    }
  },
  computed: {
    ...mapGetters('imageStore', ['dataPaged', 'selected', 'pageSize', 'pageNumber']),
    maxPageReached() {
      if (this.currentCapacity == this.maxPageCapacity) {
        return false
      }
      return true
    }
  },
  mounted() {
    this.initial()
  },
  methods: {
    ...mapActions('imageStore', [
      'initial',
      'loadPaged',
      'changeSize',
      'changeNumber',
      'selectedImage',
      'remoteAddImage',
      'deleteImage'
    ]),

    handleSizeChange(val) {
      this.changeSize(val)
      // this.loadPaged()
    },
    handleCurrentChange(val) {
      this.changeNumber(val)
      // this.loadPaged()
    },
    addFile() {
      let fileInputElement = this.$refs.file
      fileInputElement.click()
    },
    fileChanged(event) {
      // console.log(event.target.files)
      // console.log(event.target.files[0])
      this.remoteAddImage({ image: event.target.files[0] })
    },
    onImageSubmit() {
      this.$emit('onImageSubmitted', this.selected)
    },
    async selectImage(item) {
      if (this.selected.indexOf(this.selectedFilter(item)[0]) >= 0) {
        this.currentCapacity--
      } else {
        this.currentCapacity++
      }

      console.log(this.currentCapacity)
      if (this.currentCapacity > this.maxPageCapacity) {
        return
      }
      this.selectedImage(item)
    },
    selectedFilter(item) {
      return this.selected.filter((e) => e.id == item.id)
    },
    deleteImageExtension(id) {
      ElMessageBox.confirm(this.$t('deleteImageMessage.confirmMessage'), 'Warning', {
        confirmButtonText: this.$t('deleteImageMessage.confirmButtonText'),
        cancelButtonText: this.$t('deleteImageMessage.cancelButtonText'),
        type: 'warning'
      })
        .then(() => {
          this.deleteImage(id)
          ElMessage({
            type: 'success',
            message: this.$t('deleteImageMessage.successDeleteMessage')
          })
        })
        .catch(() => {})
    }
  }
}
</script>
<style scoped>
.toolbar-container {
  margin: 0 0 10px 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-item-container {
  position: relative;
}
.img-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.61);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-overlay:hover {
  opacity: 1;
}
.overlay-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: rgb(0, 162, 255);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: bold;
}
.img-overlay-selected {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(255, 255, 255, 0.685);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  aspect-ratio: 16/9;
  padding: 0;
  margin: 0;
  /* background: red; */
}
.gallery-container {
  background: white;
}
</style>
