<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('location.form.type')" prop="type">
          <el-select v-model="form.type" placeholder="" :disabled="$route.params.locationId">
            <el-option
              v-for="item in locationType"
              :key="item.value"
              :label="$t('location.type.' + item)"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="form.type == 'airport'" :label="$t('location.form.airport')" prop="airport">
          <el-input v-model="form.airport" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item v-if="form.type" :label="$t('location.form.province')" prop="province">
          <el-select v-model="form.provinceId" filterable :placeholder="form.province" value-key="code" clearable>
            <el-option v-for="item in loaded.provinces" :key="item.code" :label="item.name" :value="item.code" />
          </el-select>
        </el-form-item>

        <el-form-item v-if="form.type == 'airport'" :label="$t('location.form.promotionValue')" prop="promotionValue">
          <money3 v-model="form.promotionValue" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
        <el-form-item v-if="form.type == 'location'" :label="$t('location.form.district')" prop="district">
          <el-select
            v-model="form.districtId"
            filterable
            :placeholder="form.district"
            value-key="code"
            clearable
            @clear="
              () => {
                form.districtId = null
                form.wardId = null
              }
            "
          >
            <el-option v-for="item in loaded.districts" :key="item.code" :label="item.name" :value="item.code" />
          </el-select>
        </el-form-item>
        <el-form-item v-if="form.type == 'location'" :label="$t('location.form.ward')" prop="ward">
          <el-select
            v-model="form.wardId"
            filterable
            :placeholder="form.ward"
            value-key="code"
            clearable
            @clear="
              () => {
                form.wardId = null
              }
            "
          >
            <el-option v-for="item in loaded.wards" :key="item.code" :label="item.name" :value="item.code" />
          </el-select>
        </el-form-item>
        <el-form-item v-if="form.type == 'location'" :label="$t('location.form.route')" prop="route">
          <el-input v-model="form.route" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { locationType } from '@/constants/location'
import { getProvinceReq, getDistrictReq, getWardReq } from '@/api/vnCadastralApi'

export default {
  data() {
    return {
      locationType: locationType,
      form: {
        type: null,
        airport: null,
        provinceId: null,
        districtId: null,
        wardId: null,
        route: null
      },
      tempForm: {},
      loaded: {
        provinces: [],
        districts: [],
        wards: []
      }
    }
  },
  computed: {
    rules() {
      return {
        images: [{ required: true, message: this.$t('form.imageRequired'), trigger: 'blur' }],
        name: [{ required: true, message: this.$t('form.nameRequired'), trigger: 'blur' }],
        description: [{ required: true, message: this.$t('form.descriptionRequired'), trigger: 'blur' }],
        seats: [{ required: true, message: this.$t('form.seatsRequired'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('form.typeRequired'), trigger: 'blur' }]
      }
    }
  },
  watch: {
    'locationForm.type'(newValue) {},
    'form.provinceId'(newVal) {
      if (newVal) {
        // form.districtId = null
        // form.wardId = null
        this.loadDistricts(this.form.provinceId)
      }
    },
    'form.districtId'(newVal) {
      if (newVal) {
        this.loadWards(this.form.districtId)
      }
    }
    // 'locationTempForm.district'(newVal) {
    //   console.log(newVal)
    //   this.loadWard()
    //   this.locationForm.district = newVal.name
    // },
    // 'locationTempForm.ward'(newVal) {
    //   console.log(newVal)
    //   this.loadWard()
    //   this.locationForm.ward = newVal.name
    // }
  },
  mounted() {
    this.loadProvinces()
    if (this.$route.params.locationId) {
      this.loadLocation(this.$route.params.locationId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('locationStore', ['loadLocation', 'addLocation', 'editLocation']),
    loadProvinces() {
      getProvinceReq().then((res) => {
        this.loaded.provinces = res.data
      })
    },
    loadDistricts(provinceId) {
      getDistrictReq(provinceId).then((res) => {
        this.loaded.districts = res.data
      })
    },
    loadWards(districtId) {
      getWardReq(districtId).then((res) => {
        this.loaded.wards = res.data
      })
    },
    submitAdd() {
      this.addLocation(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'LocationManager' })
      })
    },
    submitEdit() {
      console.log(this.form)
      this.editLocation({ id: this.$route.params.locationId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'LocationManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.locationId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
