<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="true"
      @add-event="$router.replace({ name: 'LocationAdd' })"
      @reload-event="loadLocations"
      @filter-event="
        () => {
          drawerFilter = true
        }
      "
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="locations.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
      :cell-class-name="tableCellClassName"
    >
      <!-- :label="$t('location.manager.type')" -->
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('location.manager.type')"
        width="200"
        prop="type"
      >
        <template #default="scope">
          <el-tag effect="dark" :type="locationTypeColor[scope.row.type]">
            {{ $t('location.type.' + scope.row.type) }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('location.manager.airport')"
        width="200"
        prop="airport"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('location.manager.province')"
        width="200"
        prop="province.name"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('location.manager.district')"
        width="200"
        prop="district.name"
      />

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('location.manager.ward')"
        width="200"
        prop="ward.name"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('location.manager.route')"
        width="200"
        prop="route"
      >
        <template #default="scope">
          {{ scope.row.route }}
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'LocationEdit', params: { locationId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="locations.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="locations.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('location.manager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('location.manager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('location.manager.type')">
            <el-select v-model="locationFilters.type" filterable clearable placeholder="Select">
              <el-option
                v-for="item in locationType"
                :key="item.id"
                :label="$t('location.type.' + item)"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer>
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { locationType, locationTypeColor } from '@/constants/location'

export default {
  data() {
    return {
      locationType: locationType,
      locationTypeColor: locationTypeColor,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('locationStore', ['locations', 'locationFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    locationFilters: {
      handler(val) {
        console.log(val)
        this.changeLocationFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadLocations()
  },
  methods: {
    ...mapActions('locationStore', [
      'changeSize',
      'changeNumber',
      'changeLocationFilters',
      'loadLocations',
      'deleteLocation'
    ]),
    onFilterClicked() {
      this.loadLocations()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteLocation(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
