<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('notificationInstruction.form.phoneBrand')" prop="phoneBrand">
          <el-input v-model="form.phoneBrand" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('notificationInstruction.form.images')" prop="images">
          <el-button class="filter-item" type="success" @click="imageGalleryVisible = true">
            <el-icon><svg-icon icon-class="add" fill="#FFFFFF" /></el-icon>
          </el-button>
          <!-- <div class="image-selected-container">
            <div v-for="(item, index) in form.images" :key="index">
              <img class="image-selected" :src="item.path" alt="" />
            </div>
          </div> -->

          <el-carousel v-if="form.images.length > 0" type="card" height="200px">
            <el-carousel-item v-for="(item, index) in form.images" :key="index">
              <img class="image-selected" :src="item.path" alt="" />
            </el-carousel-item>
          </el-carousel>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <el-dialog v-if="imageGalleryVisible" v-model="imageGalleryVisible" width="80%">
      <template #title>
        <b>{{ $t('notificationInstruction.manager.deleteTitle') }}</b>
      </template>
      <image-gallery @onImageSubmitted="onImageSubmitted"></image-gallery>
    </el-dialog>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      imageGalleryVisible: false,
      form: {
        phoneBrand: '',
        images: []
      }
    }
  },
  computed: {
    rules() {
      return {
        phoneBrand: [
          { required: true, message: this.$t('notificationInstruction.form.phoneBrandRequired'), trigger: 'blur' }
        ],
        images: [{ required: true, message: this.$t('notificationInstruction.form.imagesRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.notificationInstructionId) {
      this.loadNotificationInstruction(this.$route.params.notificationInstructionId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('notificationInstructionStore', [
      'loadNotificationInstruction',
      'addNotificationInstruction',
      'editNotificationInstruction'
    ]),
    onImageSubmitted(val) {
      this.form.images = val
      this.imageGalleryVisible = false
    },
    submitAdd() {
      this.addNotificationInstruction(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'NotificationInstructionManager' })
      })
    },
    submitEdit() {
      this.editNotificationInstruction({ id: this.$route.params.notificationInstructionId, data: this.form }).then(
        (res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'NotificationInstructionManager' })
        }
      )
    },
    submitForm(formEl) {
      console.log(this.time)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.notificationInstructionId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
