<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="formRules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <div v-for="(item, index) in form.titles" :key="index">
          <el-form-item
            :label="$t(`notification.form.title.${form.titles[index].language}`)"
            :prop="`titles[${index}].text`"
          >
            <el-input
              v-model="form.titles[index].text"
              :autosize="{ minRows: 2, maxRows: 4 }"
              type="textarea"
              autocomplete="off"
            />
          </el-form-item>
        </div>

        <div v-for="(item, index) in form.contents" :key="index">
          <el-form-item
            :label="$t(`notification.form.content.${form.contents[index].language}`)"
            :prop="`contents[${index}].text`"
          >
            <el-input
              v-model="form.contents[index].text"
              :autosize="{ minRows: 2, maxRows: 4 }"
              type="textarea"
              autocomplete="off"
            />
          </el-form-item>
        </div>
        <el-form-item :label="$t('notification.form.to')" prop="to">
          <el-select v-model="form.to" placeholder="">
            <el-option
              v-for="item in notificationTo"
              :key="item"
              :label="$t('notification.to.' + item)"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="form.to == 'list'" :label="$t('notification.form.userIds')" prop="userIds">
          <el-select
            v-model="userSelected"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="onUserNameChanged"
            :loading="loading"
            value-key="id"
          >
            <el-option v-for="item in users" :key="item.id" :label="item.userName" :value="item" />
          </el-select>
        </el-form-item>
        <el-form-item v-if="form.to == 'rank'" :label="$t('notification.form.rankId')" prop="rankId">
          <el-select v-model="form.rankId" placeholder="Select" value-key="id">
            <el-option v-for="item in ranks" :key="item.id" :label="$t('rank.type.' + item.level)" :value="item.id" />
          </el-select>
        </el-form-item>

        <el-form-item>
          <el-checkbox v-model="withVoucher" :label="$t('notification.form.withVoucher')" size="large" />
        </el-form-item>
        <el-form-item v-if="withVoucher" :label="$t('notification.form.voucherId')" prop="voucherId">
          <el-select
            v-model="form.voucherId"
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="onVoucherIdChanged"
            :loading="loading"
            value-key="id"
          >
            <el-option
              v-for="item in vouchers"
              :key="item.id"
              :label="item.id + ' ' + $filters.toVnd(item.value) + `(${item.remaining})`"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { notificationTo } from '@/constants/notification'
import { getUserPagedReq } from '@/api/userApi'
import { getRankPagedReq } from '@/api/rankApi'
import { getVouchersReq } from '@/api/voucherApi'

export default {
  data() {
    return {
      notificationTo: notificationTo,
      form: {
        titles: [
          { language: 'vi', text: '' },
          { language: 'en', text: '' }
        ],
        contents: [
          { language: 'vi', text: '' },
          { language: 'en', text: '' }
        ],
        to: '',
        userIds: [],
        rankId: null,
        voucherId: null
      },
      withVoucher: false,
      ranks: [],
      rankSelected: null,
      userSelected: [],
      users: [],
      vouchers: [],
      voucherSelected: null
    }
  },
  watch: {
    'form.to'(val) {
      if (val == 'rank') {
        this.loadRank()
      }
      this.userSelected = []
      this.rankSelected = null
    },
    rankSelected(val) {
      if (val) this.form.rankId = val.id
      else this.form.rankId = null
      console.log(val)
    },
    userSelected(val) {
      this.form.userIds = val.map((e) => e.id)
      console.log(val)
      console.log(this.form.userIds)
    }
  },
  computed: {
    formRules() {
      return {
        'titles[0].text': [{ required: true, message: this.$t('notification.form.titleRequired.vi'), trigger: 'blur' }],
        'titles[1].text': [{ required: true, message: this.$t('notification.form.titleRequired.en'), trigger: 'blur' }],
        'contents[0].text': [
          { required: true, message: this.$t('notification.form.contentRequired.vi'), trigger: 'blur' }
        ],
        'contents[1].text': [
          { required: true, message: this.$t('notification.form.contentRequired.en'), trigger: 'blur' }
        ],
        to: [{ required: true, message: this.$t('notification.form.toRequired'), trigger: 'blur' }],
        userIds: [
          {
            required: this.form.to == 'list',
            message: this.$t('notification.form.userIdsRequired'),
            trigger: 'blur'
          }
        ],
        rankId: [{ required: true, message: this.$t('notification.form.rankIdRequired'), trigger: 'blur' }],
        voucherId: [
          { required: this.withVoucher, message: this.$t('notification.form.voucherIdRequired'), trigger: 'blur' }
        ]
      }
    }
  },
  mounted() {},
  methods: {
    loadRank() {
      getRankPagedReq()
        .then((res) => {
          this.ranks = res.data.results
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    onUserNameChanged(val) {
      if (val) {
        setTimeout(() => {
          getUserPagedReq({ userName: val }).then((res) => {
            console.log(res)
            this.users = res.data.results
          })
        }, 200)
      } else {
      }
    },
    onVoucherIdChanged(val) {
      if (val) {
        setTimeout(() => {
          getVouchersReq({ id: val }).then((res) => {
            console.log(res)
            this.vouchers = res.data.results
          })
        }, 200)
      } else {
      }
    },
    actionAdd() {
      this.$store
        .dispatch('notificationManager/addData', this.form)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'UserManager' })
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    submitForm(formEl) {
      console.log(this.form)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          this.actionAdd()
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    remoteMethod(query) {
      if (query) {
        this.searchUser(query)
        setTimeout(() => {}, 200)
      } else {
      }
    }
  }
}
</script>
