<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('partner.form.name')" prop="name">
          <el-input v-model="form.name" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item :label="$t('partner.form.areaId')" prop="areaId">
          <el-select v-model="form.areaId" placeholder="Select">
            <el-option v-for="item in loaded.areas" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('partner.form.phoneNumber')" prop="phoneNumber">
          <el-input v-model="form.phoneNumber" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { getAreaPagedReq } from '@/api/areaApi'

export default {
  data() {
    return {
      form: {
        name: '',
        areaId: '',
        phoneNumber: ''
      },
      loaded: {
        partners: [],
        areas: []
      }
    }
  },
  computed: {
    rules() {
      return {
        name: [{ required: true, message: this.$t('partner.form.nameRequired'), trigger: 'blur' }],
        areaId: [{ required: true, message: this.$t('partner.form.areaIdRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    this.loadAreas()
    if (this.$route.params.partnerId) {
      this.loadPartner(this.$route.params.partnerId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('partnerStore', ['loadPartner', 'addPartner', 'editPartner']),
    loadAreas() {
      getAreaPagedReq().then((res) => {
        this.loaded.areas = res.data.results
      })
    },
    submitAdd() {
      this.addPartner(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'PartnerManager' })
      })
    },
    submitEdit() {
      this.editPartner({ id: this.$route.params.partnerId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'PartnerManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.partnerId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
