<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="true"
      @add-event="$router.replace({ name: 'PartnerAdd' })"
      @reload-event="loadPartners"
      @filter-event="
        () => {
          loadAreas()
          drawerFilter = true
        }
      "
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="partners.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('partner.manager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('partner.manager.area')"
        width="150"
        prop="area.name"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('partner.manager.name')"
        min-width="150"
        prop="name"
      />

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('partner.manager.phoneNumber')"
        width="120"
        prop="phoneNumber"
      />
      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
        fixed="right"
      >
        <template #default="scope">
          <router-link :to="{ name: 'PartnerEdit', params: { partnerId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="partners.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="partners.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('partner.manager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('partner.manager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('partner.manager.area')">
            <el-select v-model="partnerFilters.areaId" filterable clearable placeholder="Select">
              <el-option v-for="item in parnterOptions.areas" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer>
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { getAreaPagedReq } from '@/api/areaApi'

export default {
  data() {
    return {
      parnterOptions: {
        areas: []
      },
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('partnerStore', ['partners', 'partnerFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    partnerFilters: {
      handler(val) {
        console.log(val)
        this.changePartnerFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadPartners()
  },
  methods: {
    ...mapActions('partnerStore', [
      'changeSize',
      'changeNumber',
      'changePartnerFilters',
      'loadPartners',
      'deletePartner'
    ]),
    loadAreas() {
      getAreaPagedReq().then((res) => {
        this.parnterOptions.areas = res.data.results
      })
    },
    onFilterClicked() {
      this.loadPartners()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deletePartner(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
