<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="true"
      @add-event="$router.replace({ name: 'PriceListAdd' })"
      @reload-event="loadPriceLists"
      @filter-event="
        () => {
          loadPriceListOptions()
          drawerFilter = true
        }
      "
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="priceLists.results"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('priceList.manager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('priceList.manager.province')"
        width="120"
        prop="province"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('priceList.manager.type')"
        width="120"
      >
        <template #default="scope">
          {{ $t('carType.type.' + scope.row.type) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('priceList.manager.routeName')"
        min-width="200"
        prop="routeName"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('priceList.manager.seat')"
        prop="seat"
        width="120"
      />

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('priceList.manager.priceRange')"
        prop="priceRange"
        width="150"
      />

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
        fixed="right"
      >
        <template #default="scope">
          <router-link :to="{ name: 'PriceListEdit', params: { priceListId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="priceLists.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="priceLists.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('priceList.manager.delete.title') }}</b>
      </template>
      <span>
        {{ $t('priceList.manager.delete.message') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="filterForm"
          :model="filterForm"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('priceList.manager.type')">
            <el-select v-model="priceListFilters.type" filterable clearable placeholder="Select">
              <el-option
                v-for="item in priceListCarType"
                :key="item.id"
                :label="$t('carType.type.' + item)"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('priceList.manager.province')">
            <el-select v-model="priceListFilters.province" filterable clearable placeholder="Select">
              <el-option v-for="item in priceListOptions.provinces" :key="item" :label="item" :value="item" />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer>
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { priceListCarType } from '@/constants/carType'
import { getPriceListOptions } from '@/api/priceListApi'

export default {
  data() {
    return {
      priceListCarType: priceListCarType,
      priceListOptions: {
        provinces: []
      },
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('priceListStore', ['priceLists', 'priceListFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    priceListFilters: {
      handler(val) {
        console.log(val)
        this.changePriceListFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadPriceLists()
  },
  methods: {
    ...mapActions('priceListStore', [
      'changeSize',
      'changeNumber',
      'changePriceListFilters',
      'loadPriceLists',
      'deletePriceList'
    ]),
    loadPriceListOptions() {
      getPriceListOptions().then((res) => {
        this.priceListOptions.provinces = res.data.provinces
      })
    },
    onFilterClicked() {
      this.loadPriceLists()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deletePriceList(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
