<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="false"
      @add-event="$router.replace({ name: 'PromotionArticleAdd' })"
      @reload-event="loadPromotionArticles"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="promotionArticles.results"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('promotionArticle.manager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('promotionArticle.manager.title')"
        width="200"
        prop="title"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('promotionArticle.manager.content')"
        prop="content"
      />

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('promotionArticle.manager.createdAt')"
        width="150"
      >
        <template #default="scope">
          {{ $filters.format_date(scope.row.createdAt) }}
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link
            :to="{ name: 'PromotionArticleEdit', params: { promotionArticleId: scope.row.id } }"
            class="table-btn-edit"
          >
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="promotionArticles.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="promotionArticles.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('promotionArticle.manager.delete.title') }}</b>
      </template>
      <span>
        {{ $t('promotionArticle.manager.delete.message') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <!-- <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('promotionArticle.manager.type')">
            <el-select v-model="promotionArticleFilters.type" filterable clearable placeholder="Select">
              <el-option
                v-for="item in Object.keys(promotionArticle)"
                :key="item.id"
                :label="$t('promotionArticle.type.' + promotionArticle[item])"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer> -->
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
// import { CAR_TYPE } from '@/constants/promotionArticle'

export default {
  data() {
    return {
      // promotionArticle: CAR_TYPE,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('promotionArticleStore', ['promotionArticles', 'promotionArticleFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    promotionArticleFilters: {
      handler(val) {
        console.log(val)
        this.changePromotionArticleFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadPromotionArticles()
  },
  methods: {
    ...mapActions('promotionArticleStore', [
      'changeSize',
      'changeNumber',
      'changePromotionArticleFilters',
      'loadPromotionArticles',
      'deletePromotionArticle'
    ]),
    onFilterClicked() {
      this.loadPromotionArticles()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deletePromotionArticle(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
