<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-rule"
        label-position="top"
      >
        <div v-for="(item, index) in form.titles" :key="index">
          <el-form-item
            :label="$t(`question.form.title.${form.titles[index].language}`)"
            :prop="`titles[${index}].text`"
          >
            <el-input
              v-model="form.titles[index].text"
              :autosize="{ minRows: 2, maxRows: 4 }"
              type="textarea"
              autocomplete="off"
            />
          </el-form-item>
        </div>

        <div v-for="(item, index) in form.answers" :key="index">
          <el-form-item
            :label="$t(`question.form.answer.${form.answers[index].language}`)"
            :prop="`answers[${index}].text`"
          >
            <el-input
              v-model="form.answers[index].text"
              :autosize="{ minRows: 2, maxRows: 4 }"
              type="textarea"
              autocomplete="off"
            />
          </el-form-item>
        </div>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { addQuestionReq, editQuestionReq } from '@/api/questionApi'
export default {
  data() {
    return {
      imageGalleryVisible: false,
      form: {
        titles: [
          { language: 'vi', text: '' },
          { language: 'en', text: '' }
        ],
        answers: [
          { language: 'vi', text: '' },
          { language: 'en', text: '' }
        ]
      }
    }
  },
  computed: {
    rules() {
      return {
        'titles[0].text': [{ required: true, message: this.$t('question.form.titleRequired.vi'), trigger: 'blur' }],
        'titles[1].text': [{ required: true, message: this.$t('question.form.titleRequired.en'), trigger: 'blur' }],
        'answers[0].text': [{ required: true, message: this.$t('question.form.answerRequired.vi'), trigger: 'blur' }],
        'answers[1].text': [{ required: true, message: this.$t('question.form.answerRequired.en'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.questionId) {
      this.loadQuestion(this.$route.params.questionId).then((res) => {
        console.log(res)
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('questionStore', ['loadQuestion', 'addQuestion', 'editQuestion']),
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          console.log(valid)
          if (this.$route.params.questionId) {
            editQuestionReq(this.$route.params.questionId, this.form).then((res) => {
              ElMessage({ message: res.messages.join(), type: 'success' })
              this.$router.replace({ name: 'QuestionManager' })
            })
          } else {
            addQuestionReq(this.form).then((res) => {
              ElMessage({ message: res.messages.join(), type: 'success' })
              this.$router.replace({ name: 'QuestionManager' })
            })
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
