<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="false"
      @add-event="$router.replace({ name: 'QuestionAdd' })"
      @reload-event="loadQuestions"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="questions.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('question.manager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('question.manager.title.title')"
      >
        <template #default="scope">
          <div>{{ $t('question.manager.title.vi') }}: {{ scope.row.titles.find((e) => e.language == 'vi').text }}</div>
          <div>{{ $t('question.manager.title.en') }}: {{ scope.row.titles.find((e) => e.language == 'en').text }}</div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        x
        :label="$t('question.manager.answer.title')"
      >
        <template #default="scope">
          <div>
            {{ $t('question.manager.answer.vi') }}: {{ scope.row.answers.find((e) => e.language == 'vi').text }}
          </div>
          <div>
            {{ $t('question.manager.answer.en') }}: {{ scope.row.answers.find((e) => e.language == 'en').text }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'QuestionEdit', params: { questionId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="questions.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="questions.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('question.manager.delete.title') }}</b>
      </template>
      <span>
        {{ $t('question.manager.delete.message') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <!-- <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('question.manager.type')">
            <el-select v-model="questionFilters.type" filterable clearable placeholder="Select">
              <el-option
                v-for="item in Object.keys(question)"
                :key="item.id"
                :label="$t('question.type.' + question[item])"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer> -->
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
// import { CAR_TYPE } from '@/constants/question'

export default {
  data() {
    return {
      // question: CAR_TYPE,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('questionStore', ['questions', 'questionFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    questionFilters: {
      handler(val) {
        console.log(val)
        this.changeQuestionFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadQuestions()
  },
  methods: {
    ...mapActions('questionStore', [
      'changeSize',
      'changeNumber',
      'changeQuestionFilters',
      'loadQuestions',
      'deleteQuestion'
    ]),
    onFilterClicked() {
      this.loadQuestions()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteQuestion(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
