<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar :add-able="false" :reload-able="true" :filter-able="false" @reload-event="loadRanks" />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="ranks.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('rank.manager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rank.manager.level')"
        width="120"
        prop="level"
      >
        <template #default="scope">
          {{ $t('rank.type.' + rankType[scope.row.level]) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rank.manager.point')"
        width="150"
        prop="point"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rank.manager.promotion')"
        width="150"
        prop="promotion"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rank.manager.freeAddress')"
        width="100"
        prop="freeAddress"
      />
      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'RankEdit', params: { rankId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
            disabled
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="ranks.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="ranks.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('rank.manager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('rank.manager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <!-- <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('rank.manager.type')">
            <el-select v-model="rankFilters.type" filterable clearable placeholder="Select">
              <el-option
                v-for="item in Object.keys(rank)"
                :key="item.id"
                :label="$t('rank.type.' + rank[item])"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer> -->
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { rankType } from '@/constants/rank'

export default {
  data() {
    return {
      rankType: rankType,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null
    }
  },
  computed: {
    ...mapGetters('rankStore', ['ranks', 'rankFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    rankFilters: {
      handler(val) {
        console.log(val)
        this.changeRankFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadRanks()
  },
  methods: {
    ...mapActions('rankStore', ['changeSize', 'changeNumber', 'changeRankFilters', 'loadRanks', 'deleteRank']),
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteRank(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
