<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('rank.form.type')">
          <el-select v-model="form.id" placeholder="" disabled>
            <el-option
              v-for="item in Object.keys(rankType)"
              :key="item.value"
              :label="$t('rank.type.' + rankType[item])"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('rank.form.point')" prop="point">
          <el-input v-model="form.point" type="number" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('rank.form.promotion')" prop="promotion">
          <el-input v-model="form.promotion" type="number" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('rank.form.freeAddress')" prop="freeAddress">
          <el-input v-model="form.freeAddress" type="number" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { rankType } from '@/constants/rank'

export default {
  data() {
    return {
      rankType: rankType,
      form: {
        point: '',
        promotion: '',
        freeAddress: ''
      }
    }
  },
  computed: {
    rules() {
      return {
        point: [{ required: true, message: this.$t('rank.form.pointRequired'), trigger: 'blur' }],
        promotion: [{ required: true, message: this.$t('rank.form.promotionRequired'), trigger: 'blur' }],
        freeAddress: [{ required: true, message: this.$t('rank.form.freeAddressRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.rankId) {
      this.loadRank(this.$route.params.rankId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('rankStore', ['loadRank', 'addRank', 'editRank']),
    submitAdd() {
      this.addRank(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'RankManager' })
      })
    },
    submitEdit() {
      this.editRank({ id: this.$route.params.rankId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'RankManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.rankId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
