<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="true"
      @add-event="$router.replace({ name: 'RentalConditionAdd' })"
      @reload-event="loadRentalConditions"
      @filter-event="
        () => {
          this.loadAreas()
          drawerFilter = true
        }
      "
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="rentalConditions.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('rentalCondition.manager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rentalCondition.manager.area')"
        width="250"
        prop="area.name"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rentalCondition.manager.section')"
        width="250"
        prop="section"
      >
        <template #default="scope">
          {{ $t('rentalCondition.section.' + rentalConditionSection[scope.row.section]) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('rentalCondition.manager.value')"
        width="400"
        prop="value"
      />

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link
            :to="{ name: 'RentalConditionEdit', params: { rentalConditionId: scope.row.id } }"
            class="table-btn-edit"
          >
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="rentalConditions.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="rentalConditions.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('rentalCondition.manager.delete.title') }}</b>
      </template>
      <span>
        {{ $t('rentalCondition.manager.delete.message') }}
        <i></i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    -
    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('rentalCondition.filters.title') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('rentalCondition.filters.areaId')">
            <el-select v-model="rentalConditionFilters.areaId" filterable clearable placeholder="Select">
              <el-option
                v-for="item in rentalConditionOptions.areas"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer>
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { rentalConditionSection } from '@/constants/rentalCondition'
import { getAreaPagedReq } from '@/api/areaApi'

export default {
  data() {
    return {
      rentalConditionSection: rentalConditionSection,
      rentalConditionOptions: {
        areas: []
      },
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('rentalConditionStore', ['rentalConditions', 'rentalConditionFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    rentalConditionFilters: {
      handler(val) {
        console.log(val)
        this.changeRentalConditionFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadRentalConditions()
  },
  methods: {
    ...mapActions('rentalConditionStore', [
      'changeSize',
      'changeNumber',
      'changeRentalConditionFilters',
      'loadRentalConditions',
      'deleteRentalCondition'
    ]),
    loadAreas() {
      getAreaPagedReq().then((res) => {
        this.rentalConditionOptions.areas = res.data.results
      })
    },
    onFilterClicked() {
      this.loadRentalConditions()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteRentalCondition(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
