<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('rentalCondition.form.areaId')" prop="areaId" value-key="id">
          <el-select v-model="form.areaId" placeholder="Select">
            <el-option v-for="item in loaded.areas" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('rentalCondition.form.section')" prop="section">
          <el-select v-model="form.section" placeholder="">
            <el-option
              v-for="item in Object.keys(rentalConditionSection)"
              :key="item.value"
              :label="$t('rentalCondition.section.' + rentalConditionSection[item])"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('rentalCondition.form.value')" prop="value">
          <el-input v-model="form.value" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { rentalConditionSection } from '@/constants/rentalCondition'
import { getAreaPagedReq } from '@/api/areaApi'

export default {
  data() {
    return {
      rentalConditionSection: rentalConditionSection,
      form: {
        areaId: '',
        section: null,
        value: ''
      },
      loaded: {
        areas: []
      }
    }
  },
  computed: {
    rules() {
      return {
        images: [{ required: true, message: this.$t('rentalCondition.form.imageRequired'), trigger: 'blur' }],
        name: [{ required: true, message: this.$t('rentalCondition.form.nameRequired'), trigger: 'blur' }],
        description: [
          { required: true, message: this.$t('rentalCondition.form.descriptionRequired'), trigger: 'blur' }
        ],
        seats: [{ required: true, message: this.$t('rentalCondition.form.seatsRequired'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('rentalCondition.form.typeRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    this.loadAreas()
    if (this.$route.params.rentalConditionId) {
      this.loadRentalCondition(this.$route.params.rentalConditionId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('rentalConditionStore', ['loadRentalCondition', 'addRentalCondition', 'editRentalCondition']),
    loadAreas() {
      getAreaPagedReq().then((res) => {
        this.loaded.areas = res.data.results
        console.log(this.loaded)
      })
    },
    submitAdd() {
      this.addRentalCondition(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'RentalConditionManager' })
      })
    },
    submitEdit() {
      this.editRentalCondition({ id: this.$route.params.rentalConditionId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'RentalConditionManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.rentalConditionId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
