<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="true"
      @add-event="$router.replace({ name: 'RouteAdd' })"
      @reload-event="loadRoutes"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="routes.results"
      border
      fit
      :default-expand-all="false"
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column type="expand">
        <template #default="props">
          <div m="4">
            <div class="car-type" v-for="(item, index) in props.row.routeCarTypes" :key="index">
              <div class="car-type-name">{{ item.carType.name }}</div>
              <div class="car-type-fee">{{ $filters.toVnd(item.fee) }}</div>
            </div>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('route.manager.order')"
        width="50"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('route.manager.type')"
        width="150"
      >
        <template #default="scope">
          <div>
            <el-tag type="" size="large">
              {{ $t('carType.type.' + scope.row.type) }}
            </el-tag>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('route.manager.start')"
        min-width="250"
      >
        <template #default="scope">
          <div>
            <!-- <el-tag type="" size="large">
              {{ $t('location.' + locationType[scope.row.start.type]) }}
            </el-tag> -->
            {{ scope.row.start.detail }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('route.manager.end')"
        width="250"
      >
        <template #default="scope">
          <div>
            <!-- <el-tag type="" size="large">
              {{ $t('location.' + locationType[scope.row.end.type]) }}
            </el-tag> -->
            {{ scope.row.end.detail }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'RouteEdit', params: { routeId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="routes.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="routes.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('route.manager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('route.manager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <!-- <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('route.manager.type')">
            <el-select v-model="routeFilters.type" filterable clearable placeholder="Select">
              <el-option
                v-for="item in Object.keys(route)"
                :key="item.id"
                :label="$t('route.type.' + route[item])"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer> -->
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { bookingType } from '@/constants/booking'

export default {
  data() {
    return {
      bookingType: bookingType,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('routeStore', ['routes', 'routeFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    routeFilters: {
      handler(val) {
        console.log(val)
        this.changeRouteFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadRoutes()
  },
  methods: {
    ...mapActions('routeStore', ['changeSize', 'changeNumber', 'changeRouteFilters', 'loadRoutes', 'deleteRoute']),
    onFilterClicked() {
      this.loadRoutes()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteRoute(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style scoped>
.car-type {
  padding: 5px;
  display: flex;
  font-size: 15px;
}
.car-type-name {
  width: 250px;
  color: black;
}
.car-type-fee {
  width: 250px;
  color: black;
}
</style>
