<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form v-if="form" ref="form" :model="form" status-icon :rules="rules" label-position="top">
        <ul>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('route.form.bookingType') }}</span>
            <span class="calendar-info-field-value">{{ $t('carType.type.' + form.type) }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('route.form.startId') }}</span>
            <span class="calendar-info-field-value">{{ form.start.detail }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('route.form.endId') }}</span>
            <span class="calendar-info-field-value">{{ form.end.detail }}</span>
          </li>
        </ul>

        <el-form-item :label="$t('route.form.distance')" prop="distance">
          <el-input v-model="form.distance" type="number" autocomplete="off" />
        </el-form-item>

        <el-form-item :label="$t('route.form.estimatedFee')" prop="type">
          <el-row :gutter="10" v-for="(carType, index) in form.carTypes" :key="index" class="car-type-item">
            <!-- {{ carType }} -->
            <el-col :span="8">
              <span class="car-type-item-title">{{ carType.name }}</span>
            </el-col>
            <el-col :span="8">
              <money3 v-model="carType.fee" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
            </el-col>
          </el-row>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">{{ $t($route.meta.title) }}</el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { routeCarType } from '@/constants/carType'
import { locationTypeColor } from '@/constants/location'

import { getCarTypesReq } from '@/api/carTypeApi'
import { getLocationsReq } from '@/api/locationApi'
import { addRouteReq } from '@/api/routeApi'

export default {
  data() {
    return {
      routeCarType: routeCarType,
      locationTypeColor: locationTypeColor,
      mode: null,
      carType: null,
      carTypes: [],
      locationForm: {
        detail: ''
      },
      locations: [],
      form: null,
      loaded: {
        carTypes: []
      }
    }
  },
  computed: {
    rules() {
      return {
        value: [{ required: true, message: this.$t('route.form.valueRequired'), trigger: 'blur' }],
        quantity: [{ required: true, message: this.$t('route.form.quantityRequired'), trigger: 'blur' }],
        remaining: [{ required: true, message: this.$t('route.form.remainingRequired'), trigger: 'blur' }],
        perUser: [{ required: true, message: this.$t('route.form.perUserRequired'), trigger: 'blur' }],
        startDate: [{ required: true, message: this.$t('route.form.startDateRequired'), trigger: 'blur' }],
        endDate: [{ required: true, message: this.$t('route.form.endDateRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.routeId) {
      this.loadRoute(this.$route.params.routeId).then((res) => {
        this.form = res.data
        this.loadCarTypes()
      })
    }
  },
  methods: {
    ...mapActions('routeStore', ['loadRoute', 'addRoute', 'editRoute']),
    loadCarTypes() {
      getCarTypesReq({ type: this.form.type }).then((res) => {
        console.log(res)
        this.form.carTypes = res.data.results
        var carTypes = res.data.results
        console.log(this.form)
        var merge = carTypes.map((e) => ({
          ...e,
          fee:
            this.form.routeCarTypes.find((routeCarType) => routeCarType.carType.id == e.id) != null
              ? this.form.routeCarTypes.find((routeCarType) => routeCarType.carType.id == e.id).fee
              : 0
        }))
        console.log(merge)
        this.form.carTypes = merge
        console.log(this.form.carTypes)
      })
    },
    loadLocations() {
      getLocationsReq({ detail: this.locationForm.detail }).then((res) => {
        console.log(res)
        this.locations = res.data.results
      })
    },
    onCarTypeChanged(val) {
      console.log(val)
      this.loadCarTypes()
    },

    submitAdd() {
      this.addRoute({
        startId: this.form.start.id,
        endId: this.form.end.id,
        distance: this.form.distance,
        carTypes: this.form.carTypes,
        reverse: this.form.reverse
      }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'RouteManager' })
      })
    },
    submitEdit() {
      console.log(this.form)
      this.editRoute({ id: this.$route.params.routeId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'RouteManager' })
      })
    },
    submitForm(formEl) {
      console.log(this.form)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.routeId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
<style scoped>
ul {
  list-style-type: square;
  padding: 0;
}
</style>
