<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-row class="formContainer">
        <el-col :xs="12" :sm="12" :md="12" :lg="12">
          <div class="form">
            <el-form
              ref="form"
              :model="form"
              status-icon
              :rules="rules"
              label-width="auto"
              class="demo-form"
              label-position="top"
            >
              <el-form-item :label="$t('route.form.startId')" prop="startId">
                <el-button plain @click="mode = 'start'">
                  {{ form.start ? form.start.detail : $t('route.form.startIdHint') }}
                </el-button>
              </el-form-item>
              <el-form-item :label="$t('route.form.endId')" prop="endId">
                <el-button plain @click="mode = 'end'">
                  {{ form.end ? form.end.detail : $t('route.form.endIdHint') }}
                </el-button>
              </el-form-item>
              <el-form-item :label="$t('route.form.distance')" prop="distance">
                <el-input v-model="form.distance" type="text" autocomplete="off" />
              </el-form-item>

              <el-form-item :label="$t('route.form.bookingType')" prop="type">
                <el-select v-model="form.type" filterable placeholder="Select" @change="onCarTypeChanged">
                  <el-option
                    v-for="item in routeCarType"
                    :key="item.id"
                    :label="$t('carType.type.' + item)"
                    :value="item"
                  />
                </el-select>
              </el-form-item>

              <el-form-item :label="$t('route.form.estimatedFee')" prop="type">
                <el-row :gutter="10" v-for="(carType, index) in form.carTypes" :key="index" class="car-type-item">
                  <el-col :span="8">
                    <span class="car-type-item-title">{{ carType.name }}</span>
                  </el-col>
                  <el-col :span="8">
                    <money3 v-model="carType.fee" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
                  </el-col>
                  <el-col v-if="form.reverse" :span="8">
                    <money3 v-model="carType.reverseFee" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
                  </el-col>
                </el-row>
              </el-form-item>
              <el-form-item prop="reverse">
                <el-checkbox v-model="form.reverse" :label="$t('route.form.reverse')" size="large" />
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="submitForm('form')">{{ $t($route.meta.title) }}</el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
        <el-col :xs="12" :sm="12" :md="12" :lg="12">
          <div v-show="mode == 'start' || mode == 'end'" class="searchContainer">
            <el-form
              ref="carTypeForm"
              :model="carTypeForm"
              status-icon
              :rules="carTypeFormRules"
              label-width="auto"
              class="demo-form"
              label-position="left"
            >
              <el-form-item :label="$t('route.form.locationSearch')">
                <el-autocomplete
                  v-model="locationForm.detail"
                  :fetch-suggestions="
                    (val, cb) => {
                      loadLocations()
                      cb([])
                    }
                  "
                  debounce="1000"
                  @select="handleSelect"
                />
              </el-form-item>
            </el-form>
            <el-skeleton v-if="loading" :rows="5" />
            <div v-else class="result-container">
              <el-scrollbar height="200px">
                <div
                  class="result-item-container"
                  v-for="item in locations"
                  :key="item.id"
                  @click="mode == 'start' ? (form.start = item) : (form.end = item)"
                >
                  <div>
                    <el-tag effect="dark" :type="locationTypeColor[item.type]">
                      {{ $t('location.type.' + item.type) }}
                    </el-tag>
                    {{ item.detail }}
                  </div>
                </div>
              </el-scrollbar>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { routeCarType } from '@/constants/carType'
import { locationTypeColor } from '@/constants/location'

import { getCarTypesReq } from '@/api/carTypeApi'
import { getLocationsReq } from '@/api/locationApi'
import { addRouteReq } from '@/api/routeApi'

export default {
  data() {
    return {
      routeCarType: routeCarType,
      locationTypeColor: locationTypeColor,
      mode: null,

      carTypes: [],
      locationForm: {
        detail: ''
      },
      locations: [],
      form: {
        type: null,
        start: null,
        end: null,
        endId: '',
        distance: null,
        package: null,
        carTypes: [],
        reverse: false
      },
      loaded: {
        carTypes: []
      }
    }
  },
  computed: {
    rules() {
      return {
        value: [{ required: true, message: this.$t('route.form.valueRequired'), trigger: 'blur' }],
        quantity: [{ required: true, message: this.$t('route.form.quantityRequired'), trigger: 'blur' }],
        remaining: [{ required: true, message: this.$t('route.form.remainingRequired'), trigger: 'blur' }],
        perUser: [{ required: true, message: this.$t('route.form.perUserRequired'), trigger: 'blur' }],
        startDate: [{ required: true, message: this.$t('route.form.startDateRequired'), trigger: 'blur' }],
        endDate: [{ required: true, message: this.$t('route.form.endDateRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.routeId) {
      this.loadRoute(this.$route.params.routeId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('routeStore', ['loadRoute', 'addRoute', 'editRoute']),
    loadCarTypes() {
      getCarTypesReq({ type: this.form.type }).then((res) => {
        console.log(res)
        this.form.carTypes = res.data.results
      })
    },
    loadLocations() {
      getLocationsReq({ detail: this.locationForm.detail }).then((res) => {
        console.log(res)
        this.locations = res.data.results
      })
    },
    onCarTypeChanged(val) {
      console.log(val)
      this.loadCarTypes()
    },

    submitAdd() {
      this.addRoute({
        type: this.form.type,
        startId: this.form.start.id,
        endId: this.form.end.id,
        distance: this.form.distance,
        carTypes: this.form.carTypes,
        reverse: this.form.reverse
      }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'RouteManager' })
      })
    },
    submitEdit() {
      this.editRoute({ id: this.$route.params.routeId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'RouteManager' })
      })
    },
    submitForm(formEl) {
      console.log(this.form)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.routeId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
<style scoped>
.box {
  background: white;

  height: 80vh;
}
.formContainer {
  height: 100%;
}
.form {
  padding: 10px 10px;
  height: 100%;
}
.searchContainer {
  height: 100%;
  padding: 10px 10px;
}
.result-container {
  margin: 10px 0 0 0;
}
.result-item-container {
  /* background: lightgrey; */
  padding: 10px 0;
  cursor: pointer;
}
.car-type-item {
  margin: 10px 0 0 0;
}
.car-type-item-title {
  font-size: 13px;
}
</style>
