<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('slider.form.id')" prop="id">
          <el-select v-model="form.id" placeholder="" disabled>
            <el-option
              v-for="item in sliderId"
              :key="item.value"
              :label="$t('slider.id.' + item)"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('slider.form.images')" prop="images">
          <el-button class="filter-item" type="success" @click="imageGalleryVisible = true">
            <el-icon><svg-icon icon-class="add" fill="#FFFFFF" /></el-icon>
          </el-button>
          <div class="image-selected-container">
            <div v-for="(item, index) in form.images" :key="index">
              <img class="image-selected" :src="item.path" alt="" />
            </div>
          </div>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <el-dialog v-if="imageGalleryVisible" v-model="imageGalleryVisible" width="80%">
      <template #title>
        <b>{{ $t($route.meta.title) }}</b>
      </template>
      <image-gallery @onImageSubmitted="onImageSubmitted"></image-gallery>
    </el-dialog>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { sliderId } from '@/constants/slider'
export default {
  data() {
    return {
      sliderId: sliderId,
      imageGalleryVisible: false,
      form: {
        id: '',
        images: []
      }
    }
  },
  computed: {
    rules() {
      return {
        id: [{ required: true, message: this.$t('slider.form.idRequired'), trigger: 'blur' }],
        images: [{ required: true, message: this.$t('slider.form.images'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    console.log(this.$route)
    if (this.$route.params.sliderId) {
      this.loadSlider(this.$route.params.sliderId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('sliderStore', ['loadSlider', 'addSlider', 'editSlider']),
    onImageSubmitted(val) {
      this.form.images = val
      this.imageGalleryVisible = false
    },
    submitAdd() {
      this.addSlider(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'SliderManager' })
      })
    },
    submitEdit() {
      this.editSlider({ id: this.$route.params.sliderId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'SliderManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.sliderId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
