<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <!-- <el-form-item :label="$t('support.form.type')" prop="type">
          <el-select v-model="form.type" placeholder="" disabled>
            <el-option
              v-for="item in Object.keys(supportType)"
              :key="item.value"
              :label="$t('support.type.' + supportType[item])"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item :label="$t('support.form.platform')" prop="type">
          <el-input :placeholder="$t('support.platform.' + form.platform)" type="text" autocomplete="off" disabled />
        </el-form-item>
        <el-form-item :label="$t('support.form.type')" prop="type">
          <el-input :placeholder="$t('support.type.' + form.type)" type="text" autocomplete="off" disabled />
        </el-form-item>

        <el-form-item :label="$t('support.form.contact')" prop="contact">
          <el-input v-model="form.contact" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { supportType } from '@/constants/support'
export default {
  data() {
    return {
      supportType: supportType,
      form: {
        name: '',
        description: '',
        seats: '',
        type: ''
      }
    }
  },
  computed: {
    rules() {
      return {
        images: [{ required: true, message: this.$t('support.form.imageRequired'), trigger: 'blur' }],
        name: [{ required: true, message: this.$t('support.form.nameRequired'), trigger: 'blur' }],
        description: [{ required: true, message: this.$t('support.form.descriptionRequired'), trigger: 'blur' }],
        seats: [{ required: true, message: this.$t('support.form.seatsRequired'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('support.form.typeRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.supportId) {
      this.loadSupport(this.$route.params.supportId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('supportStore', ['loadSupport', 'addSupport', 'editSupport']),
    submitAdd() {
      this.addSupport(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'SupportManager' })
      })
    },
    submitEdit() {
      this.editSupport({ id: this.$route.params.supportId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'SupportManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.supportId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
