<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="false"
      :reload-able="true"
      @add-event="$router.replace({ name: 'SupportAdd' })"
      @reload-event="loadSupports"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="supports.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
      :cell-class-name="tableCellClassName"
    >
      <el-table-column
        type="index"
        :label="$t('support.manager.order')"
        label-class-name="table-header-style"
        width="70"
      />

      <el-table-column
        prop="type"
        :label="$t('support.manager.type_title')"
        label-class-name="table-header-style"
        width="200"
      >
        <template #default="scope">
          {{ $t('support.platform.' + scope.row.platform) }}
        </template>
      </el-table-column>
      <el-table-column
        prop="type"
        :label="$t('support.manager.type')"
        label-class-name="table-header-style"
        width="200"
      >
        <template #default="scope">
          <!-- <el-icon>
            <svg-icon :icon-class="'support-' + scope.row.type" class-name="icon-style" />
          </el-icon> -->
          {{ $t('support.type.' + scope.row.type) }}
        </template>
      </el-table-column>
      <el-table-column prop="contact" :label="$t('support.manager.contact')" label-class-name="table-header-style">
        <template #default="scope">
          <a v-if="scope.row.type == 'website'" :href="scope.row.contact">{{ scope.row.contact }}</a>
          <div v-else>{{ scope.row.contact }}</div>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'SupportEdit', params: { supportId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="onSelecteClicked(scope.row)"
            disabled
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="supports.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="supports.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('support.manager.delete.title') }}</b>
      </template>
      <span>
        {{ $t('support.manager.delete.message') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <!-- <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('support.manager.type')">
            <el-select v-model="supportFilters.type" filterable clearable placeholder="Select">
              <el-option
                v-for="item in Object.keys(support)"
                :key="item.id"
                :label="$t('support.type.' + support[item])"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer> -->
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { supportType } from '@/constants/support'

export default {
  data() {
    return {
      supportType: supportType,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('supportStore', ['supports', 'supportFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    supportFilters: {
      handler(val) {
        console.log(val)
        this.changeSupportFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadSupports()
  },
  methods: {
    ...mapActions('supportStore', [
      'changeSize',
      'changeNumber',
      'changeSupportFilters',
      'loadSupports',
      'deleteSupport'
    ]),
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteSupport(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style scoped>
a {
  color: blue;
}
.icon-style {
  font-size: 30px;
}
</style>
