<template>
  <manager-template-page :title="$t($route.meta.title)">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="true"
      @add-event="$router.replace({ name: 'UserAdd' })"
      @reload-event="loadUsers"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="users.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
    >
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        type="index"
        :label="$t('user.manager.order')"
        width="70"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('user.manager.status')"
        width="120"
      >
        <template #default="scope">
          {{ $t('user.status.' + scope.row.status) }}
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('user.manager.userName')"
        width="150"
        prop="userName"
      />

      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('user.manager.fullName')"
        min-width="200"
        prop="fullName"
      />
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('user.manager.rank')"
        width="100"
      >
        <template #default="scope">
          <div v-if="scope.row.rankWallet">
            {{ $t('rank.type.' + scope.row.rankWallet.rankId) }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('user.manager.wallet')"
        width="150"
      >
        <template #default="scope">
          <div v-if="scope.row.wallet">
            {{ $filters.toVnd(scope.row.wallet.balance) }}
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label-class-name="table-header-style"
        header-align="center"
        class-name="table-row-style"
        :label="$t('user.manager.createdAt')"
        width="120"
        prop="created"
      />
      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'UserEdit', params: { userId: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="users.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="users.totalItems"
      @size-change="changeSize"
      @current-change="changeNumber"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('user.manager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('user.manager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onDeleteClicked">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <!-- <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form
          ref="bookingDayRequest"
          :model="bookingDayRequest"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item :label="$t('user.manager.type')">
            <el-select v-model="userFilters.type" filterable clearable placeholder="Select">
              <el-option
                v-for="item in Object.keys(user)"
                :key="item.id"
                :label="$t('user.type.' + user[item])"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="onFilterClicked">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer> -->
  </manager-template-page>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { userStatus } from '@/constants/user'

export default {
  data() {
    return {
      userStatus: userStatus,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false
    }
  },
  computed: {
    ...mapGetters('userStore', ['users', 'userFilters', 'pageSize', 'pageNumber'])
  },
  watch: {
    userFilters: {
      handler(val) {
        console.log(val)
        this.changeUserFilters(val)
      },
      deep: true
    }
  },
  mounted() {
    this.loadUsers()
  },
  methods: {
    ...mapActions('userStore', ['changeSize', 'changeNumber', 'changeUserFilters', 'loadUsers', 'deleteUser']),
    onFilterClicked() {
      this.loadUsers()
      this.drawerFilter = false
    },
    onSelecteClicked(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    onDeleteClicked() {
      this.deleteUser(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style></style>
