<template>
  <div class="container-fluid px-0">
    <div class="title ms-3 mt-3 mb-5">
      <h2 class="text-white">{{ $t('userProfile.title') }}</h2>
    </div>
    <div class="box-card">
      <div class="p-0">
        <div class="row gy-3 gy-md-0">
          <div class="col-md-3">
            <div class="card card-primary card-outline h-100">
              <div class="card-body box-profile">
                <div
                  style="cursor: pointer"
                  class="text-center container d-flex justify-content-center align-items-center avatar-container position-relative p-0"
                  @click="toggleShow"
                >
                  <!-- <input id="fileUpload" type="file" accept="image/png, image/gif, image/jpeg" hidden ref="file" /> -->
                  <my-upload
                    field="img"
                    langType="en"
                    @crop-success="cropSuccess"
                    v-model="show"
                    :width="300"
                    :height="300"
                    ref="file"
                    :noCircle="!mobile"
                    :noSquare="!mobile"
                  ></my-upload>
                  <el-icon v-if="!data.avatar"><svg-icon icon-class="add" fill="#FFFFFF" /></el-icon>
                  <img v-if="data.avatar" :src="data.avatar" class="avatar img-fluid img-thumbnail image" />
                  <div class="middle">
                    <el-icon><svg-icon icon-class="camera" fill="#FFFFFF" /></el-icon>
                  </div>
                </div>

                <h3 class="profile-username text-center py-3">Nina Mcintire</h3>
                <p class="text-muted text-center">Software Engineer</p>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="box-card h-100 rounded">
              <el-form
                ref="form"
                :model="form"
                status-icon
                :rules="rules"
                label-width="auto"
                class="demo-form"
                label-position="top"
              >
                <el-form-item :label="$t('userProfile.name.title')" prop="name">
                  <el-input
                    v-model="form.name"
                    type="text"
                    autocomplete="off"
                    :placeholder="$t('userProfile.name.hint')"
                  />
                </el-form-item>
                <el-form-item :label="$t('userProfile.email.title')" prop="email">
                  <el-input
                    v-model="form.newPassword"
                    type="text"
                    autocomplete="off"
                    :placeholder="$t('userProfile.email.hint')"
                  />
                </el-form-item>

                <el-form-item>
                  <el-button type="primary" class="py-2 px-3" @click="submitForm('form')">
                    {{ $t('userProfile.action') }}
                  </el-button>
                </el-form-item>
              </el-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'
import { ElMessage } from 'element-plus'
import myUpload from 'vue-image-crop-upload'
export default {
  components: {
    'my-upload': myUpload
  },
  data() {
    return {
      form: {
        name: null,
        email: null
      },
      imageCropped: null,
      show: false,
      mobile: false
    }
  },

  computed: {
    rules() {
      return {
        name: [{ required: true, message: this.$t('userProfile.form.nameRequired'), trigger: 'blur' }],
        email: [{ required: true, message: this.$t('userProfile.form.emailRequired'), trigger: 'blur' }]
      }
    },
    ...mapGetters('profile', ['data'])
  },
  mounted() {
    this.eventHandler()
    window.addEventListener('resize', this.eventHandler)
  },

  methods: {
    ...mapActions('profile', ['getInfo', 'editAvatar']),
    addFile() {
      let fileInputElement = this.$refs.file
      fileInputElement.click()
    },
    // fileChanged(event) {
    //   // console.log(event.target.files)
    //   // console.log(event.target.files[0])
    //   this.editAvatar({ avatar: event.target.files[0] }).then((res) => {
    //     this.getInfo()
    //     ElMessage({ message: res.messages.join(), type: 'success' })
    //   })
    // },
    cropSuccess(imgDataUrl) {
      var file = this.dataURLtoFile(imgDataUrl, 'hello.txt')
      this.editAvatar({ avatar: file }).then((res) => {
        this.getInfo().then(() => {
          ElMessage({ message: res.messages.join(), type: 'success' })
        })
      })
    },
    dataURLtoFile(dataurl, filename) {
      var arr = dataurl.split(','),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]),
        n = bstr.length,
        u8arr = new Uint8Array(n)

      while (n--) {
        u8arr[n] = bstr.charCodeAt(n)
      }

      return new File([u8arr], filename, { type: mime })
    },
    toggleShow() {
      this.show = true
    },
    eventHandler() {
      this.mobile = false
      if (window.innerWidth > 680) {
        this.mobile = true
      }
    }
  }
}
</script>

<style lang="scss">
.background {
  background: #e9ecef;
}
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
}

.avatar-container:hover .image {
  opacity: 0.3;
}
.avatar-container:hover .middle {
  opacity: 1;
}
.avatar-container {
  max-width: 300px;
}
</style>
<style lang="scss">
.vicp-operate {
  a {
    margin-left: 0 !important ;
  }
}
@media (max-width: 680px) {
  .vicp-wrap {
    width: 80% !important;
    .vicp-crop-left {
      float: none !important ;
      .vicp-img-container {
        margin: 0 auto !important;
      }
      .vicp-range {
        margin: 20px auto !important;
      }
    }
  }
}
@media (max-width: 400px) {
  .vicp-operate input {
    width: 100% !important;
  }
  .vicp-icon5,
  .vicp-icon6 {
    display: none !important;
  }
}
</style>
