<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('user.add.userName')" prop="userName">
          <el-input v-model="form.userName" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('user.add.password')" prop="password">
          <el-input v-model="form.password" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('user.add.role')" prop="role">
          <el-select v-model="form.role" placeholder="">
            <el-option
              v-for="item in userRole"
              :key="item.value"
              :label="$t('user.role.' + item)"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { userRole } from '@/constants/user'
import { addUserReq } from '@/api/userApi'

export default {
  data() {
    return {
      userRole: userRole,
      form: {
        userName: null,
        password: null,
        role: null
      }
    }
  },
  computed: {
    rules() {
      return {
        userName: [{ required: true, message: this.$t('user.add.userNameRequired'), trigger: 'blur' }],
        password: [{ required: true, message: this.$t('user.add.passwordRequired'), trigger: 'blur' }],
        role: [{ required: true, message: this.$t('user.add.roleRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.userId) {
      this.loadUser(this.$route.params.userId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('userStore', ['loadUser', 'addUser', 'editUser']),
    submitAdd() {
      this.addUser(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'UserManager' })
      })
    },
    submitEdit() {
      this.editUser({ id: this.$route.params.userId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'UserManager' })
      })
    },
    submitForm(formEl) {
      console.log(this.time)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          addUserReq(this.form).then((res) => {
            ElMessage({ message: res.messages.join(), type: 'success' })
            this.$router.replace({ name: 'UserManager' })
          })
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
