<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form status-icon label-width="auto" class="demo-ruleForm" label-position="top" v-if="user">
        <ul>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('user.edit.status.title') }}</span>
            <span class="calendar-info-field-value">{{ $t('user.status.' + user.status) }}</span>
            <span
              class="btn-edit"
              @click="
                () => {
                  status.form.status = user.status
                  status.dialog = true
                }
              "
            >
              Sửa
            </span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('user.edit.createdAt') }}</span>
            <span class="calendar-info-field-value">{{ user.created }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('user.edit.userName') }}</span>
            <span class="calendar-info-field-value">{{ user.userName }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('user.edit.fullName') }}</span>
            <span class="calendar-info-field-value">{{ user.fullName }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('user.edit.otpCode') }}</span>
            <span class="calendar-info-field-value">{{ user.otpCode }}</span>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('user.edit.wallet.title') }}</span>
            <div>
              <div class="calendar-info-field-sub">
                {{ $t('user.edit.wallet.balance') }} - {{ $filters.toVnd(user.wallet.balance) }}
                <router-link :to="{ name: 'WalletTransactionAdd' }" class="table-btn-edit">+</router-link>
              </div>
            </div>
          </li>
          <li class="calendar-info-field">
            <span class="calendar-info-field-title">{{ $t('user.edit.rankWallet.title') }}</span>
            <div>
              <div class="calendar-info-field-sub">
                {{ $t('user.edit.rankWallet.rank.title') }} - {{ $t('rank.type.' + user.rankWallet.rankId) }}
                <span
                  class="btn-edit"
                  @click="
                    () => {
                      rank.dialog = true
                      rank.form.rankId = user.rankWallet.rankId
                      loadRanks()
                    }
                  "
                >
                  Sửa
                </span>
              </div>
            </div>
            <div>
              <div class="calendar-info-field-sub">
                {{ $t('user.edit.rankWallet.rank_period.title') }} -
                {{ user.rankWallet.rankPeriods != null ? 'abc' : $t('user.edit.rankWallet.rank_period.notFound') }}
                <span class="btn-edit" @click="rankPeriod.dialog = true">Tạo mới</span>
              </div>
            </div>
          </li>
        </ul>
      </el-form>
    </div>
    <el-dialog v-model="status.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('user.edit.status.title') }}</b>
      </template>
      <el-form
        ref="status.form"
        :model="status.form"
        status-icon
        :rules="statusRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('user.edit.status.form.status')" prop="status">
          <el-select v-model="status.form.status" placeholder="Select">
            <el-option v-for="item in userStatus" :key="item" :label="$t('user.status.' + item)" :value="item" />
          </el-select>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="status.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitStatus('status.form')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="rank.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('user.edit.rankWallet.rank.form.title') }}</b>
      </template>
      <el-form
        ref="rank.form"
        :model="rank.form"
        status-icon
        :rules="rankRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('notification.form.rankId')" prop="rankId">
          <el-select v-model="rank.form.rankId" placeholder="Select" value-key="id">
            <el-option
              v-for="item in rank.ranks"
              :key="item.id"
              :label="$t('rank.type.' + item.level)"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="rank.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitRank('rank.form')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="rankPeriod.dialog" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('user.edit.rankWallet.rank_period.form.title') }}</b>
      </template>
      <el-form
        ref="rankPeriod.form"
        :model="rankPeriod.form"
        status-icon
        :rules="rankPeriodRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item prop="time">
          <el-date-picker
            v-model="rankPeriod.form.time"
            type="datetimerange"
            range-separator="=>"
            :start-placeholder="$t('user.edit.rankWallet.rank_period.form.timeStart')"
            :end-placeholder="$t('user.edit.rankWallet.rank_period.form.timeEnd')"
            :format="$system.FORMAT_DATE_TIME"
            :value-format="$system.FORMAT_DATE_TIME"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="rankPeriod.dialog = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitRankPeriod('rankPeriod.form')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { userStatus } from '@/constants/user'
import { getUserReq, editUserStatusReq, editUserRankReq } from '@/api/userApi'
import {
  getRankPagedReq,
  getRankReq,
  addRankReq,
  editRankReq,
  deleteRankReq
  // searchDataReq
} from '@/api/rankApi'

export default {
  data() {
    return {
      userStatus: userStatus,
      status: {
        dialog: false,
        form: {
          status: null
        },
        ranks: []
      },
      rank: {
        dialog: false,
        form: {
          rankId: null
        },
        ranks: []
      },
      rankPeriod: {
        dialog: false,
        form: {
          time: []
        }
      },
      user: null
    }
  },
  computed: {
    rankPeriodRules() {
      return {
        time: [
          {
            type: 'array',
            min: 2,
            max: 2,
            message: this.$t('user.edit.rankWallet.rank_period.form.timeRequired'),
            trigger: 'blur'
          }
        ]
      }
    },
    statusRules() {
      return {
        status: [{ required: true, message: this.$t('user.edit.status.form.statusRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.userId) {
      this.loadUser()
    }
  },
  methods: {
    ...mapActions('userStore', ['loadUser', 'addUser', 'editUser']),
    loadUser() {
      getUserReq(this.$route.params.userId).then((res) => {
        this.user = res.data
      })
    },
    loadRanks() {
      getRankPagedReq()
        .then((res) => {
          this.rank.ranks = res.data.results
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    submitStatus(formEl) {
      console.log(this.rankPeriod)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          editUserStatusReq({ userId: this.user.id, status: this.status.form.status })
            .then((res) => {
              ElMessage({ message: res.messages.join(), type: 'success' })
              this.loadUser()
            })
            .catch((err) => {
              console.log(err)
              // ElMessage({ message: err.messages.join(), type: 'error' })
            })
        } else {
          console.log('error submit!')
          return false
        }
      })
      this.status.dialog = false
    },
    submitRank(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          editUserRankReq({ userId: this.user.id, rankId: this.rank.form.rankId })
            .then((res) => {
              ElMessage({ message: res.messages.join(), type: 'success' })
              this.loadUser()
            })
            .catch((err) => {
              console.log(err)
              // ElMessage({ message: err.messages.join(), type: 'error' })
            })
        } else {
          console.log('error submit!')
          return false
        }
      })
      this.rank.dialog = false
    },
    submitRankPeriod(formEl) {
      console.log(this.rankPeriod)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          // this.actionAddRankPeriod()
        } else {
          console.log('error submit!')
          return false
        }
      })
      // this.rankPeriod.dialog = false
    }
  }
}
</script>
<style scoped>
ul {
  list-style-type: square;
  padding: 0;
}
.btn-edit {
  color: blue;
  cursor: pointer;
  margin-left: 10px;
}
</style>
