<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('voucher.form.id')" prop="id">
          <el-input v-model="form.id" type="text" autocomplete="off" :disabled="$route.params.voucherId" />
        </el-form-item>
        <el-form-item :label="$t('voucher.form.value')" prop="value">
          <money3 v-model="form.value" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
        <el-form-item :label="$t('voucher.form.description')" prop="description">
          <el-input v-model="form.description" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('voucher.form.remaining')" prop="remaining">
          <el-input v-model="form.remaining" type="number" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('voucher.form.startDate')" prop="startDate">
          <el-date-picker
            v-model="form.startDate"
            type="datetime"
            :editable="false"
            :format="$system.FORMAT_DATE_TIME"
            :value-format="$system.FORMAT_DATE_TIME"
            placeholder="Pick a day"
            :shortcuts="true"
          />
        </el-form-item>
        <el-form-item :label="$t('voucher.form.endDate')" prop="endDate">
          <el-date-picker
            v-model="form.endDate"
            type="datetime"
            :editable="false"
            :format="$system.FORMAT_DATE_TIME"
            :value-format="$system.FORMAT_DATE_TIME"
            placeholder="Pick a day"
            :shortcuts="true"
          />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <el-dialog v-if="imageGalleryVisible" v-model="imageGalleryVisible" width="80%">
      <template #title>
        <b>{{ $t('voucher.manager.deleteTitle') }}</b>
      </template>
      <image-gallery @onImageSubmitted="onImageSubmitted"></image-gallery>
    </el-dialog>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      form: {
        id: '',
        value: '',
        description: '',

        remaining: '',

        startDate: null,
        endDate: null
      }
    }
  },
  computed: {
    rules() {
      return {
        id: [{ required: true, message: this.$t('voucher.form.idRequired'), trigger: 'blur' }],
        value: [{ required: true, message: this.$t('voucher.form.valueRequired'), trigger: 'blur' }],

        remaining: [{ required: true, message: this.$t('voucher.form.remainingRequired'), trigger: 'blur' }],

        startDate: [{ required: true, message: this.$t('voucher.form.startDateRequired'), trigger: 'blur' }],
        endDate: [{ required: true, message: this.$t('voucher.form.endDateRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.voucherId) {
      this.loadVoucher(this.$route.params.voucherId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    ...mapActions('voucherStore', ['loadVoucher', 'addVoucher', 'editVoucher']),
    submitAdd() {
      this.addVoucher(this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'VoucherManager' })
      })
    },
    submitEdit() {
      this.editVoucher({ id: this.$route.params.voucherId, data: this.form }).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'VoucherManager' })
      })
    },
    submitForm(formEl) {
      console.log(this.time)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.params.voucherId) {
            this.submitEdit()
          } else {
            this.submitAdd()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
