<template>
  <manager-template-page :title="$t($route.meta.title)">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('walletTransaction.add.user')" prop="userId">
          <el-select
            v-model="form.userId"
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="onUserNameChanged"
            :loading="loading"
          >
            <el-option v-for="item in users" :key="item.id" :label="item.userName" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('walletTransaction.add.value')" prop="value">
          <money3 v-model="form.value" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($route.meta.title) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import { getUserPagedReq } from '@/api/userApi'
import { addWalletTransactionReq } from '@/api/walletTransactionApi'

export default {
  data() {
    return {
      form: {
        userId: null,
        value: null
      },
      users: null
    }
  },
  computed: {
    rules() {
      return {
        userId: [{ required: true, message: this.$t('walletTransaction.add.userRequired'), trigger: 'blur' }],
        value: [{ required: true, message: this.$t('walletTransaction.add.valueRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.params.voucherId) {
      this.loadVoucher(this.$route.params.voucherId).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    onUserNameChanged(val) {
      if (val) {
        setTimeout(() => {
          getUserPagedReq({ userName: val }).then((res) => {
            console.log(res)
            this.users = res.data.results
          })
        }, 200)
      } else {
      }
    },
    submitForm(formEl) {
      console.log(this.time)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          console.log(this.form)
          addWalletTransactionReq(this.form).then((res) => {
            ElMessage({ message: res.messages.join(), type: 'success' })
            this.$router.replace({ name: 'UserManager' })
          })
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
