<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('questionForm.title', $route.query.mode))">
    <div class="box-card">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('questionForm.titleLabel')" prop="title">
          <el-input v-model="ruleForm.title" :autosize="{ minRows: 2 }" type="textarea" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('questionForm.answerLabel')" prop="answer">
          <el-input v-model="ruleForm.answer" :autosize="{ minRows: 2 }" type="textarea" autocomplete="off" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">
            {{ $t($filters.getTranslateByMode('questionForm.action', $route.query.mode)) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
export default {
  data() {
    return {
      ruleForm: {
        title: '',
        answer: ''
      },
      rules: {
        title: [{ required: true, message: this.$t('questionForm.titleRequired'), trigger: 'blur' }],
        answer: [{ required: true, message: this.$t('questionForm.answerRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('questionManager/loadData', this.$route.query.id).then((res) => {
        this.ruleForm = res.data
      })
    }
  },
  methods: {
    actionAdd() {
      this.$store.dispatch('questionManager/addData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'QuestionManager' })
      })
    },
    actionEdit() {
      this.$store.dispatch('questionManager/editData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'QuestionManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
