<template>
  <manager-template-page title="locationManager.title">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      :filter-able="true"
      @add-event="addMethod"
      @reload-event="reloadMethod"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="data.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
      :cell-class-name="tableCellClassName"
    >
      <!-- :label="$t('locationManager.type')" -->
      <el-table-column prop="type" label-class-name="table-header-style">
        <template #default="scope">
          <el-tag effect="dark" :type="locationTypeColor[scope.row.type]">
            {{ $t('location.' + locationType[scope.row.type]) }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="airport" x :label="$t('locationManager.airport')" label-class-name="table-header-style" />
      <el-table-column
        prop="province"
        x
        :label="$t('locationManager.province')"
        label-class-name="table-header-style"
      />
      <el-table-column prop="district" :label="$t('locationManager.district')" label-class-name="table-header-style">
        <template #default="scope">
          {{ scope.row.district }}
        </template>
      </el-table-column>
      <el-table-column prop="commune" :label="$t('locationManager.commune')" label-class-name="table-header-style">
        <template #default="scope">
          {{ scope.row.commune }}
        </template>
      </el-table-column>
      <el-table-column prop="route" :label="$t('locationManager.route')" label-class-name="table-header-style">
        <template #default="scope">
          {{ scope.row.route }}
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'LocationForm', query: { mode: 'edit', id: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="data.totalItems > 0"
      :page-size="parseInt($route.query.pageSize)"
      :current-page="parseInt($route.query.pageNumber)"
      :total="data.totalItems"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('locationManager.deleteTitle') }}</b>
      </template>
      <span>
        {{ $t('locationManager.deleteMessage') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="handleDataDelete">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-drawer v-model="drawerFilter" :direction="direction" :close-on-click-modal="false">
      <template #title>
        <h4>{{ $t('common.filter') }}</h4>
      </template>
      <template #default>
        <el-form ref="bookingDayRequest" label-width="120px" class="demo-ruleForm" label-position="top">
          <el-form-item :label="$t('carTypeManager.type')">
            <el-select v-model="filter.type" filterable clearable placeholder="Select">
              <el-option
                v-for="item in Object.keys(locationType)"
                :key="item.id"
                :label="$t('location.' + locationType[item])"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-button @click="drawerFilter = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="filterMethod">{{ $t('common.confirm') }}</el-button>
        </el-form>
      </template>
    </el-drawer>
  </manager-template-page>
</template>
<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/pagination/index.vue'
import DataToolbar from '@/components/data-toolbar/index.vue'
import { ElMessage } from 'element-plus'
import { LOCATION_TYPE, LOCATION_TYPE_COLOR } from '@/constants/locationType'

export default {
  components: {
    Pagination,
    DataToolbar
  },
  data() {
    return {
      locationType: LOCATION_TYPE,
      locationTypeColor: LOCATION_TYPE_COLOR,
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null,
      drawerFilter: false,
      filter: {
        type: ''
      }
    }
  },
  watch: {
    pageSize(newVal) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageSize: newVal } })
    },
    pageNumber(newVal) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageNumber: newVal } })
    }
  },
  computed: {
    ...mapGetters({
      data: 'locationManager/dataPaged'
    })
  },
  mounted() {
    this.configDefaultQueries()
  },
  methods: {
    configDefaultQueries() {
      this.$router
        .push({
          query: {
            ...this.$route.query,
            pageSize: this.$route.query.pageSize ? this.$route.query.pageSize : 15,
            pageNumber: this.$route.query.pageNumber ? this.$route.query.pageNumber : 1
          }
        })
        .then(() => {
          this.loadData()
        })
    },
    loadData() {
      this.$store.dispatch('locationManager/loadPaged', {
        ...this.filter,
        ...this.$route.query
      })
    },
    addMethod() {
      this.$router.replace({
        name: 'LocationForm',
        query: { mode: 'add' }
      })
    },
    deleteData(id) {
      this.$store
        .dispatch('locationManager/deleteData', id)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.reloadMethod()
        })
        .catch((res) => {})
    },
    reloadMethod() {
      this.loadData()
    },
    filterMethod(value) {
      this.$router
        .push({ path: this.$route.path, query: { ...this.$route.query, type: this.filter.type } })
        .then(() => {
          this.loadData()
          this.drawerFilter = false
        })
    },
    handleSizeChange(val) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageSize: val } }).then(() => {
        this.loadData()
      })
    },
    handleCurrentChange(val) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageNumber: val } }).then(() => {
        this.loadData()
      })
    },
    handleDataSelected(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    handleDataDelete() {
      this.deleteData(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    },
    locationTypeToString(val) {
      switch (val) {
        case 'airport':
          return this.$t('locationManager.airport')
        case 'location':
          return this.$t('locationManager.location')
      }
    },
    tableCellClassName({ row, column, rowIndex, columnIndex }) {
      if (row.type == 'airport') {
        if (column.property == 'district') return 'table-no-data-column'
        if (column.property == 'commune') return 'table-no-data-column'
        if (column.property == 'route') return 'table-no-data-column'
      }
      if (row.type == 'location') {
        if (column.property == 'airport') return 'table-no-data-column'
      }
    }
  }
}
</script>
<style></style>
