<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('carRentalForm.title', $route.query.mode))">
    <div class="box-card">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('carRentalForm.nameLabel')" prop="name">
          <el-input v-model="ruleForm.name" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('carRentalForm.chargeLabel')" prop="charge">
          <money3 v-model="ruleForm.charge" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
        <el-form-item :label="$t('carRentalForm.surchargeLabel')" prop="surcharge">
          <money3 v-model="ruleForm.surcharge" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
        <el-form-item :label="$t('carRentalForm.carTypeIdLabel')" prop="carTypeId">
          <el-select v-model="ruleForm.carTypeId" filterable placeholder="Select">
            <el-option v-for="item in carType" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('carRentalForm.provinceIdLabel')" prop="provinceId">
          <el-select v-model="ruleForm.provinceId" filterable placeholder="Select">
            <el-option v-for="item in province" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">
            {{ $t($filters.getTranslateByMode('carRentalForm.action', $route.query.mode)) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
export default {
  data() {
    return {
      ruleForm: {
        name: '',
        charge: 0,
        surcharge: 0,
        carTypeId: null,
        provinceId: null
      },

      province: null,
      carType: null
    }
  },
  computed: {
    rules() {
      return {
        name: [{ required: true, message: this.$t('carRentalForm.nameRequired'), trigger: 'blur' }],
        charge: [{ required: true, message: this.$t('carRentalForm.chargeRequired'), trigger: 'blur' }],
        surcharge: [{ required: true, message: this.$t('carRentalForm.surchargeRequired'), trigger: 'blur' }],
        carTypeId: [{ required: true, message: this.$t('carRentalForm.carTypeIdRequired'), trigger: 'blur' }],
        provinceId: [{ required: true, message: this.$t('carRentalForm.provinceIdRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    this.loadProvince()
    this.loadCarType()
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('carRentalManager/loadData', this.$route.query.id).then((res) => {
        console.log(res.data)
        this.ruleForm = res.data
      })
    }
  },
  methods: {
    loadProvince() {
      this.$store
        .dispatch('provinceManager/loadPaged', {})
        .then((res) => {
          console.log(res)
          this.province = res.data.results
          console.log(this.province)
        })
        .catch((res) => {})
    },
    loadCarType() {
      this.$store
        .dispatch('carTypeManager/loadPaged', {
          pageNumber: 1,
          pageSize: 100,
          type: 'rental'
        })
        .then((res) => {
          console.log(res)
          this.carType = res.data.results
          console.log(this.province)
        })
        .catch((res) => {})
    },
    actionAdd() {
      this.$store
        .dispatch('carRentalManager/addData', this.ruleForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'carRentalManager' })
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      this.$store.dispatch('carRentalManager/editData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'carRentalManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
