<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('supportForm.title', $route.query.mode))">
    <div class="box-card">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('supportForm.typeLabel')" prop="type">
          <el-select v-model="ruleForm.type" placeholder="">
            <el-option
              v-for="item in supportedSupport"
              :key="item.value"
              :label="$t($filters.getSupportTranslate(item))"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('supportForm.contactLabel')" prop="contact">
          <el-input v-model="ruleForm.contact" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">
            {{ $t($filters.getTranslateByMode('supportForm.action', $route.query.mode)) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { SUPPORTED_SUPPORT } from '@/constants/support'
export default {
  data() {
    return {
      supportedSupport: SUPPORTED_SUPPORT,
      ruleForm: {
        type: '',
        contact: ''
      },
      rules: {
        type: [{ required: true, message: this.$t('supportForm.typeRequired'), trigger: 'blur' }],
        contact: [{ required: true, message: this.$t('supportForm.contactRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('supportManager/loadData', this.$route.query.id).then((res) => {
        console.log(res)
        this.ruleForm = res.data
      })
    }
  },
  methods: {
    actionAdd() {
      this.$store.dispatch('supportManager/addData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'SupportManager' })
      })
    },
    actionEdit() {
      this.$store.dispatch('supportManager/editData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'SupportManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
