<template>
  <manager-template-page title="supportManager.title">
    <data-toolbar
      :add-able="true"
      :reload-able="true"
      @add-event="addMethod"
      @reload-event="reloadMethod"
      @filter-event="drawerFilter = true"
    />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="data.results"
      border
      fit
      :highlight-current-row="false"
      style="width: 100%"
      :cell-class-name="tableCellClassName"
    >
      <el-table-column
        type="index"
        :label="$t('supportManager.order')"
        label-class-name="table-header-style"
        width="70"
      />
      <el-table-column prop="type" :label="$t('supportManager.type')" label-class-name="table-header-style" width="100">
        <template #default="scope">
          <el-icon>
            <svg-icon :icon-class="$filters.getSupportIcon(scope.row.type)" class-name="icon-style" />
          </el-icon>
        </template>
      </el-table-column>
      <el-table-column
        prop="type"
        :label="$t('supportManager.type_title')"
        label-class-name="table-header-style"
        width="200"
      >
        <template #default="scope">
          {{ $t($filters.getSupportTranslate(scope.row.type)) }}
        </template>
      </el-table-column>
      <el-table-column prop="contact" :label="$t('supportManager.contact')" label-class-name="table-header-style">
        <template #default="scope">
          <a v-if="scope.row.type == 'Website'" :href="scope.row.contact">{{ scope.row.contact }}</a>
          <div v-else>{{ scope.row.contact }}</div>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'SupportForm', query: { mode: 'edit', id: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="data.totalItems > 0"
      :page-size="parseInt($route.query.pageSize)"
      :current-page="parseInt($route.query.pageNumber)"
      :total="data.totalItems"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />

    <el-dialog v-model="dialogVisible" width="30%">
      <template #title>
        <b>{{ $t('voucherManager.delete.title') }}</b>
      </template>
      <span>
        {{ $t('voucherManager.delete.message') }}
        <i>
          <!-- <b>{{ selectedData.id }}</b> -->
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">Cancel</el-button>
          <el-button type="primary" @click="handleDataDelete">Confirm</el-button>
        </span>
      </template>
    </el-dialog>
  </manager-template-page>
</template>
<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/pagination/index.vue'
import DataToolbar from '@/components/data-toolbar/index.vue'
import { ElMessage } from 'element-plus'

export default {
  components: {
    Pagination,
    DataToolbar
  },
  data() {
    return {
      tableKey: 0,
      listLoading: false,
      dialogVisible: false,
      selectedData: null
    }
  },
  computed: {
    ...mapGetters({
      data: 'supportManager/dataPaged'
    })
  },
  mounted() {
    this.configDefaultQueries()
  },
  methods: {
    configDefaultQueries() {
      this.$router
        .push({
          query: {
            ...this.$route.query,
            pageSize: this.$route.query.pageSize ? this.$route.query.pageSize : 15,
            pageNumber: this.$route.query.pageNumber ? this.$route.query.pageNumber : 1
          }
        })
        .then(() => {
          this.loadData()
        })
    },
    loadData() {
      this.$store.dispatch('supportManager/loadPaged', {
        ...this.$route.query
      })
    },
    addMethod() {
      this.$router.replace({
        name: 'SupportForm',
        query: { mode: 'add' }
      })
    },
    deleteData(id) {
      this.$store
        .dispatch('supportManager/deleteData', id)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.reloadMethod()
        })
        .catch((res) => {})
    },
    reloadMethod() {
      this.loadData({
        pageSize: this.pageSize,
        pageNumber: this.pageNumber,
        search: this.searchKey
      })
    },
    filterMethod(value) {
      this.searchKey = value
      this.pageNumber = 1
      this.loadData({
        pageSize: this.pageSize,
        pageNumber: this.pageNumber,
        search: value
      })
    },
    handleSizeChange(val) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageSize: val } }).then(() => {
        this.loadData()
      })
    },
    handleCurrentChange(val) {
      this.$router.push({ path: this.$route.path, query: { ...this.$route.query, pageNumber: val } }).then(() => {
        this.loadData()
      })
    },
    handleDataSelected(val) {
      this.selectedData = val
      this.dialogVisible = true
    },
    handleDataDelete() {
      this.deleteData(this.selectedData.id)
      this.selectedData = null
      this.dialogVisible = false
    }
  }
}
</script>
<style scoped>
a {
  color: blue;
}
.icon-style {
  font-size: 40px;
}
</style>
