<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('partnerForm.title', $route.query.mode))">
    <div class="box-card">
      <el-form
        ref="form"
        :model="form"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-form"
        label-position="top"
      >
        <el-form-item :label="$t('partnerForm.nameLabel')" prop="name">
          <el-input v-model="form.name" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item :label="$t('partnerForm.provinceLabel')" prop="provinceId">
          <el-select v-model="form.provinceId" placeholder="Select">
            <el-option v-for="item in province" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('partnerForm.phoneNumberLabel')" prop="phoneNumber">
          <el-input v-model="form.phoneNumber" type="text" autocomplete="off" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('form')">
            {{ $t($filters.getTranslateByMode('partnerForm.action', $route.query.mode)) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
export default {
  data() {
    return {
      form: {
        name: '',
        provinceId: '',
        phoneNumber: ''
      },
      province: null
    }
  },
  computed: {
    rules() {
      return {
        name: [{ required: true, message: this.$t('partnerForm.nameRequired'), trigger: 'blur' }],
        provinceId: [{ required: true, message: this.$t('partnerForm.provinceRequired'), trigger: 'blur' }],
        phoneNumber: [{ required: true, message: this.$t('partnerForm.phoneNumberRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    this.loadProvince()
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('partnerManager/loadData', this.$route.query.id).then((res) => {
        this.form = res.data
      })
    }
  },
  methods: {
    loadProvince() {
      this.$store
        .dispatch('provinceManager/loadPaged', {})
        .then((res) => {
          console.log(res)
          this.province = res.data.results
          console.log(this.province)
        })
        .catch((res) => {})
    },
    actionAdd() {
      this.$store
        .dispatch('partnerManager/addData', this.form)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.back()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      this.$store.dispatch('partnerManager/editData', this.form).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.back()
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
