<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('carTypeForm.title', $route.query.mode))">
    <div class="box-card">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('carTypeForm.nameLabel')" prop="name">
          <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            limit="1"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove"
            :file-list="fileList"
          >
            <el-icon><svg-icon icon-class="add" fill="#FFFFFF" /></el-icon>
          </el-upload>
        </el-form-item>
        <el-form-item :label="$t('carTypeForm.nameLabel')" prop="name">
          <el-input v-model="ruleForm.name" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('carTypeForm.descriptionLabel')" prop="description">
          <el-input v-model="ruleForm.description" type="text" autocomplete="off" />
        </el-form-item>

        <el-row :gutter="10">
          <el-col :xs="24" :md="12">
            <el-form-item :label="$t('carTypeForm.seatsLabel')" prop="seats">
              <el-input v-model="ruleForm.seats" type="number" autocomplete="off" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :md="12">
            <el-form-item :label="$t('carTypeForm.typeLabel')" prop="type">
              <el-select v-model="ruleForm.type" placeholder="">
                <el-option
                  v-for="item in Object.keys(carType)"
                  :key="item.value"
                  :label="$t(carType[item])"
                  :value="item"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">
            {{ $t($filters.getTranslateByMode('carTypeForm.action', $route.query.mode)) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { CAR_TYPE } from '@/constants/carType'
export default {
  data() {
    return {
      carType: CAR_TYPE,
      ruleForm: {
        name: '',
        description: '',
        seats: '',
        type: ''
      },
      rules: {
        name: [{ required: true, message: this.$t('carTypeForm.nameRequired'), trigger: 'blur' }],
        description: [{ required: true, message: this.$t('carTypeForm.descriptionRequired'), trigger: 'blur' }],
        seats: [{ required: true, message: this.$t('carTypeForm.seatsRequired'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('carTypeForm.typeRequired'), trigger: 'blur' }]
      }
    }
  },
  mounted() {
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('carTypeManager/loadData', this.$route.query.id).then((res) => {
        this.ruleForm = res.data
      })
    }
  },
  methods: {
    actionAdd() {
      this.$store
        .dispatch('carTypeManager/addData', this.ruleForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'CarTypeManager' })
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      this.$store.dispatch('carTypeManager/editData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'CarTypeManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
