<template>
  <div class="app-container">
    <div class="manager-title">{{ $t(title).toUpperCase() }}</div>
    <slot></slot>
  </div>
</template>
<script>
export default {
  props: ['title']
}
</script>
<style></style>
