<template>
  <!-- :class="{ 'show-tag-view': settings.showTagsView }" -->
  <div class="app-main" :class="{ padding: paddingToggle }">
    <!-- <el-scrollbar ref="scrollbarRef" always @scroll="scroll"> -->
    <div ref="innerRef">
      <router-view v-slot="{ Component }">
        <!--has transition  Judging by settings.mainNeedAnimation-->
        <transition name="fade-transform" mode="out-in" v-if="settings.mainNeedAnimation">
          <keep-alive :include="cachedViews">
            <component :is="Component" :key="key" />
          </keep-alive>
        </transition>
        <!-- no transition -->
        <keep-alive :include="cachedViews" v-else>
          <component :is="Component" :key="key" />
        </keep-alive>
      </router-view>
    </div>
    <!-- </el-scrollbar> -->
  </div>
</template>

<script setup>
import { computed, watch, ref, onMounted } from 'vue'
import { useRoute } from 'vue-router'
// import { methods } from 'vue3-lottie'
import { useStore } from 'vuex'
let paddingToggle = ref(true)
let store = useStore()
let route = useRoute()
let settings = computed(() => {
  return store.state.app.settings
})
// cachePage: is true, keep-alive this Page
// leaveRmCachePage: is true, keep-alive remote when page leave
let oldRoute = null
const key = computed({
  get() {
    if (oldRoute?.name) {
      if (oldRoute.meta?.leaveRmCachePage && oldRoute.meta?.cachePage) {
        store.commit('app/M_DEL_CACHED_VIEW', oldRoute.name)
      }
    }
    if (route.name) {
      if (route.meta?.cachePage) {
        store.commit('app/M_ADD_CACHED_VIEW', route.name)
      }
    }
    oldRoute = JSON.parse(JSON.stringify({ name: route.name, meta: route.meta }))
    return route.path
  }
})

const cachedViews = computed(() => {
  return store.state.app.cachedViews
})
const checkRoute = (route) => {
  if (route.path == '/changepassword' || route.path == '/userprofile') {
    paddingToggle.value = false
    return
  }
  paddingToggle.value = true
}
watch(route, () => {
  checkRoute(route)
})
onMounted(() => {
  checkRoute(route)
})
</script>

<style scoped lang="scss">
.app-main {
  /*50 = navbar  */
  position: relative;
  overflow: hidden;
}
// .show-tag-view {
//   height: calc(100vh - #{$navBarHeight} - #{$tagViewHeight}) !important;
// }
.fixed-header + .app-main {
  padding-top: 50px;
}
</style>

<style lang="scss">
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
.padding {
  padding: $appMainPadding;
}
</style>
