<template>
  <div class="mainnavbar rowBC">
    <div class="rowSC">
      <hamburger
        v-if="settings.showHamburger"
        :is-active="opened"
        class="hamburger-container"
        @toggleClick="toggleSideBar"
      />
      <breadcrumb class="breadcrumb-container" />
    </div>
    <!--nav title-->
    <div class="heardCenterTitle" v-if="settings.showNavbarTitle">{{ settings.showNavbarTitle }}</div>
    <div class="right-menu rowSC" v-if="settings.ShowDropDown">
      <el-dropdown trigger="click" size="medium">
        <div class="avatar-wrapper">
          <img :src="profile.avatar" class="user-avatar" />
          <!-- <CaretBottom style="width: 1em; height: 1em; margin-left: 4px" /> -->
          <!--el-icon-x  is  destructed-->
          <!--<i class="el-icon-caret-bottom" />-->
        </div>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item>
              <div class="user-full-name">{{ profile.fullName }}</div>
            </el-dropdown-item>

            <router-link to="/">
              <el-dropdown-item>{{ $t('profileMenu.home') }}</el-dropdown-item>
            </router-link>
            <router-link to="/changepassword">
              <el-dropdown-item>{{ $t('profileMenu.changePassword') }}</el-dropdown-item>
            </router-link>
            <router-link to="/userprofile">
              <el-dropdown-item>{{ $t('profileMenu.profile') }}</el-dropdown-item>
            </router-link>
            <router-link to="/">
              <el-dropdown-item>{{ $t('profileMenu.setting') }}</el-dropdown-item>
            </router-link>

            <!--<el-dropdown-item>修改密码</el-dropdown-item>-->
            <el-dropdown-item divided @click="loginOut">{{ $t('profileMenu.logOut') }}</el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </div>
</template>
<script>
import { CaretBottom } from '@element-plus/icons-vue'
import Breadcrumb from './Breadcrumb'
import Hamburger from './Hamburger'
import { mapGetters, mapActions } from 'vuex'
export default {
  components: {
    Breadcrumb,
    Hamburger
  },
  computed: {
    ...mapGetters('profile', ['data']),
    ...mapGetters('app', ['sidebar', 'settings']),

    profile() {
      return this.data
    },
    opened() {
      return this.sidebar.opened
    }
  },
  methods: {
    ...mapActions('auth', ['logout']),
    toggleSideBar() {
      this.$store.commit('app/M_toggleSideBar')
    },
    loginOut() {
      this.logout().then(() => {
        return this.$store.commit('app/M_toggleSideBar')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.mainnavbar {
  height: $navBarHeight;
  overflow: hidden;
  position: relative;
  // background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
.user-full-name {
  font-size: 14px;
  margin-right: 5px;
  font-weight: bold;
}

//logo
.avatar-wrapper {
  margin-top: 5px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  .user-avatar {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }

  .el-icon-caret-bottom {
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: 25px;
    font-size: 12px;
  }
}

//center-title
.heardCenterTitle {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 46%;
  font-weight: 600;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

//drop-down
.right-menu {
  cursor: pointer;
  margin-right: 10px;
}
</style>
