<template>
  <div class="hamburger-container" @click="toggleClick">
    <svg-icon icon-class="hamburger" class-name="hamburger" />
  </div>
</template>

<script setup>
import { getCurrentInstance } from 'vue'
let { proxy } = getCurrentInstance()
defineProps({
  isActive: {
    type: Boolean,
    default: false
  }
})
const toggleClick = () => {
  proxy.$emit('toggleClick')
}
</script>

<style scoped>
.hamburger {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: white;
}
.hamburger-container {
  height: 100%;
  cursor: pointer;
  padding: 0 12px;
}
.hamburger.is-active {
  transform: rotate(180deg);
}
</style>
