<template>
  <manager-template-page :title="$t('userDetail.title')">
    <div class="box-card" v-if="result">
      <el-form status-icon label-width="auto" class="demo-ruleForm" label-position="top">
        <div>
          <div class="booking-form-section-title">
            {{ $t('userDetail.infoSection') }}
            <span>
              <el-button type="warning" @click="editUserDetail">
                {{ $t('userDetail.saveTile') }}
              </el-button>
            </span>
          </div>
          <el-form-item>
            <el-checkbox v-model="result.blocked" :label="$t('userDetail.block')" />
          </el-form-item>

          <el-form-item :label="$t('userDetail.userName')">
            <el-input :placeholder="result.userName" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userDetail.status')">
            <el-input :placeholder="$t('userStatus.' + result.status)" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userDetail.fullName')">
            <el-input :placeholder="result.fullName" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userDetail.phoneNumber')">
            <el-input :placeholder="result.phoneNumber" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userDetail.createdAt')">
            <el-input :placeholder="result.created" type="text" disabled autocomplete="off" />
          </el-form-item>
        </div>
        <el-divider></el-divider>
        <div v-if="result.rankWallet">
          <div class="booking-form-section-title">
            {{ $t('userDetail.rankSection') }}
            <span>
              <el-button type="warning" @click="rankPeriodDialogVisible = true">
                {{ $t('userDetail.rank_period.add') }}
              </el-button>
            </span>
          </div>
          <el-form-item :label="$t('userDetail.rank')">
            <el-input :placeholder="$t('rank.' + result.rankWallet.rankId)" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userDetail.rank_period.title')">
            <el-input
              v-if="result.rankWallet.rankPeriods.length > 0"
              :placeholder="
                result.rankWallet.rankPeriods[0].timeStart + '  >>>  ' + result.rankWallet.rankPeriods[0].timeEnd
              "
              type="text"
              disabled
              autocomplete="off"
            />
            <el-input
              v-else
              :placeholder="$t('userDetail.rank_period_not_found')"
              type="text"
              disabled
              autocomplete="off"
            />
          </el-form-item>
        </div>
      </el-form>
      <el-dialog v-model="rankPeriodDialogVisible" width="90%" :close-on-click-modal="false">
        <template #title>
          <b>{{ $t('userDetail.rank_period.add') }}</b>
        </template>
        <el-form
          ref="rankPeriod"
          :model="rankPeriod"
          status-icon
          :rules="rankPeriodRules"
          label-width="auto"
          class="demo-ruleForm"
          label-position="top"
        >
          <el-form-item prop="time">
            <el-date-picker
              v-model="rankPeriod.time"
              type="datetimerange"
              range-separator="=>"
              :start-placeholder="$t('userDetail.rank_period.time_start')"
              :end-placeholder="$t('userDetail.rank_period.time_end')"
              :format="$system.FORMAT_DATE_TIME"
              :value-format="$system.FORMAT_DATE_TIME"
            />
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="rankPeriodDialogVisible = false">{{ $t('common.cancel') }}</el-button>
            <el-button type="primary" @click="submitRankPeriod('rankPeriod')">
              {{ $t('common.confirm') }}
            </el-button>
          </span>
        </template>
      </el-dialog>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { userStatus } from '@/constants/user'
import { ElMessageBox } from 'element-plus'
export default {
  data() {
    return {
      userStatus: userStatus,
      result: null,
      rankPeriodDialogVisible: false,
      rankPeriod: {
        time: []
      }
    }
  },
  computed: {
    rankPeriodRules() {
      return {
        time: [
          { type: 'array', min: 2, max: 2, message: this.$t('userDetail.rank_period.timeRequired'), trigger: 'blur' }
        ]
      }
    }
  },
  mounted() {
    this.loadData()
  },
  methods: {
    loadData() {
      this.$store.dispatch('userManager/loadData', this.$route.query.id).then((res) => {
        this.result = res.data
        console.log(this.result.rankWallet)
      })
    },
    actionAddRankPeriod() {
      console.log(this.rankPeriod)
      this.$store
        .dispatch('rankManager/addRankPeriod', {
          walletId: this.result.id,
          timeStart: this.rankPeriod.time[0],
          timeEnd: this.rankPeriod.time[1]
        })
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.loadData()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    submitRankPeriod(formEl) {
      console.log(this.rankPeriod)
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          this.actionAddRankPeriod()
        } else {
          console.log('error submit!')
          return false
        }
      })
      this.rankPeriodDialogVisible = false
    },
    editUserDetail() {
      this.$store
        .dispatch('userManager/editData', this.result)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.loadData()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    }
  }
}
</script>
