<template>
  <manager-template-page :title="$t('userAdd.title')">
    <div class="box-card">
      <el-form status-icon label-width="auto" class="demo-ruleForm" label-position="top">
        <div>
          <div class="booking-form-section-title">
            {{ $t('userAdd.infoSection') }}
          </div>
          <el-form-item :label="$t('userAdd.userName')">
            <el-input v-model="result.userName" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.userName')">
            <el-input v-model="result.userName" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.fullName')">
            <el-input v-model="result.fullName" type="text" autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.phoneNumber')">
            <el-input v-model="result.phoneNumber" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.createdAt')">
            <el-input v-model="result.created" type="text" disabled autocomplete="off" />
          </el-form-item>
        </div>
        <el-divider></el-divider>
        <div>
          <div class="booking-form-section-title">
            {{ $t('userAdd.rankSection') }}
          </div>
          <el-form-item :label="$t('userAdd.userName')">
            <el-input v-model="result.userName" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.userName')">
            <el-input v-model="result.userName" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.fullName')">
            <el-input v-model="result.fullName" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.phoneNumber')">
            <el-input v-model="result.phoneNumber" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.createdAt')">
            <el-input v-model="result.created" type="text" disabled autocomplete="off" />
          </el-form-item>
        </div>
        <div>
          <div class="booking-form-section-title">
            {{ $t('userAdd.bookingSection') }}
          </div>
          <el-form-item :label="$t('userAdd.userName')">
            <el-input v-model="result.userName" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.userName')">
            <el-input v-model="result.userName" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.fullName')">
            <el-input v-model="result.fullName" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.phoneNumber')">
            <el-input v-model="result.phoneNumber" type="text" disabled autocomplete="off" />
          </el-form-item>
          <el-form-item :label="$t('userAdd.createdAt')">
            <el-input v-model="result.created" type="text" disabled autocomplete="off" />
          </el-form-item>
        </div>
      </el-form>
    </div>
    <el-dialog v-model="carArrangeDialogVisible" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('carInfoManager.deleteTitle') }}</b>
      </template>
      <el-form
        ref="carArrangeForm"
        :model="carArrangeForm"
        status-icon
        :rules="carArrangeRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('userAdd.carInfoNameLabel')" prop="name">
          <el-input v-model="carArrangeForm.name" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('userAdd.carInfoDriverNameLabel')" prop="driverName">
          <el-input v-model="carArrangeForm.driverName" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('userAdd.carInfoDetailLabel')" prop="detail">
          <el-input v-model="carArrangeForm.detail" type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('userAdd.carInfoPhoneNumberLabel')" prop="phoneNumber">
          <el-input v-model="carArrangeForm.phoneNumber" type="number" autocomplete="off" />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="carArrangeDialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitCarArrange('carArrangeForm')">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="moneyRouteDialogVisible" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('userAdd.moneyRouteEdit') }}</b>
      </template>
      <el-row :gutter="10">
        <el-col :xs="24" :md="12">
          <el-form status-icon label-width="auto" class="demo-ruleForm" label-position="left">
            <el-form-item :label="$t('userAdd.moneyRouteLabel')">
              <el-button plain>{{ $filters.toVnd(result.moneyBase) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('userAdd.moneyAddressLabel')">
              <el-button plain>{{ $filters.toVnd(result.chargeAddress) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('userAdd.moneyHighQualityLabel')">
              <el-button plain>{{ $filters.toVnd(result.chargeHighQuality) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('userAdd.moneyPromotionLabel')">
              <el-button plain>-{{ $filters.toVnd(result.moneyPromotion) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('userAdd.moneyDepositedLabel')">
              <el-button plain>-{{ $filters.toVnd(result.moneyDeposited) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('userAdd.moneyTransferredLabel')">
              <el-button plain>-{{ $filters.toVnd(result.moneyTransferred) }}</el-button>
            </el-form-item>
            <el-form-item :label="$t('userAdd.moneyPaymentLabel')">
              <el-button plain>{{ $filters.toVnd(result.moneyPayment) }}</el-button>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :xs="24" :md="12">
          <el-form
            ref="moneyRouteForm"
            :model="moneyRouteForm"
            status-icon
            :rules="moneyRouteRules"
            label-width="auto"
            class="demo-ruleForm"
            label-position="top"
          >
            <el-form-item :label="$t('userAdd.moneyRouteLabel')" prop="chargeRoute">
              <money3 v-model="moneyRouteForm.chargeRoute" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>

      <template #footer>
        <span class="dialog-footer">
          <el-button @click="moneyRouteDialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitMoneyRoute('moneyRouteForm')">{{ $t('common.confirm') }}</el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="moneyDepositedDialogVisible" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('userAdd.moneyDepositedEdit') }}</b>
      </template>
      <el-form
        ref="moneyDepositedForm"
        :model="moneyDepositedForm"
        status-icon
        :rules="moneyDepositedRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('userAdd.moneyDepositedLabel')" prop="moneyDeposited">
          <money3 v-model="moneyDepositedForm.moneyDeposited" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="moneyDepositedDialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitMoneyDepositedUpdate('moneyDepositedForm')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
    <el-dialog v-model="moneyTransferredDialogVisible" width="90%" :close-on-click-modal="false">
      <template #title>
        <b>{{ $t('userAdd.moneyDepositedEdit') }}</b>
      </template>
      <el-form
        ref="moneyTransferredForm"
        :model="moneyTransferredForm"
        status-icon
        :rules="moneyTransferredRules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('userAdd.moneyTransferredEdit')" prop="moneyTransferred">
          <money3
            v-model="moneyTransferredForm.moneyTransferred"
            v-bind="$system.CURRENCY_FORMAT"
            class="input-money"
          />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="moneyTransferredDialogVisible = false">{{ $t('common.cancel') }}</el-button>
          <el-button type="primary" @click="submitMoneyTransferredUpdate('moneyTransferredForm')">
            {{ $t('common.confirm') }}
          </el-button>
        </span>
      </template>
    </el-dialog>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { userStatus } from '@/constants/user'
import { ElMessageBox } from 'element-plus'
export default {
  data() {
    return {
      userStatus: userStatus,
      result: {
        moneyPayment: 0
      },
      carArrangeForm: {
        userId: '',
        name: '',
        driverName: '',
        detail: '',
        phoneNumber: ''
      },
      carArrangeRules: {
        name: [{ required: true, message: this.$t('userAdd.nameRequired'), trigger: 'blur' }],
        driverName: [{ required: true, message: this.$t('userAdd.descriptionRequired'), trigger: 'blur' }],
        detail: [{ required: true, message: this.$t('userAdd.seatsRequired'), trigger: 'blur' }],
        phoneNumber: [{ required: true, message: this.$t('userAdd.typeRequired'), trigger: 'blur' }]
      },
      carArrangeDialogVisible: false,
      moneyRouteForm: {
        userId: '',
        chargeRoute: ''
      },
      moneyRouteRules: {
        chargeRoute: [{ required: true, message: this.$t('userAdd.moneyRouteRequired'), trigger: 'blur' }]
      },
      moneyRouteDialogVisible: false,
      moneyDepositedForm: {
        userId: '',
        moneyDeposited: ''
      },

      moneyDepositedDialogVisible: false,
      moneyTransferredForm: {
        userId: '',
        moneyTransferred: ''
      },
      moneyTransferredDialogVisible: false
    }
  },
  computed: {
    moneyDepositedRules() {
      return {
        moneyDeposited: [
          { required: true, message: this.$t('userAdd.moneyDepositedRequired'), trigger: 'blur' }
          // {
          //   type: 'number',
          //   min: 1,
          //   max: 100000,
          //   message: this.$t('userAdd.moneyDepositedRange'),
          //   trigger: 'blur'
          // }
        ]
      }
    },
    moneyTransferredRules() {
      return {
        moneyTransferred: [
          { required: true, message: this.$t('userAdd.moneyTransferredRequired'), trigger: 'blur' }
          // {
          //   type: 'number',
          //   min: 1,
          //   max: 100000,
          //   message: this.$t('userAdd.moneyTransferredRange'),
          //   trigger: 'blur'
          // }
        ]
      }
    }
  },
  mounted() {
    if (this.$route.query.mode == 'edit') {
      this.loadData()
    }
  },
  methods: {
    loadData() {
      this.$store.dispatch('userManager/loadData', this.$route.query.id).then((res) => {
        this.result = res.data
        console.log(this.result)
      })
    },
    filteruserAddress(type) {
      if (this.result.userAddress)
        return this.result.userAddress
          .filter((e) => e.type == type)
          .sort(function (a, b) {
            return a.order - b.order
          })
    },
    actionCarArrange() {
      this.$store
        .dispatch('userManager/carArrange', this.carArrangeForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.loadData()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionMoneyRouteUpdate() {
      this.$store
        .dispatch('userManager/moneyRouteUpdate', this.moneyRouteForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.loadData()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionMoneyDepositedUpdate() {
      this.$store
        .dispatch('userManager/moneyDepositedUpdate', this.moneyDepositedForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.loadData()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionMoneyTransferredUpdate() {
      this.$store
        .dispatch('userManager/moneyTransferredUpdate', this.moneyTransferredForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.loadData()
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    submitCarArrange(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          this.actionCarArrange()
        } else {
          console.log('error submit!')
          return false
        }
      })
      this.carArrangeDialogVisible = false
    },
    submitMoneyRoute(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          this.actionMoneyRouteUpdate()
        } else {
          console.log('error submit!')
          return false
        }
      })
      this.moneyRouteDialogVisible = false
    },
    submitMoneyDepositedUpdate(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          this.actionMoneyDepositedUpdate()
          this.moneyDepositedDialogVisible = false
        } else {
          return false
        }
      })
    },
    submitMoneyTransferredUpdate(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          this.actionMoneyTransferredUpdate()
        } else {
          console.log('error submit!')
          return false
        }
      })
      this.moneyTransferredDialogVisible = false
    }
  }
}
</script>
