<!--suppress ALL -->
<template>
  <div class="login-container columnCC">
    <div v-if="!forgotPassword">
      <div class="title-container">
        <h3 class="title text-center">{{ $t('login.title') }}</h3>
      </div>
      <div class="card">
        <div class="card-body">
          <el-form ref="refloginForm" size="medium" class="login-form" :model="formInline" :rules="formRulesMixin">
            <el-form-item prop="username" :rules="formRulesMixin.isNotNull">
              <div class="rowSC">
                <span class="svg-container">
                  <svg-icon icon-class="user" />
                </span>
                <el-input v-model="formInline.username" :placeholder="$t('login.userNameHint')" />
                <!--占位-->
              </div>
            </el-form-item>
            <!--<el-form-item prop="password" :rules="formRulesMixin.passwordValid">-->
            <el-form-item prop="password" :rules="formRulesMixin.isNotNull">
              <div class="rowSC">
                <span class="svg-container">
                  <svg-icon icon-class="password" />
                </span>
                <el-input
                  :key="passwordType"
                  ref="refPassword"
                  v-model="formInline.password"
                  :type="passwordType"
                  name="password"
                  @keyup.enter="handleLogin"
                  :placeholder="$t('login.passwordHint')"
                />
                <span class="show-pwd" @click="showPwd('refPassword')">
                  <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
                </span>
              </div>
            </el-form-item>
            <div class="tip-message">{{ tipMessage }}</div>
            <el-button :loading="loading" type="primary" class="login-btn" size="medium" @click.prevent="handleLogin">
              {{ $t('login.action') }}
            </el-button>
          </el-form>
          <a @click="setForgotPassword(true)">{{ $t('login.forgotPasswordLead') }}</a>
        </div>
      </div>
    </div>
    <div class="login-box" v-if="forgotPassword">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <div class="title-container">
            <h3 class="title text-center">{{ $t('login.title') }}</h3>
          </div>
        </div>
        <div class="card-body">
          <p class="login-box-msg">{{ $t('forgotPassword.instruction') }}</p>
          <el-form size="medium" :model="forgotPasswordForm">
            <el-form-item prop="username" :rules="formRulesMixin.isNotNull">
              <div class="rowSC">
                <span class="svg-container">
                  <svg-icon icon-class="envelope" />
                </span>
                <el-input :placeholder="$t('forgotPassword.emailHint')" v-model="forgotPasswordForm.email" />
                <!--占位-->
              </div>
            </el-form-item>
            <el-button :loading="loading" type="primary" class="login-btn" size="medium">
              {{ $t('forgotPassword.action') }}
            </el-button>
          </el-form>
          <p class="mt-3 mb-1">
            <a @click="setForgotPassword(false)">{{ $t('login.action') }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/*可以设置默认的名字*/
export default {
  name: 'Login',
  data() {
    return {
      formInline: {
        username: '0373750960',
        password: 'tuan123'
      },
      loading: false,
      tipMessage: '',
      passwordType: 'password',
      state: {
        otherQuery: {},
        redirect: undefined
      },
      forgotPassword: false,
      forgotPasswordForm: {
        email: ''
      }
    }
  },
  watch: {
    $route(route) {
      console.log(route)
      const query = route.query
      if (query) {
        this.state.redirect = query.redirect
        this.state.otherQuery = this.getOtherQuery(query)
      }
    }
  },
  methods: {
    handleLogin() {
      this.$refs.refloginForm.validate((valid) => {
        if (valid) {
          this.loginReq()
        } else {
          return false
        }
      })
    },
    loginReq() {
      this.loading = true
      this.$store
        .dispatch('auth/login', this.formInline)
        .then(() => {
          // ElMessage({ message: '登录成功', type: 'success' })
          this.$router.push({ path: this.state.redirect || '/', query: this.state.otherQuery })
        })
        .catch((res) => {
          this.tipMessage = res.msg
          this.sleepMixin(30).then(() => {
            this.loading = false
          })
        })
    },
    showPwd(ElForm) {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs[ElForm].focus()
      })
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur]
        }
        return acc
      }, {})
    },
    setForgotPassword(value) {
      this.forgotPassword = value
    }
  }
}
</script>

<style lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;
.login-container {
  height: 100vh;
  width: 100%;
  background: #e9ecef;
  .login-form {
    width: 360px;
  }
  .title-container {
    .title {
      font-size: 22px;
      color: #495057;
      margin: 20px auto;
      text-align: center;
      font-weight: bold;
    }
  }
  .card {
    margin-bottom: 10vh;
    .card-body a {
      color: #007bff;
      text-decoration: none;
      background-color: transparent;
    }
  }
}

.svg-container {
  text-align: center;
  min-width: 40px;
}

//错误提示信息
.tip-message {
  color: #e4393c;
  height: 30px;
  margin-top: -12px;
  font-size: 12px;
}

//登录按钮
.login-btn {
  width: 100%;
  margin-bottom: 30px;
}
.show-pwd {
  width: 50px;
  font-size: 16px;
  color: $dark_gray;
  cursor: pointer;
  text-align: center;
}
</style>

<style lang="scss">
//css 样式重置 增加个前缀避免全局污染
.login-container {
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .el-input input {
    border: 0px;
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 10px 5px 10px 15px;
    height: 42px; //此处调整item的高度
  }
}
</style>
