<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('provinceForm.title', $route.query.mode))">
    <div class="box-card">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        status-icon
        :rules="rules"
        label-width="auto"
        class="demo-ruleForm"
        label-position="top"
      >
        <el-form-item :label="$t('provinceForm.nameLabel')" prop="name">
          <el-input v-model="ruleForm.name" disabled type="text" autocomplete="off" />
        </el-form-item>
        <el-form-item :label="$t('provinceForm.rentalSurchargeLabel')" prop="rentalSurcharge">
          <money3 v-model="ruleForm.rentalSurcharge" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">
            {{ $t($filters.getTranslateByMode('provinceForm.action', $route.query.mode)) }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
export default {
  data() {
    return {
      ruleForm: {
        name: '',
        rentalSurcharge: ''
      },
      rules: {
        name: [{ required: true, message: this.$t('provinceForm.nameRequired'), trigger: 'blur' }],
        rentalSurcharge: [{ required: true, message: this.$t('provinceForm.rentalSurchargeRequired'), trigger: 'blur' }]
      },
      province: null
    }
  },
  mounted() {
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('provinceManager/loadData', this.$route.query.id).then((res) => {
        this.ruleForm = res.data
      })
    }
  },

  methods: {
    actionAdd() {
      this.$store
        .dispatch('provinceManager/addData', this.ruleForm)
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'provinceManager' })
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      this.$store.dispatch('provinceManager/editData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'provinceManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    }
  }
}
</script>
