<template>
  <manager-template-page title="voucherManager.title">
    <data-toolbar @addEvent="addMethod" @reloadEvent="reloadMethod" @filterEvent="filterMethod" />
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="data.results"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column prop="id" :label="$t('voucherManager.id')" width="150" label-class-name="table-header-style" />
      <el-table-column
        prop="value"
        sortable
        x
        :label="$t('voucherManager.value')"
        label-class-name="table-header-style"
      />
      <el-table-column prop="remaining" :label="$t('voucherManager.remaining')" label-class-name="table-header-style" />
      <el-table-column :label="$t('voucherManager.startDate')" label-class-name="table-header-style">
        <template #default="scope">
          {{ $filters.format_date(scope.row.startDate) }}
        </template>
      </el-table-column>

      <el-table-column :label="$t('voucherManager.endDate')" label-class-name="table-header-style">
        <template #default="scope">
          {{ $filters.format_date(scope.row.endDate) }}
        </template>
      </el-table-column>

      <el-table-column
        :label="$t('manager.actions')"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
        label-class-name="table-header-style"
      >
        <template #default="scope">
          <router-link :to="{ name: 'VoucherForm', query: { mode: 'edit', id: scope.row.id } }" class="table-btn-edit">
            <el-button type="warning" size="small">
              <el-icon>
                <svg-icon icon-class="edit" />
              </el-icon>
            </el-button>
          </router-link>
          <el-button
            v-if="scope.row.status != 'deleted'"
            size="small"
            type="danger"
            @click="handleDataSelected(scope.row)"
          >
            <el-icon>
              <svg-icon icon-class="delete" />
            </el-icon>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="data.totalItems > 0"
      :page-size="pageSize"
      :current-page="pageNumber"
      :total="data.totalItems"
      @update:current-page="test"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />

    <el-dialog v-model="dialogVisible" width="30%" :before-close="handleClose">
      <template #title>
        <b>{{ $t('voucherManager.delete.title') }}</b>
      </template>
      <span>
        {{ $t('voucherManager.delete.message') }}
        <i>
          <b>{{ selectedData.id }}</b>
        </i>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">Cancel</el-button>
          <el-button type="primary" @click="handleDataDelete">Confirm</el-button>
        </span>
      </template>
    </el-dialog>
  </manager-template-page>
</template>
<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/pagination/index.vue'
import DataToolbar from '@/components/data-toolbar/index.vue'

export default {
  components: {
    Pagination,
    DataToolbar
  },
  data() {
    return {
      tableKey: 0,
      listLoading: false,
      pageSize: 15,
      pageNumber: 1,
      searchKey: '',
      dialogVisible: false,
      selectedData: null
    }
  },
  computed: {
    ...mapGetters({
      data: 'voucherManager/dataPaged'
    })
  },
  created() {
    this.loadData({
      pageSize: this.pageSize,
      pageNumber: this.pageNumber
    })
  },
  methods: {
    loadData(params) {
      this.$store.dispatch('voucherManager/loadData', params)
    },
    deleteData(id) {
      this.$store.dispatch('voucherManager/deleteData', id)
    },
    addMethod() {
      this.$router.replace({
        name: 'VoucherForm',
        // path: '/system/user/add',
        query: { mode: 'add' }
      })
    },
    reloadMethod() {
      this.loadData({
        pageSize: this.pageSize,
        pageNumber: this.pageNumber,
        id: this.searchKey
      })
    },
    filterMethod(value) {
      this.searchKey = value
      this.pageNumber = 1
      this.loadData({
        pageSize: this.pageSize,
        pageNumber: this.pageNumber,
        id: value
      })
    },
    handleSizeChange(val) {
      this.pageSize = val
      this.loadData({
        pageSize: this.pageSize,
        pageNumber: this.pageNumber,
        id: this.searchKey
      })
    },
    handleCurrentChange(val) {
      this.pageNumber = val
      this.loadData({
        pageSize: this.pageSize,
        pageNumber: this.pageNumber,
        id: this.searchKey
      })
    },
    handleDataSelected(val) {
      this.selectedData = val
      if (this.selectedData != null) {
        this.dialogVisible = true
      } else {
        this.dialogVisible = false
      }
    },
    handleDataDelete() {
      this.deleteData(this.selectedData.id)
      this.selectedData = null
      if (this.selectedData != null) {
        this.dialogVisible = true
      } else {
        this.dialogVisible = false
      }
    }
  }
}
</script>
<style></style>
