<template>
  <el-config-provider :locale="locale">
    <div :class="classObj" class="layout-wrapper">
      <!--left side-->
      <Sidebar class="sidebar-container" v-if="settings.showLeftMenu" />
      <!--right container-->
      <div class="main-container">
        <div class="main-container-decoration"></div>
        <Navbar v-if="settings.showTopNavbar" />
        <!-- <TagsView v-if="settings.showTagsView" /> -->
        <AppMain />
      </div>
    </div>
    <loading v-model:active="isLoading" :can-cancel="true" :on-cancel="onCancel" :is-full-page="fullPage">
      <template #default>
        <Vue3Lottie :animationData="DogJSON" :height="200" :width="200" />
      </template>
    </loading>
  </el-config-provider>
</template>
<!--原理vue2.0-->
<script>
/*可以设置默认的名字*/
export default {
  name: 'Layout'
}
</script>

<script setup>
import ResizeHook from './hook/useResizeHandler'
import elementViLocale from 'element-plus/lib/locale/lang/vi'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
import Vue3Lottie from 'vue3-lottie'
import { Sidebar, Navbar, AppMain, TagsView } from './components'
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
import DogJSON from '@/assets/loading/car-loading.json'
const store = useStore()
let opened = computed(() => {
  return store.state.app.sidebar.opened
})
let settings = computed(() => {
  return store.state.app.settings
})
// let loadingStack = computed(() => {
//   return store.state.app.loadingStack
// })
let classObj = computed(() => {
  return {
    closeSidebar: !opened.value,
    hideSidebar: !settings.value.showLeftMenu
  }
})
const isLoading = computed(() => {
  return store.state.app.loadingStack > 0 ? true : false
})
const fullPage = ref(true)
const doAjax = () => {
  this.isLoading = true
  // simulate AJAX
  setTimeout(() => {
    this.isLoading = false
  }, 5000)
}
const onCancel = () => {
  console.log('User cancelled the loader.')
}
const locale = elementViLocale
//import ResizeHook to  listen  page size that  open or close

ResizeHook()
</script>

<style lang="scss" scoped>
.main-container-decoration {
  width: 100%;
  height: 360px;
  background: linear-gradient(90deg, #5d71e4 0%, #815fe5 100%);
  position: absolute;
}
.main-container {
  // height: 1001vh;
  transition: margin-left 0.28s;
  margin-left: $sideBarWidth;
  // background-color: red;
  position: relative;
}
.sidebar-container {
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
  transition: width 0.28s;
  width: $sideBarWidth !important;
  background-color: $menuBg;
  height: 100%;
  position: fixed;
  font-size: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}
.closeSidebar {
  .sidebar-container {
    width: 54px !important;
  }
  .main-container {
    margin-left: 54px !important;
  }
}
.hideSidebar {
  .sidebar-container {
    width: 0 !important;
  }
  .main-container {
    margin-left: 0;
  }
}
</style>
