<template>
  <manager-template-page :title="$t($filters.getTranslateByMode('routeForm.title', $route.query.mode))">
    <div class="box-card">
      <el-row class="formContainer">
        <el-col :xs="12" :sm="12" :md="12" :lg="12">
          <div class="form">
            <el-form
              ref="ruleForm"
              :model="ruleForm"
              status-icon
              :rules="rules"
              label-width="auto"
              class="demo-ruleForm"
              label-position="top"
            >
              <el-form-item :label="$t('routeForm.startIdLabel')" prop="airport">
                <el-button plain @click="changeMode('selectStart')">
                  {{ ruleForm.start ? ruleForm.start.detail : $t('routeForm.startIdHint') }}
                </el-button>
              </el-form-item>
              <el-form-item :label="$t('routeForm.endIdLabel')" prop="airport">
                <el-button plain @click="changeMode('selectEnd')">
                  {{ ruleForm.end ? ruleForm.end.detail : $t('routeForm.endIdHint') }}
                </el-button>
              </el-form-item>

              <el-form-item :label="$t('routeForm.bookingTypeLabel')" prop="type">
                <el-select v-model="carTypeForm.type" filterable placeholder="Select" @change="onCarTypeChanged">
                  <el-option
                    v-for="item in Object.keys(carType).filter((e) => e != 'rental')"
                    :key="item.id"
                    :label="$t(carType[item])"
                    :value="item"
                  />
                </el-select>
              </el-form-item>

              <el-form-item :label="$t('routeForm.estimatedFeeLabel')" prop="type">
                <el-row :gutter="10" v-for="(carType, index) in carTypeList" :key="index" class="car-type-item">
                  <el-col :span="12">
                    <span class="car-type-item-title">{{ carType.name }}</span>
                  </el-col>
                  <el-col :span="12">
                    <money3 v-model="carType.fee" v-bind="$system.CURRENCY_FORMAT" class="input-money" />
                  </el-col>
                </el-row>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">
                  {{ $t($filters.getTranslateByMode('routeForm.action', $route.query.mode)) }}
                </el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
        <el-col :xs="12" :sm="12" :md="12" :lg="12">
          <div v-show="mode == 'selectStart' || mode == 'selectEnd'" class="searchContainer">
            <el-form
              ref="carTypeForm"
              :model="carTypeForm"
              status-icon
              :rules="carTypeFormRules"
              label-width="auto"
              class="demo-ruleForm"
              label-position="left"
            >
              <el-form-item :label="$t('routeForm.locationSearchLabel')">
                <el-autocomplete
                  v-model="filter.location"
                  :fetch-suggestions="locationSearchChange"
                  debounce="1000"
                  @select="handleSelect"
                />
              </el-form-item>
            </el-form>
            <el-skeleton v-if="loading" :rows="5" />
            <div v-else class="result-container">
              <el-scrollbar height="200px">
                <div
                  class="result-item-container"
                  v-for="item in locationOptions"
                  :key="item.id"
                  @click="selectLocation(item)"
                >
                  <div>
                    <el-tag effect="dark" :type="locationTypeColor[item.type]">
                      {{ $t('location.' + locationType[item.type]) }}
                    </el-tag>
                    {{ item.detail }}
                  </div>
                </div>
              </el-scrollbar>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </manager-template-page>
</template>

<script>
import { ElMessage } from 'element-plus'
import { mapGetters, mapActions } from 'vuex'
import debounce from 'debounce'
import { LOCATION_TYPE, LOCATION_TYPE_COLOR } from '@/constants/locationType'
import { CAR_TYPE } from '@/constants/carType'

export default {
  data() {
    return {
      state: '',
      carType: CAR_TYPE,
      locationType: LOCATION_TYPE,
      locationTypeColor: LOCATION_TYPE_COLOR,
      ruleForm: {
        start: null,
        end: null,
        carType: null,
        endId: '',
        carTypeId: '',
        estimatedFee: 0,
        carTypeFee: []
      },
      carTypeForm: {
        type: '',
        name: ''
      },
      carTypeResult: null,
      loading: false,
      filter: {
        location: ''
      },
      mode: ''
    }
  },
  computed: {
    carTypeFormRules() {
      return {
        type: [
          {
            required: true,
            message: this.$t('routeForm.bookingTypeRequired'),
            trigger: 'blur'
          }
        ]
      }
    },
    ...mapGetters('routeManager', ['carTypeList'])
  },
  watch: {
    'ruleForm.type'(newValue) {}
  },
  mounted() {
    if (this.$route.query.mode == 'edit') {
      this.$store.dispatch('routeManager/loadData', this.$route.query.id).then((res) => {
        this.ruleForm = res.data
      })
    }
  },
  methods: {
    ...mapActions('routeManager', ['loadData', 'searchData', 'loadCarType']),
    changeMode(val) {
      this.mode = val
    },
    selectLocation(val) {
      if (this.mode == 'selectStart') {
        this.ruleForm.start = val
      }
      if (this.mode == 'selectEnd') {
        this.ruleForm.end = val
      }
    },
    onSubmitFilterLocation() {
      this.loading = true
      this.$store
        .dispatch('locationManager/searchData', { ...this.filter })
        .then((res) => {
          this.locationOptions = res.data
          this.loading = false
        })
        .catch((res) => {
          this.loading = false
        })
    },

    onSubmitFilterCarType() {
      this.$refs['carTypeForm'].validate((valid) => {
        if (valid) {
          this.loading = true
          this.$store
            .dispatch('carTypeManager/searchData', this.carTypeForm)
            .then((res) => {
              console.log(res)
              this.carTypeResult = res.data
              this.loading = false
            })
            .catch((res) => {
              this.loading = false
            })
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    actionAdd() {
      console.log(this.carTypeList)
      this.$store
        .dispatch('routeManager/addData', {
          startId: this.ruleForm.start.id,
          endId: this.ruleForm.end.id,
          carTypeId: this.ruleForm.carType.id,
          estimatedFee: this.ruleForm.estimatedFee
        })
        .then((res) => {
          ElMessage({ message: res.messages.join(), type: 'success' })
          this.$router.replace({ name: 'routeManager' })
        })
        .catch((err) => {
          console.log(err)
          // ElMessage({ message: err.messages.join(), type: 'error' })
        })
    },
    actionEdit() {
      this.$store.dispatch('routeManager/editData', this.ruleForm).then((res) => {
        ElMessage({ message: res.messages.join(), type: 'success' })
        this.$router.replace({ name: 'routeManager' })
      })
    },
    submitForm(formEl) {
      if (!formEl) return
      this.$refs[formEl].validate((valid) => {
        if (valid) {
          if (this.$route.query.mode == 'add') {
            this.actionAdd()
          } else if (this.$route.query.mode == 'edit') {
            this.actionEdit()
          }
        } else {
          console.log('error submit!')
          return false
        }
      })
    },
    resetData() {
      this.ruleForm.name = ''
      this.ruleForm.driverName = ''
      this.ruleForm.detail = ''
      this.ruleForm.phoneNumber = ''
      this.ruleForm.partnerId = ''
    },

    remoteCarTypeMethod(query) {
      if (query) {
        debounce(this.loadCarTypeOptions({ name: query }), 1000)
      } else {
        this.options.value = []
      }
    },
    locationSearchChange(val, cb) {
      if (val) {
        this.onSubmitFilterLocation()
      }
      cb([])
    },
    carTypeSearchChange(val, cb) {
      if (val) {
        this.onSubmitFilterCarType()
      }
      cb([])
    },
    onCarTypeChanged(val) {
      console.log(val)
      this.loadCarType({ type: val })
    }
  }
}
</script>

<style scoped>
.box {
  background: white;

  height: 80vh;
}
.formContainer {
  height: 100%;
}
.form {
  padding: 10px 10px;
  height: 100%;
}
.searchContainer {
  height: 100%;
  padding: 10px 10px;
}
.result-container {
  margin: 10px 0 0 0;
}
.result-item-container {
  /* background: lightgrey; */
  padding: 10px 0;
  cursor: pointer;
}
.car-type-item {
  margin: 10px 0 0 0;
}
.car-type-item-title {
  font-size: 13px;
}
</style>
